
@{
    ViewData["Title"] = "dApps";
}
<div class="container body-content">
    <h2>dApps</h2>

    <a class="btn btn-primary" href="javascript:">添加dApp</a>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h3>AgencyContract</h3>
            <p>Agency Contract 2.0</p>
            <p>Erik Zhang</p>
            <p>ce3a97d7cfaa770a5e51c5b12cd1d015fbb5f87d</p>
        </div>
    </div>
</div>

