@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "dApps";
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/dapps.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/dapps.min.css" asp-append-version="true" />
    </environment>
}
<div class="container body-content">
    <h1 class="m2">@Localizer["NEO dApp List"]</h1>
    <div class="m2">
        <a class="btneo t1" target="_blank" href="https://github.com/neo-project/neo.org/tree/develop/NeoWeb/Views/DApps">@Localizer["Add dApp"]</a>
    </div>

    <div class="dapp">
        <a href="https://coin.red-pulse.com/" target="_blank">
            <img width="300" height="150" src="~/images/dapps/redpulse.png">
        </a>
        <div>
            <h3>
                <a href="https://coin.red-pulse.com/" target="_blank">
                    Red Pulse (RPX)
                </a><br>
                <small>by <a href="https://www.red-pulse.com/" target="_blank">Red Pulse</a></small>
                
            </h3>
            <p class="description">Red Pulse Tokens (RPX) are NEO tokens issued by Red Pulse, an event-driven research firm covering market events impacting Chinese companies, sectors and the overall economy.</p>
            <p><a href="https://neotracker.io/contract/ecc6b20d3ccac1ee9ef109af5a7cdb85706b1df9" target="_blank">0xecc6b20d3ccac1ee9ef109af5a7cdb85706b1df9</a></p>
        </div>
    </div>

    <div class="dapp">
        <a href="https://github.com/AdExBlockchain" target="_blank">
            <img width="300" height="150" src="~/images/dapps/AdExBlockchain.png">
        </a>
        <div>
            <h3>
                <a href="https://github.com/AdExBlockchain" target="_blank">
                    AdEx
                </a>
                <br>
                <small>by <a href="http://adex.network/" target="_blank">adex.network</a></small>
            </h3>
            <p class="description">AdEx is a decentralized ad exchange built on the blockchain and smart contracts. The core feature of AdEx will be the so-called AdEx User Profile - a personalized page that allows every end user to understand and control the ads delivered to them.</p>
            <p><a href="javascript:" target="_blank">In Development</a></p>
        </div>
    </div>


    <div class="dapp">
        <a href="https://github.com/zeepin" target="_blank">
            <img width="300" height="150" src="~/images/dapps/zeepin.png">
        </a>
        <div>
            <h3>
                <a href="https://github.com/zeepin" target="_blank">
                    zeepin
                </a>
                <br>
                <small>by <a href="http://zeepin.io/" target="_blank">Zeepin</a></small>
            </h3>
            <p class="description">Distributed Creative New Economy.
            Zeepin, a decentralized innovation community, is dedicated to promoting highly efficient circulation of innovation assets. </p>
            <p><a href="javascript:" target="_blank">In Development</a></p>
        </div>
    </div>


    <p class="t3 m2"> @Localizer["These dAPPs come from the community. The information on this page is provided by the project owner. NEO does not endorse these projects."]</p>
</div>
@section Scripts{
    <script>
        $("#menu_list a").css("border-bottom", "none")
        $("#menu_list li.menu-item [href='/dapps']").css("border-bottom", "2px solid #58bf00")
    </script>
}
