@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["NEO dApp List"];
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/dapps.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/dapps.min.css" asp-append-version="true" />
    </environment>
}
<div class="container-fluid body-content">
    <h1 class="m2">@Localizer["NEO dApp List"]</h1>
    <div class="m2">
        <a class="btneo t1" target="_blank" href="https://github.com/neo-project/neo.org/tree/master/NeoWeb/Views/DApps">@Localizer["Add dApp"]</a>
    </div>

    <div class="dapp">
        <img width="300" height="150" data-original="images/dapps/nex.png">
        <div>
            <h3>
                NEX
                <br>
                <small>by <a href="https://neonexchange.org/" target="_blank">The NEX Team</a></small>
            </h3>
            <p class="description">NEX combines the NEO blockchain with an off-chain matching engine to enable much faster and more complex trades than existing decentralized exchanges </p>
            <p>
                <a href="https://neonexchange.org/" target="_blank">Website</a>
                <a href="https://neonexchange.org/pdfs/whitepaper_v1.1.pdf" target="_blank">Whitepaper</a>
                <a href="https://www.twitter.com/neonexchange" target="_blank">Twitter</a>
                <a href="https://www.linkedin.com/company/27124160" target="_blank">LinkedIn</a>
                <a href="https://www.medium.com/neon-exchange" target="_blank">Medium</a>
            </p>
        </div>
    </div>

    <div class="dapp">
        <img width="300" height="150" data-original="images/dapps/moonlight.png">
        <div>
            <h3>
                Moonlight<br>
                <small>by <a href="https://moonlight.io/" target="_blank">The Moonlight Team</a></small>
            </h3>
            <p class="description">Moonlight is a distributed workforce and analytical project management platform featuring a global public ledger of contributor work experience and a new match-making algorithm to effectively fulfill project needs.</p>
            <p>
                <a href="https://moonlight.io/" target="_blank">Website</a>
            </p>
        </div>
    </div>

    <div class="dapp">
        <img width="300" height="150" data-original="images/dapps/redpulse.png">
        <div>
            <h3>
                Red Pulse<br>
                <small>by <a href="https://www.red-pulse.com/" target="_blank">Red Pulse</a></small>
            </h3>
            <p class="description">Red Pulse Tokens (RPX) are NEO tokens issued by Red Pulse, an event-driven research firm covering market events impacting Chinese companies, sectors and the overall economy.</p>
            <p>
                <a href="https://coin.red-pulse.com/" target="_blank">Website</a>
                <a href="https://www.reddit.com/r/RedPulseToken/" target="_blank">Reddit</a>
            </p>
        </div>
    </div>

    <div class="dapp">
        <img width="300" height="150" data-original="images/dapps/AdExBlockchain.png">
        <div>
            <h3>
                AdEx<br>
                <small>by <a href="http://adex.network/" target="_blank">adex.network</a></small>
            </h3>
            <p class="description">AdEx is a decentralized ad exchange built on the blockchain and smart contracts. The core feature of AdEx will be the so-called AdEx User Profile - a personalized page that allows every end user to understand and control the ads delivered to them.</p>
            <p>
                <a href="https://github.com/AdExBlockchain" target="_blank">Website</a>
                <a href="https://medium.com/the-adex-blog" target="_blank">Medium</a>
                <a href="https://www.facebook.com/AdEx-by-Stremio-756186427900381/" target="_blank">Facebook</a>
                <a href="https://t.me/AdExNetwork" target="_blank">Telegram</a>
                <a href="https://twitter.com/AdEx_Network" target="_blank">Twitter</a>
                <a href="https://www.reddit.com/r/AdEx/" target="_blank">Reddit</a>
            </p>
        </div>
    </div>

    <div class="dapp">
        <img width="300" height="150" data-original="images/dapps/zeepin.png">
        <div>
            <h3>
                Zeepin
                <br>
                <small>by <a href="https://www.zeepin.io/" target="_blank">Zeepin</a></small>
            </h3>
            <p class="description">The Distributed Creative New Economy. <br />Zeepin, a decentralized innovation community, is dedicated to promoting highly efficient circulation of innovation assets.<br />Smart work, Creative life!</p>
            <p>
                <a href="https://www.zeepin.io/" target="_blank">Website</a>
                <a href="https://t.me/zeepin" target="_blank">Telegram</a>
                <a href="https://twitter.com/ZeepinChain" target="_blank">Twitter</a>
                <a href="https://www.facebook.com/ZeepinChain" target="_blank">Facebook</a>
                <a href="https://www.reddit.com/r/zeepin/" target="_blank">Reddit</a>
                <a href="https://medium.com/@@zeepin" target="_blank">Medium</a>
                <a href="https://github.com/zeepin" target="_blank">GitHub</a>
            </p>
        </div>
    </div>

    <div class="dapp">
        <img width="300" height="150" data-original="images/dapps/Qlink.png">
        <div>
            <h3>
                Qlink
                <br>
                <small>by <a href="https://medium.com/@@Qlink" target="_blank">Allen Li</a></small>
            </h3>
            <p class="description">
                Qlink, developed by Qlink Foundation in Singapore, adopts the blockchain technology and creates a decentralized mobile network for P2Peer WiFi sharing, mobile data converted content distribution, enterprise telecom services and crowd-sourcing base stations (including WiFi hotspots ) set-up, generally in much lower cost and ultimate secured format.
            </p>
            <p>
                <a href="https://medium.com/@@Qlink" target="_blank">Medium Page</a>
                <a href="https://medium.com/@@Qlink/qlink-noticed-you-have-questions-as-such-94aa5095d10a" target="_blank">AMA summary</a>
            </p>
        </div>
    </div>

    <div class="dapp">
        <img width="300" height="150" data-original="images/dapps/NeoSmartIoT.png">
        <div>
            <h3>
                Neo Smart IoT
                <br>
                <small>by <a href="https://github.com/hal0x2328" target="_blank">hal0x2328</a>, <a href="https://github.com/phetter" target="_blank">phetter</a></small>
            </h3>
            <p class="description">Control IoT (Internet of Things) devices via Neo smart contracts (first device is an ESP8266).</p>
            <p>
                <a href="https://iot.splyse.tech/" target="_blank">Website</a>
                <a href="https://github.com/Splyse/neo-smart-iot" target="_blank">GitHub</a>
            </p>
        </div>
    </div>

    <div class="dapp">
        <img width="300" height="150" data-original="images/dapps/Imusify.png">
        <div>
            <h3>
                Imusify
                <br>
                <small>by <a href="https://github.com/DavidWalters123" target="_blank">DavidWalters123</a>, <a href="https://github.com/geek96" target="_blank">geek96</a>, <a href="https://github.com/Nikolaj-K" target="_blank">Nikolaj-K</a>, <a href="https://github.com/metachris" target="_blank">metachris</a></small>
            </h3>
            <p class="description">imusify is a free, blockchain based, incentified and decentralized platform for music related digital content such as audio, video, apps, images, and blogging where anyone can join, contribute and get paid $IMU.</p>
            <p>
                <a href="http://www.imusify.com/" target="_blank">Website</a>
                <a href="https://github.com/imusify" target="_blank">GitHub</a>
            </p>
        </div>
    </div>

    <div class="dapp">
        <img width="300" height="150" data-original="images/dapps/ChainLine.png">
        <div>
            <h3>
                Chain Line
                <br>
                <small>by <a href="https://github.com/notatestuser" target="_blank">notatestuser</a></small>
            </h3>
            <p class="description">Peer-to-peer courier platform. Couriers transport items to fulfill demands and earn courier fees.</p>
            <p>
                <a href="https://chainline.co/" target="_blank">Website</a>
                <a href="https://github.com/notatestuser/chainline-contracts-kt" target="_blank">GitHub</a>
            </p>
        </div>
    </div>

    <div class="dapp">
        <img height="150" data-original="images/dapps/BlockAuth.gif">
        <div>
            <h3>
                BlockAuth
                <br>
                <small>by <a href="https://github.com/revett" target="_blank">revett</a></small>
            </h3>
            <p class="description">BlockAuth allows users to login (authenticate) to apps and websites by invoking a NEO smart contract from a NEO address tied to the user’s account. It aims to be the Blockchain OpenID.</p>
            <p>
                <a href="http://demo.blockauth.cc/" target="_blank">Demo</a>
                <a href="https://github.com/blockauth" target="_blank">GitHub</a>
                <a href="https://github.com/blockauth/whitepaper" target="_blank">Whitepaper</a>
            </p>
        </div>
    </div>

    <div class="dapp">
        <img width="300" height="150" data-original="images/dapps/Phantasma.png">
        <div>
            <h3>
                Phantasma
                <br>
                <small>by <a href="https://github.com/Relfos" target="_blank">Relfos</a></small>
            </h3>
            <p class="description">Phantasma is a platform where the users control their own content, instead of relying in third parties servers. The platform support any kind of transactions between users, eg: email, chat, files, money transfers. NEO was used for this project due to its fast transactions and C# support, combined with IPFS (a distributed file system) to store the actual messages, encrypted with the keys from the NEO wallets.</p>
            <p>
                <a href="http://45.76.88.140:7070/demo" target="_blank">Demo</a>
                <a href="http://45.76.88.140:7070/" target="_blank">Website</a>
                <a href="https://github.com/Relfos/phantasma" target="_blank">GitHub</a>
            </p>
        </div>
    </div>

    <div class="dapp">
        <img width="300" height="150" data-original="images/dapps/NeoTrade.png">
        <div>
            <h3>
                NeoTrade
                <br>
                <small>by <a href="https://github.com/birmas" target="_blank">birmas</a></small>
            </h3>
            <p class="description">NeoTrade is a NEP5 trading platform.Inspired by Etherdelta, NeoTrade is a NEO based smart contract that allows users to deposit NEO, GAS or any other NEP-5 asset directly to the smart contract and trade amongst themselves.</p>
            <p>
                <a href="http://neotrade.io/" target="_blank">Website</a>
                <a href="https://github.com/birmas/neotrade" target="_blank">GitHub</a>
            </p>
        </div>
    </div>

    <div class="dapp">
        <img width="300" height="150" data-original="images/dapps/Turing.png">
        <div>
            <h3>
                Turing Complete Smart Contract
                <br>
                <small>by <a href="https://github.com/Nikolaj-K" target="_blank">Nikolaj-K</a></small>
            </h3>
            <p class="description">A smart contract which interprets encoded classical Turing machines.</p>
            <p>
                <a href="https://www.youtube.com/watch?v=CAUo5aNmvz8" target="_blank">Youtube</a>
                <a href="https://github.com/Nikolaj-K/turing-complete-smart-contract" target="_blank">GitHub</a>
            </p>
        </div>
    </div>

    <div class="dapp">
        <img width="300" height="150" data-original="images/dapps/Krypton.png">
        <div>
            <h3>
                Krypton
                <br>
                <small>by <a href="https://github.com/MediaServe" target="_blank">MediaServe</a></small>
            </h3>
            <p class="description">KRYPTON is a Smart Contract and ecosystem to provide SIP registration on the NEO blockchain using a KRYPTON compatible SIP provider.</p>
            <p>
                <a href="https://youtu.be/6KG_15rXimk" target="_blank">Youtube</a>
                <a href="https://krypton.live/" target="_blank">Demo</a>
                <a href="https://github.com/MediaServe/KRYPTON" target="_blank">GitHub</a>
            </p>
        </div>
    </div>

    <div class="dapp">
        <img width="300" height="150" data-original="images/dapps/Switcheo.png">
        <div>
            <h3>
                Switcheo
                <br>
                <small>by <a href="https://github.com/RavenXce" target="_blank">RavenXce</a>, <a href="https://github.com/henrytimelessness" target="_blank">henrychua</a>, <a href="https://github.com/jackyeu" target="_blank">jackyeu</a></small>
            </h3>
            <p class="description">Switcheo is a decentralised exchange built on NEO’s blockchain. It supports trading of NEP-5 tokens and NEO system assets like GAS & NEO. It aims to be a truly decentralised exchange while still providing for a superb user experience.</p>
            <p>
                <a href="https://www.youtube.com/watch?v=sVu5fGBeUt8" target="_blank">Youtube</a>
                <a href="http://switcheo.network/" target="_blank">Website</a>
                <a href="https://github.com/ConjurTech/switcheo" target="_blank">GitHub</a>
            </p>
        </div>
    </div>

    <div class="dapp">
        <img width="300" height="150" data-original="images/dapps/TripShares.png">
        <div>
            <h3>
                TripShares
                <br>
                <small>by <a href="https://github.com/xtolya" target="_blank">xtolya</a></small>
            </h3>
            <p class="description">Trip sharing with deposits. Travellers commit to a shared seat by depositing $TRS NEP-5 tokens, which are used as insurance when the passenger cancels the trip after a set date.</p>
            <p>
                <a href="http://tripshares.azurewebsites.net/" target="_blank">Website</a>
                <a href="https://github.com/xtolya/TripShares" target="_blank">GitHub</a>
            </p>
        </div>
    </div>

    <div class="dapp">
        <img width="300" height="150" data-original="images/dapps/BlockSaver.png">
        <div>
            <h3>
                BlockSaver
                <br>
                <small>by <a href="https://github.com/mpetrunic" target="_blank">mpetrunic</a>, <a href="https://github.com/BlockSaver/backend/commits?author=morrigan" target="_blank">morrigan</a></small>
            </h3>
            <p class="description">Saving smart contract, with interests and fines. You can define how long to lock NEO and GAS assets, the smart contract defines an interest rate, and the system has a penalty for early withdrawal.</p>
            <p>
                <a href="https://github.com/BlockSaver/smart-saving-contract/" target="_blank">GitHub</a>
            </p>
        </div>
    </div>

    <div class="dapp">
        <img width="300" height="150" data-original="images/dapps/LuckyNEO.png">
        <div>
            <h3>
                Lucky NEO
                <br>
                <small>by <a href="https://github.com/mmoravec" target="_blank">mmoravec</a>, <a href="https://github.com/leorong" target="_blank">leorong</a>, <a href="https://github.com/Stefandasbach" target="_blank">Stefandasbach</a>, <a href="https://github.com/Wesleyleung" target="_blank">Wesleyleung</a>, <a href="https://github.com/IDlOT" target="_blank">tammerabi</a></small>
            </h3>
            <p class="description">Lucky NEO allows anyone to send their extra gas to a raffle contest. One winner will be chosen every two weeks and automatically paid out. Lucky NEO uses an admin account to automatically pay out the winner to the address that sent the funds; so you don’t have to follow the contest and claim the gas yourself.</p>
            <p>
                <a href="https://hackernoon.com/introducing-lucky-neo-an-open-source-cryptocurrency-raffle-project-6f241f3501c2" target="_blank">Post</a>
                <a href="https://github.com/mmoravec/luckyneo" target="_blank">GitHub</a>
            </p>
        </div>
    </div>

    <div class="dapp">
        <img width="300" height="150" data-original="images/dapps/NeoFund.png">
        <div>
            <h3>
                Neo Fund
                <br>
                <small>by <a href="https://github.com/nickazg" target="_blank">nickazg</a></small>
            </h3>
            <p class="description">Neo Fund is a decentralised crowdfunding platform, similar to Kickstarter. The basic function is to set a goal amount, and date limit. If the goal is reached the creator of the fund will be awarded the funds, and if not the contributors can redeem their funds again.</p>
            <p>
                <a href="https://github.com/nickazg/neo-fund" target="_blank">GitHub</a>
            </p>
        </div>
    </div>

    <div class="dapp">
        <img width="300" height="150" data-original="images/dapps/NeoRaffle.png">
        <div>
            <h3>
                Neo Raffle
                <br>
                <small>by <a href="https://github.com/ambethia" target="_blank">ambethia</a></small>
            </h3>
            <p class="description">A smart contract that enables a raffle/lottery on the Neo block chain. Send GAS, win GAS! This project also demonstrates a solid way to use random numbers in a smart contract</p>
            <p>
                <a href="http://neo-raffle.win/" target="_blank">Website</a>
                <a href="https://github.com/ambethia/neo-raffle" target="_blank">GitHub</a>
            </p>
        </div>
    </div>

    <div class="dapp">
        <img width="300" height="150" data-original="images/dapps/NepSwap.png">
        <div>
            <h3>
                NepSwap
                <br>
                <small>by <a href="https://github.com/block-shaman" target="_blank">block-shaman</a></small>
            </h3>
            <p class="description">Protocol and smart contract for trading NEP-5 based assets.NepSwap is a protocol and smart contract for trading NEP-5 assets. This prototype idea is based on Etherdelta and Bancor. It doesn’t have a personal token or ICO, this project is intended for community, and non-profit. NepSwap is generic, so any asset at any time can be traded or kept as balance on the account.</p>
            <p>
                <a href="https://github.com/block-shaman/NepSwap" target="_blank">GitHub</a>
            </p>
        </div>
    </div>

    <div class="dapp">
        <img width="300" height="150" data-original="images/dapps/SmartPromise.png">
        <div>
            <h3>
                Smart Promise
                <br>
                <small>by <a href="https://github.com/SergeyAnkarenko" target="_blank">SergeyAnkarenko</a>, <a href="https://github.com/marlyonya" target="_blank">marlyonya</a></small>
            </h3>
            <p class="description">Smart Promise is an electronic journal of smart promises developed through Blockchain. User of such an environment receives a reward for each of his fulfilled promises. The concept of the idea contains the possibility to get a strong motivation to action that user pointed in promise.</p>
            <p>
                <a href="https://www.youtube.com/watch?v=eCpQqc3TAmQ" target="_blank">Youtube</a>
                <a href="http://smartpromise.azurewebsites.net/" target="_blank">Website</a>
                <a href="https://github.com/SmartPromise" target="_blank">GitHub</a>
                <a href="https://vk.com/doc197649082_454653914?hash=90cc7eb16cf556831b&dl=f4df5db422f65d0a8d" target="_blank">Whitepaper</a>
            </p>
        </div>
    </div>

    <div class="dapp">
        <img width="300" height="150" data-original="images/dapps/SunnydApp.png">
        <div>
            <h3>
                Sunny dApp
                <br>
                <small>by <a href="https://github.com/JorritvandenBerg" target="_blank">JorritvandenBerg</a></small>
            </h3>
            <p class="description">This dApp allows you to insure against bad weather conditions on a given day. If the relative sunshine duration on that day is lower than 50 percent, you get paid.</p>
            <p>
                <a href="https://sunnydapp.searz.io/" target="_blank">Website</a>
                <a href="https://github.com/JorritvandenBerg/sunny-dapp" target="_blank">GitHub</a>
            </p>
        </div>
    </div>

    <div class="dapp">
        <img width="300" height="150" data-original="images/dapps/NeoNS.png">
        <div>
            <h3>
                NEO Name Service
                <br>
                <small>by <a href="https://github.com/NewEconoLab" target="_blank">NewEconoLab(NEL)</a></small>
            </h3>
            <p class="description">Distributed domain name service ending with .neo based on NEO blockchain</p>
            <p>
                <a href="http://neons.name/" target="_blank">Website</a>
                <a href="https://github.com/NewEconoLab/neo-ns" target="_blank">GitHub</a>
            </p>
        </div>
    </div>

    <div class="dapp">
        <img width="300" height="150" data-original="images/dapps/THEKEY.png">
        <div>
            <h3>
                THEKEY
                <br>
                <small>by <a href="https://thekey.vip" target="_blank">THEKEY team</a></small>
            </h3>
            <p class="description">
                THEKEY is a Decentralized Ecosystem of Identity Verification Tool Using National Big-data and Blockchain.<br />
                THEKEY Project Team is now developing an identification verification (IDV) tool with blockchain based dynamic multi-dimension identification (BDMI) by using Personally Identifiable Information (PII) which is exclusively authorized by government authorities.
            </p>
            <p>
                <a href="https://thekey.vip" target="_blank">website</a>
                <a href="https://github.com/thekeygithub/THEKEY" target="_blank">GitHub</a>
                <a href="https://t.me/THEKEYOFFICIAL" target="_blank">telegram</a>
                <a href="https://www.facebook.com/TheKey-1439094662870680/" target="_blank">facebook</a>
                <a href="https://twitter.com/thekeyvip" target="_blank">twitter</a>
            </p>
        </div>
    </div>

    <div class="dapp">
        <img width="300" height="150" data-original="images/dapps/otcgo.png">
        <div>
            <h3>
                蓝鲸淘
                <br>
                <small>by <a href="https://github.com/OTCGO" target="_blank">申一科技</a></small>
            </h3>
            <p class="description">蓝鲸淘智能资产去中心化管理平台。通过开源的区块链技术与智能合约规则，为用户提供点对点、无中介的数字资产流转服务。降低数字资产在流转过程中的信用成本。</p>
            <p>
                <a href="https://otcgo.cn/" target="_blank">Website</a>
                <a href="https://github.com/OTCGO/" target="_blank">GitHub</a>
            </p>
        </div>
    </div>
    <div class="dapp">
        <img width="300" height="150" data-original="images/dapps/Trinity.png">
        <div>
            <h3>
                TRINITY
                <br>
                <small>by <a href="https://trinity.tech" target="_blank">Trinity team</a></small>
            </h3>
            <p class="description">
                Trinity is applicable to blockchain transfer of NEP-5 standard tokens.<br />
                As a Neo-version lightening network, Trinity achieves real-time payment, low transaction fees, scalability, and privacy protection of Neo mainnet assets through state channels technology.
            </p>
            <p>
                <a href="https://trinity.tech" target="_blank">website</a>
                <a href="https://github.com/trinity-project" target="_blank">GitHub</a>
                <a href="https://t.me/TrinityStateChannels" target="_blank">telegram</a>
                <a href="https://twitter.com/TrinityProtocol" target="_blank">twitter</a>
            </p>
        </div>
    </div>

    <div class="dapp hidden">
        <img width="300" height="150" data-original="images/dapps/template.png">
        <div>
            <h3>
                Name
                <br>
                <small>by <a href="" target="_blank">Author</a></small>
            </h3>
            <p class="description">Description</p>
            <p>
                <a href="" target="_blank">Youtube</a>
                <a href="" target="_blank">Demo</a>
                <a href="" target="_blank">Website</a>
                <a href="" target="_blank">GitHub</a>
            </p>
        </div>
    </div>
    <p class="t3 m2"> @Localizer["These dAPPs come from the community. The information on this page is provided by the project owner. NEO does not endorse these projects."]</p>
</div>
@section Scripts{
    <script src="~/js/jquery.lazyload.min.js"></script>
    <script>
        $("#menu_list a").css("border-bottom", "none");
        $("#menu_list li.nav-item [href='/dapps']").css("border-bottom", "2px solid #58bf00");
        $('[data-original]').lazyload({
            threshold: 200,
            effect: "fadeIn"
        });
    </script>
}
