.warp
  .container
    .artical_container
      .artical_title.wow.fadeInLeft
        | NEO JULY PLAN
        p 2017/7/3 2:54:04
      .entrie_artical.wow.fadeInRight
        p
          | After NEO rebanding conference, July is coming. July is hot, July is the start of half year, July is also the first completed month of NEO. In July, NEO is to complete rebranding from Antshares, to start NEO Seed Project and "NEO Blockchain-Landmark"
        p
          | Very thanks to all NEO community members over the world ! Before describing July plan, let’s see some recent NEO community data. Some of them are amazing.
        p
          | Reddit subscribers: over 7500, which is just less than 3000 two weeks ago. Unbelievable.
          | Twitter followers: over 12400, which is increased over 3000 during last 2 weeks.
        p
          | There are many good advices coming along with the community increasing. Here’s one of them.https://medium.com/@neochain3_66408/antshares-neo-tips-for-the-team-d8aa50fc5b13. Thanks @Jimmie Schrute very much. We could feel your warm heart, which is desiring a better NEO.
          b  Thanks to you all, NEO community!
    .artical_comment
      ul.wow.fadeInDown
        li
          .comment_writer
            span NEO_FANS123
            | SAYS：
          .comment_content
            | Lovely work guys, thanks for the update! Would love to see what the future brings for NEO and its fans. Always a supporter!
        li
          .comment_writer
            span NEO_FANS123
            | SAYS：
          .comment_content
            | Lovely work guys, thanks for the update! Would love to see what the future brings for NEO and its fans. Always a supporter!
    .reg_login.wow.fadeInUp
      a LOGIN
      |  OR
      a REGISTER
      |  TO COMMENT
