.warp
  .container
    .get_title.wow.fadeInLeft  NEO BLOG
    .blog_content.flipInX
      // this part should get the data from server
      ul#blogNavigation.blog_navigation
        li
          a.blog_year 2017
          ul.wow.flipInX
            li JULY
            li JUNE
            li MAY
            li APPIL
            li MARCH
            li FERUARY
            li JANUARY
        li
          a.blog_year 2016
          ul.wow.flipInX
            li JULY
            li JUNE
            li MAY
            li APPIL
            li MARCH
            li FERUARY
            li JANUARY
        li
          a.blog_year 2015
          ul.wow.flipInX
            li JULY
            li JUNE
            li MAY
            li APPIL
            li MARCH
            li FERUARY
            li JANUARY
      ul#blogArticle.blog_article
        li
          .blog_title
            a NEO JULY PLAN
            span.publish_time 2017/7/3  2:54:04
          .artical_content
            .artical_intro
              | After NEO rebanding conference, July is coming. July is hot, July is the start of half year, July is also the first completed month of NEO. In July, NEO is to complete rebranding...
            .artical_writer
              p 陶荣祺
              a.comments(href='#')
                span 12
                |  Comments
              a.times_read(href='#')
                span 123456
                |  times read
        li
          .blog_title
            a NEO JULY PLAN
          .artical_content
            .artical_intro
              | After NEO rebanding conference, July is coming. July is hot, July is the start of half..
            .artical_writer
              p 陶荣祺
              a.comments(href='#')
                span 12
                |  Comments
              a.times_read(href='#')
                span 123456
                |  times read
        li
          .blog_title
            a NEO JULY PLAN
          .artical_content
            .artical_intro
              | After NEO rebanding conference, July is coming. July is hot, July is the start of half year, July is also the first completed month...
            .artical_writer
              p 陶荣祺
              a.comments(href='#')
                span 12
                |  Comments
              a.times_read(href='#')
                span 123456
                |  times read
        li
          .blog_title
            a NEO JULY PLAN
          .artical_content
            .artical_intro
              | After NEO rebanding conference, July is coming. July is hot, July is the start of half year, July is also the first completed month of NEO. In July, NEO is to complete rebranding...
            .artical_writer
              p 陶荣祺
              a.comments(href='#')
                span 12
                |  Comments
              a.times_read(href='#')
                span 123456
                |  times read
