.section.download-page
  .download-page--wraper
    h2 GET&nbsp;
      span NEO
    p You can get NEO on a variety of platforms. Select the one<br> most suitable for you. Contact support@neo.com for any<br>enquiries or bug reports.
    ul.ico-platform#neoTitle
      li.mobile
        span MOBILE
      li.desktop.download_selected
        span DESKTOP
      li.web
        span WEB
    .wraper-list-download
      ul.download-edition.mobile.fadeIn#change_0
        li.mobile
          h3 NEO APP
          p A lightweight and portable version of the PC edition. Full fuctionality available for developers. iOS version coming soon.
          a(href="#", class="link-download") DOWNLOAD
      ul.download-edition.fadeIn.change_show#change_1
        li.pc
          h3 PC EDITION
          p PC edition supports more functions.<br>Recommended to Windows users. Fully<br>customizable build for power users.
          a(href="#", class="link-download") DOWNLOAD
        li.command-line
          h3 COMMAND LINE
          p Get NEO from the convenience of your<br>browser. Unlock powerful tools as you go<br>and discover the power of NEO.
          a(href="#", class="link-download") DOWNLOAD
      ul.download-edition.fadeIn#change_2
        li.web-browser
          h3
            img(src="images/web-browser-ico.png")
          p Get NEO from the convenience of your browser. Unlock powerful tools as you go and discover the power of NEO.
          a(href="#", class="link-download") DOWNLOAD
        li.github
          h3
            img(src="images/github-logo.png")
          p Neo/Antshares in an open-source network and is based on MIT protocol. Our codes on all on Github. Anyone interested can download our source code.
          a(href="#", class="link-download").big VISIT REPOSITORY
          a(href="#", class="link-download").big SOURCE CODE
        li.Community
          h3 COMMUNITY
          p You can become a part of the community by taking the NEO Introductory Course and passing it.
          span(class="contact") contact@antshares.org
          a(href="#", class="link-download").big JOIN COMMUNITY



    .link-buy
      span You can buy NEO gas (tokens) on the following exchange websites:
      ul
        li
          img(src="images/link-1.png")
        li
          img(src="images/link-2.png")
        li
          img(src="images/link-3.png")
        li
          img(src="images/link-4.png")
        li
          img(src="images/link-6.png")

