.section.footer-comunity.fp-auto-height
  .wraper-footer-comunity
    .content-footer-comunity
      .row
        .col-lg-12
          .top-wraper
            h2 COMMUNITY
        .col-lg-12
          .row
            .col-lg-5
              .content-footer-comunity--left
                .logo
                  img(src="images/logo-neo.png")
                .contact
                  span contact@neo.org
                .tagline
                  p NEO originates from the ancient Greek prefix, ‘νεο-’, meaning ‘new’, ‘modern’,<br>and ‘young’. We quite like the idea of an old word with the meaning of youth. It brings about the feeling of a gateway that brings us from the physical world to the digital.And apparently, one can also take the meaning from the protagonist of ‘Matrix’: Neo,The One who woke up and changed the world.
            .col-lg-4
              .content-footer-comunity--social
                ul.social-ico
                  li.blog
                    a(href="") loremipsum.neo/blog
                  li.reddit
                    a(href="https://www.reddit.com/r/NEO/", target="_blank") https://www.reddit.com/r/NEO/
                  li.slack
                    a(href="https://antsharesteam.slack.com/", target="_blank") Slack：https://antsharesteam.slack.com/
                  li.twitter
                    a(href="https://twitter.com/NEO_Blockchain", target="_blank") Twitter: https://twitter.com/NEO_Blockchain

            .col-lg-3
              .content-footer-comunity--social
                ul.social-ico
                  li.facebook
                    a(href="https://www.facebook.com/neo.blockchain.9", target="_blank") https://www.facebook.com/neo.blockchain.9
                  li.qq
                    a(href="", target="_blank") QQ：23917224
                  li.weebo
                    a(href="", target="_blank") @NEO智能经济
                  li.door
                    a(href="", target="_blank") 主办方NEO智能经济
