.section.footer-comunity.fp-auto-height
  .wraper-footer-comunity
    .content-footer-comunity
      .row
        .col-lg-12
          .top-wraper
            h2 COMMUNITY
        .col-lg-12
          .row
            .col-lg-5
              .content-footer-comunity--left
                .logo
                  img(src="images/logo-neo.png")
                .contact
                  span contact@neo.org
                .tagline
                  p NEO originates from the ancient Greek prefix, ‘νεο-’, meaning ‘new’, ‘modern’,<br>and ‘young’. We quite like the idea of an old word with the meaning of youth. It brings about the feeling of a gateway that brings us from the physical world to the digital.And apparently, one can also take the meaning from the protagonist of ‘Matrix’: Neo,The One who woke up and changed the world.
            .col-lg-4
              .content-footer-comunity--social
                ul.social-ico
                  li.blog
                    span loremipsum.neo/blog
                  li.reddit
                    span https://www.reddit.com/r/NEO/
                  li.slack
                    span Slack：https://antsharesteam.slack.com/
                  li.twitter
                    span Twitter: https://twitter.com/NEO_Blockchain

            .col-lg-3
              .content-footer-comunity--social
                ul.social-ico
                  li.facebook
                    span https://www.facebook.com/neo.blockchain.9
                  li.qq
                    span QQ：23917224
                  li.weebo
                    span @NEO智能经济
                  li.door
                    span 主办方NEO智能经济
