//-
//- Header
//-
header.header
  .header--inner
    .container-fluid
      .row
        .col-lg-6.col-sm-6.col-xs-6
          .left-side
            .logo
              a(href="#section1")
                img(src="images/neo_logo.svg")
        .col-lg-6.col-sm-6.col-xs-6
          .right-side
            .lang
              ul
                li
                  a(href="#") EN&nbsp;/&nbsp;
                li
                  a(href="#") &nbsp;中文
            .nav.open-circle
              #nav-id
                span
                span
                span
                span
                span
                span
              ul.menu-nav
                li.list-menu
                  a(href="#section1") NEO HOME
                li.list-menu
                  a(href="download.html") Download
                li.list-menu
                  a(href="developer.html") Developer
                li.list-menu
                  a(href="#") Blog
