.section.home
  video#videoid(autoplay, loop, data-autoplay)
    source(src='images/neo_mov.mp4', type='video/mp4')
    | Your browser does not support HTML5 video.

  .home-title
    .slider-progress

    #text-slider.text-carousel(style="opacity:0;",data-index="1")
      div
        h2
          | A distributed network<br>of intelligent economy
      div
        h2.second
          | A New standard for digital assets<br>new operation system of digital identity based on blockchain<br>new smart contract environment
  .link-down
    span
      | WHAT IS NEO?
    a(href="#", class="down-arrow")
      img(src="images/arrow-down.png")
