.section.home.mobile
  .home-title
    .slider-progress

    #text-slider.text-carousel
      div
        h2
          | A distributed network of<br><b>intelligent economy</b>
      div
        h2.second
          | A New standard for digital assets<br>new operation system of digital identity based on blockchain<br>new smart contract environment
  .link-down
    span
      | WHAT IS NEO?
    a(href="#", class="down-arrow")
      img(src="images/arrow-down.png")
