.section.intro#element2
  .content-tab
    .wrapper
      .bs-example.bs-example-tabs
        #myTabContent.tab-content
          #what
            span.title-intro-span WHAT IS NEO?
            h2.feature-title
              b
                | NEO
              |  IS China's<br>

              | first original public chain
            p
              | NEO, former name—Antshares, is China's first ever original and open source public chain project, which was founded in 2014<br>and launched on Github in June, 2015. Ever since it was founded, NEO’s team has experienced many ups and downs in the<br>blockchain industry as well as digital currency market, and the government’s changeable/unclear policies. Nevertheless, we<br>believe that technology is the force that motivates the development of the world. Pushing forward by the tide, we will step into<br>a new era of “smart economy.”

          #feature(style="margin-top:30px;")
            span.title-intro-span SMART ECONOMY
            ul.list-advantage
              li
                .advantage
                  //-
                    canvas#smart-text
                  img(src="images/smart-economy.png")


          #security(style="margin-top:70px;")
            span.title-intro-span A BETTER WORLD
            h2.feature-title
              | A TRANSPARENT AND<br>FAIR WORLD
            p
              | In this smart economy society, we will make a huge leap from “information internet,” to “value internet,” then to “order internet.”<br>Once substantial economy and digital economy connects seamlessly, all exchanges among assets could have perfect liquidity.<br>There wouldn’t be any trust issues in any exchanges of values and activities related to economics. The rules and policies of<br> the society and organizations would be transparent and fair. The world would become a much better place.

