.section.statistic
  .statistic--wraper
    .top-title
      h2 Explore
        span NEO
    .container-fluid
      .row
        .col-xs-6
          .left-info-stat
            .top-stat-info
              h2.number-stat
                | 324
              p.text-title-stat
                | NO. OF<br>FULL NODES
            .bottom-stat-info
              h2.number-stat
                | 595
              p.text-title-stat
                | DAYS SINCE<br>GENESIS BLOCKS
        .col-xs-6
          .right-info-stat
            .top-stat-info
              h2.number-stat
                | 1140939
              p.text-title-stat
                | real-time number<br>of blocks
            .bottom-stat-info
              h2.number-stat
                | 269
              p.text-title-stat
                | days since main<br>net is launched
        .col-xs-12
          .bottom-button-wraper
            a(href="#")
              img(src="images/mobile-cta-stat.png")





