.section.statistic
  .statistic--wraper
    .top-title
      h2 Explore
        span NEO
    .container-list-stat
      p
        | Explore the NEO ecosystem, get up-to-date statistics and track our progress as we move into the future.
    .content-links
      .content-links-wraper
        .bg-images
          img(src="images/half-sphere.png")
        .content-toltip
          .circle-btn.bg1.large.pos1
            .hidden-content
              a(href="#") NeoLocate dApp
          .circle-btn.bg2.large.pos2
            .hidden-content
              a(href="#") NeoLocate dApp
          .circle-btn.bg3.large.pos3
            .hidden-content
              a(href="#") NeoLocate dApp
          .circle-btn.bg4.small.pos4
            .hidden-content
              a(href="#") NeoLocate dApp
          .circle-btn.bg5.pos5
            .hidden-content
              a(href="#") NeoLocate dApp
          .circle-btn.bg6.small.pos6
            .hidden-content
              a(href="#") NeoLocate dApp
          .circle-btn.bg1.large.pos7
            .hidden-content
              a(href="#") NeoLocate dApp
          .circle-btn.bg2.large.pos8
            .hidden-content
              a(href="#") NeoLocate dApp
          .circle-btn.bg3.large.pos9
            .hidden-content
              a(href="#") NeoLocate dApp
          .circle-btn.bg4.small.pos10
            .hidden-content
              a(href="#") NeoLocate dApp
          .circle-btn.bg5.pos11
            .hidden-content
              a(href="#") NeoLocate dApp



    .left-info-stat
      .top-stat-info
        h2.number-stat
          | 324
        p.text-title-stat
          | NO. OF<br>FULL NODES
      .bottom-stat-info
        h2.number-stat
          | 595
        p.text-title-stat
          | DAYS SINCE<br>GENESIS BLOCKS
    .right-info-stat
      .top-stat-info
        h2.number-stat
          | 1140939
        p.text-title-stat
          | real-time number<br>of blocks
      .bottom-stat-info
        h2.number-stat
          | 269
        p.text-title-stat
          | days since main<br>net is launched



