.section.team
  h2
    | TEAM MEMBERS
  ul.list-member
    li.left
      .wraper-images
        img(src="images/person-1.png")
    li.center
      .wraper-images
        img(src="images/person-2.png")
    li.right
      .wraper-images
        img(src="images/person-3.png")
    //-
      li
        .wraper-images
          img(src="images/person-4.png")
      li
        .wraper-images
          img(src="images/person-5.png")
      li
        .wraper-images
          img(src="images/person-6.png")

      li
        .wraper-images
          img(src="images/person-7.png")
      li
        .wraper-images
          img(src="images/person-8.png")
  ul.list-member

    li.left
      .wraper-images
        img(src="images/person-9.png")
    li.center
      .wraper-images
        img(src="images/person-10.png")
    li.right
      .wraper-images
        img(src="images/person-11.png")
    //-
      li
        .wraper-images
          img(src="images/person-12.png")
      li
        .wraper-images
          img(src="images/person-13.png")
      li
        .wraper-images
          img(src="images/person-14.png")
      li
        .wraper-images
          img(src="images/person-15.png")
      li
        .wraper-images
          img(src="images/person-16.png")
  p.bottom-text
    | The community members mentioned above include the co-founder of NEO Da Hongfei, the other co-founder and core developer Zhang Zhengwen,
  a(href="#", class="link-comunity") JOIN THE COMMUNITY
