.section.technology
  .technology--wraper
    .technology--wraper-top
      h2 THE<br>TECHNOLOGY<br>BEHIND
        span  NEO
      p
        | Through technologies such as P2P network, dBFT consensus, digital certificate,<br>Superconducting Transactions and cross-chain interoperability, NEO blockchain enables one<br>to manage smart assets in a fast, efficient, safe and certified manner.
    .technology--wraper-carousel
      .owl-carousel#technology-carousel
        div.list-technology
          .top-images
            canvas#ico1
          h3 First Original Blockchain in China
          p Founded in 2014, NEO became open<br>source on GitHub in 2015. NEO is<br>the innovator and leading force in<br>numerous new blockchain<br>technologies. It is also the leading<br>public blockchain in China.
        div.list-technology
          .top-images
            canvas#ico2
          h3 Underlying design supports<br>various digital assets
          p NEO’s Underlying design supports various<br>digital assets. One can register, spread,<br>trade and circulate assets all by oneself.
        div.list-technology
          .top-images.big-images
            canvas#ico3
          h3 Digital Certificates solves problems<br>of trust
          p NEO supports digital certificates, solves the<br>potential problem of untrustworthy nodes on<br>a public blockchain. With digital certificates,<br>one can legally issue assets on the blockchain<br>and be protected by the regulations
        div.list-technology
          .top-images
            canvas#ico4
          h3 Original Superconducting<br>Transactions mechanism
          p This mechanism makes a trustless digital<br>exchange possible. One can order match<br>various types of digital assets without the<br>need to top-up.
        div.list-technology
          .top-images
            canvas#ico5
          h3 Turing complete Smart Contracts
          p NEO smart contracts are Turing complete,<br>executes in the NEO VM and has<br>advantages including determinability, being<br>terminable, resource controllability, parallel<br>execution, ability to partition and limitless<br>performance scalability.
        div.list-technology
          .top-images
            canvas#ico6
          h3 Smart Contracts in high level programming languages
          p Supporting languages such as C#,<br>Java, Go, developers can promptly<br>start developing smart contracts<br>on NEO blockchain.
        div.list-technology
          .top-images
            canvas#ico7
          h3 NEO VM lightweight Virtual<br>Stack Machines
          p NEO VM has short booting time and<br>high execution efficiency, coupled with<br>‘certainty call tree’ technology, it can<br>deliver limitless scalability.
        div.list-technology
          .top-images
            canvas#ico8
          h3 Innovative dBFT consensus mechanism
          p Consensus nodes use Byzantine Fault<br>Tolerance Algorithm to reach consensus and<br>ensure the finality of transactions. It is also<br>ensured that the system keeps its finality and<br>operability as longa as less than 1/3 of the<br>nodes are observing dBFT errors.
        div.list-technology
          .top-images
            canvas#ico9
          h3 Innovative Cross-chain Operation Protocol
          p comprising of Cross-chain Asset Swap Protocol<br>and Cross-chain Distributed Operation protocol,<br>can achieve atomic asset swap and<br>guarantee the operation consistency of smart<br>contracts executed on different chains.
        div.list-technology
        div.list-technology
          .top-images
            canvas#ico10
          h3 Lattice cryptology-quantum computer-proof technology
          p Use Lattice-based cryptograph<br>signature and encryption technology,<br>which can prevent the quantum crisis as<br>Lattice-based cryptography provides<br>encryption problems (e.g. SVP) beyond<br>the capability of quantum computers.

        div.list-technology
