.section.timeline
  .timeline--wraper
    .top-title
      h2
        | TIMELINE<br>& ROADMAP
    .timeline--wraper-carousel
      .owl-carousel#timeline-carousel
        div(data-hash="2014")
          .wraper-timeline
            .timeline-node.top-content(data-year="2014")
              //-first timeline
              .content-timeline.one-pos.animated
                h3 June 2014
                p Antshares project initiated,seed-round fund received
                .point-timeline
                  img(src="images/timeline-point-1.png")
            .timeline-node.bottom-content(data-year="2014")
              .content-timeline.third-pos.animated
                .point-timeline
                  img(src="images/timeline-point-2.png")
                h3 June 2014
                p Weangel, Antshares front-end service platform launched

        div
          .wraper-timeline
            .timeline-node.top-content(data-year="2014")
              //-first timeline
              .content-timeline.second-pos.animated
                h3 August 2014
                p Antshares team and operating company formed
                .point-timeline
                  img(src="images/timeline-point-3.png")
            .timeline-node.bottom-content(data-year="2015")
              .content-timeline.fourth-pos.animated
                .point-timeline
                  img(src="images/timeline-point-4.png")
                h3 June 2015
                p Antshares started on Github as an real time open source project


        div
          .wraper-timeline
            .timeline-node.top-content(data-year="2015")
              //-first timeline
              .content-timeline.fifth-pos.animated
                h3 July 2015
                p 8btc, btc38 covers Antshares with an article titiled "Be Uber of securities market,Antshares helps you transact ownership"
                .point-timeline
                  img(src="images/timeline-point-5.png")
            .timeline-node.bottom-content(data-year="2015")
              .content-timeline.sixth-pos.animated
                .point-timeline
                  img(src="images/timeline-point-6.png")
                h3 September 2015
                p Antshares blockchain whitepaper officially released

        div(data-hash="2015")
          .wraper-timeline
            .timeline-node.top-content(data-year="2015")
              //-first timeline
              .content-timeline.seventh-pos.animated
                h3 October 2015
                p First phase ICO with 2100btc funded in total, full report from Chinese main blockchain media 8btc and btc38.
                .point-timeline
                  img(src="images/timeline-point-7.png")
            .timeline-node.bottom-content(data-year="2015")
              .content-timeline.eight-pos.animated
                .point-timeline
                  img(src="images/timeline-point-8.png")
                h3 November 2015
                p first phase ICO with 2100btc funded in total, full report from Chinese main blockchain media 8btc and btc38.

        div
          .wraper-timeline
            .timeline-node.top-content(data-year="2016")
              //-first timeline
              .content-timeline.one-pos.animated
                h3 April 2016
                p dBFT-China's first orignial consensus mechanism released
                .point-timeline
                  img(src="images/timeline-point-1.png")
            .timeline-node.bottom-content(data-year="2016")
              .content-timeline.third-pos.animated
                .point-timeline
                  img(src="images/timeline-point-2.png")
                h3 May 2016
                p Antshares recruit more talents including Tony Tao, the current CEO

        div
          .wraper-timeline
            .timeline-node.top-content(data-year="2016")
              //-first timeline
              .content-timeline.second-pos.animated
                h3 June 2016
                p Antshares sponsors 2016 Global Blockchain summit
                .point-timeline
                  img(src="images/timeline-point-3.png")
            .timeline-node.bottom-content(data-year="2016")
              .content-timeline.fourth-pos.animated
                .point-timeline
                  img(src="images/timeline-point-4.png")
                h3 July 2016
                p Anshares becomes Hyperledger's 3rd project

        div(data-hash="2016")
          .wraper-timeline
            .timeline-node.top-content(data-year="2016")
              //-first timeline
              .content-timeline.one-pos.animated
                h3 July 2016
                p China's mainstream financial media CCTV2 reported Anshares
                .point-timeline
                  img(src="images/timeline-point-1.png")
            .timeline-node.bottom-content(data-year="2016")
              .content-timeline.third-pos.animated
                .point-timeline
                  img(src="images/timeline-point-2.png")
                h3 August 2016
                p second phase of global ICO with 6119 btc raised

        div
          .wraper-timeline
            .timeline-node.top-content(data-year="2016")
              //-first timeline
              .content-timeline.second-pos.animated
                h3 August 2016
                p antfans.org,the first Antshares' community organized by Antshares fans incepted
                .point-timeline
                  img(src="images/timeline-point-3.png")
            .timeline-node.bottom-content(data-year="2016")
              .content-timeline.fourth-pos.animated
                .point-timeline
                  img(src="images/timeline-point-4.png")
                h3 September 2016
                p KPMG released Top 50 fintech innovation companies in China, Antshares in on the list. Other companies on the list include Antfinance (of Alibaba),Webank(from Tencent).
        div
          .wraper-timeline
            .timeline-node.top-content(data-year="2016")
              //-first timeline
              .content-timeline.second-pos.animated
                h3 October 2016
                p Mainnet of Antshares' blockchain launched!
                .point-timeline
                  img(src="images/timeline-point-3.png")
            .timeline-node.bottom-content(data-year="2016")
              .content-timeline.fourth-pos.animated
                .point-timeline
                  img(src="images/timeline-point-4.png")
                h3 October 2016
                p the first blockchain browser based on Antshares launched

        div(data-hash="2016")
          .wraper-timeline
            .timeline-node.top-content(data-year="2016")
              //-first timeline
              .content-timeline.second-pos.animated
                h3 October 2016
                p ANS available on yunbi,yuanbao,19800,bittrex
                .point-timeline
                  img(src="images/timeline-point-3.png")
            .timeline-node.bottom-content(data-year="2016")
              .content-timeline.fourth-pos.animated
                .point-timeline
                  img(src="images/timeline-point-4.png")
                h3 October 2016
                p Antshares is on list of the Top 10 blockchain platform, announced by a fintech conference in China

        div
          .wraper-timeline
            .timeline-node.top-content(data-year="2016")
              //-first timeline
              .content-timeline.second-pos.animated
                h3 October 2016
                p Antshares built comprehensive and strategic cooperation with Wings. The two will jointly explore the market and blockchain technology.
                .point-timeline
                  img(src="images/timeline-point-3.png")
            .timeline-node.bottom-content(data-year="2016")
              .content-timeline.fourth-pos.animated
                .point-timeline
                  img(src="images/timeline-point-4.png")
                h3 November 2016
                p Whitepaper on general light-weight AVM(Antshares Virtual Machine) released
        div
          .wraper-timeline
            .timeline-node.top-content(data-year="2016")
              //-first timeline
              .content-timeline.second-pos.animated
                h3 Desember 2016
                p Antshares built cooperation with Mngo VR, an game developer.An effort to explore game+blockchain
                .point-timeline
                  img(src="images/timeline-point-3.png")
            .timeline-node.bottom-content(data-year="2017")
              .content-timeline.fourth-pos.animated
                .point-timeline
                  img(src="images/timeline-point-4.png")
                h3 Februari 2017
                p otcgo.cn, the first smart contract assets transfer platform on Antshares.

        div(data-hash="2017")
          .wraper-timeline
            .timeline-node.top-content(data-year="2017")
              //-first timeline
              .content-timeline.second-pos.animated
                h3 Februari 2017
                p antchain.xyz, a new blockch browser on Antshares released
                .point-timeline
                  img(src="images/timeline-point-3.png")
            .timeline-node.bottom-content(data-year="2017")
              .content-timeline.fourth-pos.animated
                .point-timeline
                  img(src="images/timeline-point-4.png")
                h3 Februari 2017
                p Nestfund.io, the official website of Nest,an Antshares-based Smart fund launched
        div
          .wraper-timeline
            .timeline-node.top-content(data-year="2017")
              //-first timeline
              .content-timeline.second-pos.animated
                h3 May 2017
                p 2017.5Hold blockchain development competition" with Shanghai Science and Technology Committee and Innospace.
                .point-timeline
                  img(src="images/timeline-point-3.png")
            .timeline-node.bottom-content(data-year="2017")
              .content-timeline.fourth-pos.animated
                .point-timeline
                  img(src="images/timeline-point-4.png")
                h3 June 2017
                p New Antshares brand strategy release conference.



      .date-navigation
        a(href="#2014", class="date-nav active") 2014
        a(href="#2015", class="date-nav") 2015
        a(href="#2016", class="date-nav ") 2016
        a(href="#2017", class="date-nav ") 2017
        a(href="#2017", class="date-nav disable") 2018
        a(href="#2017", class="date-nav disable") 2019
      .cover-bg
