@using NeoWeb.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills">
    <li class="nav-item"><a class="@ManageNavPages.IndexNavClass(ViewContext) nav-link" asp-action="Index">Profile</a></li>
    <li class="nav-item"><a class="@ManageNavPages.ChangePasswordNavClass(ViewContext) nav-link" asp-action="ChangePassword">Password</a></li>
    @if (hasExternalLogins)
    {
        <li class="nav-item"><a class="@ManageNavPages.ExternalLoginsNavClass(ViewContext) nav-link" asp-action="ExternalLogins">External logins</a></li>
    }
    <li class="nav-item"><a class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext) nav-link" asp-action="TwoFactorAuthentication">Two-factor authentication</a></li>
</ul>

