@model NeoWeb.Models.Job
<div class="switch">
    <strong>Switch editing language</strong>
    <a href="javascript:" onclick="switchLanguage('en')">ENG</a>
    <span class="switch-border">
        <span class="switch-button"></span>
    </span>
    <a href="javascript:" onclick="switchLanguage('zh')">中文</a>
</div>
<div asp-validation-summary="All" class="text-danger mt-5"></div>
<div>
    <label asp-for="Number" class="control-label"></label>
    <input asp-for="Number" class="form-control" />
    <span asp-validation-for="Number" class="text-danger"></span>
</div>
<div class="zh">
    <label asp-for="ChineseTitle" class="col-form-label"></label>
    <input asp-for="ChineseTitle" class="form-control" />
    <span asp-validation-for="ChineseTitle" class="text-danger"></span>
</div>
<div class="en">
    <label asp-for="EnglishTitle" class="control-label"></label>
    <input asp-for="EnglishTitle" class="form-control" />
    <span asp-validation-for="EnglishTitle" class="text-danger"></span>
</div>
<div class="zh">
    <label asp-for="ChineseContent" class="col-form-label"></label>
    <textarea asp-for="ChineseContent" class="form-control" autocomplete="off" rows=10></textarea>
    <span asp-validation-for="ChineseContent" class="text-danger"></span>
</div>
<div class="en">
    <label asp-for="EnglishContent" class="col-form-label"></label>
    <textarea asp-for="EnglishContent" class="form-control" autocomplete="off" rows=10></textarea>
    <span asp-validation-for="EnglishContent" class="text-danger"></span>
</div>
<div class="zh">
    <label asp-for="ChineseGroup" class="col-form-label"></label>
    <input asp-for="ChineseGroup" class="form-control" />
    <small class="form-text text-muted">Separated by comma</small>
    <span asp-validation-for="ChineseGroup" class="text-danger"></span>
</div>
<div class="en">
    <label asp-for="EnglishGroup" class="col-form-label"></label>
    <input asp-for="EnglishGroup" class="form-control" />
    <small class="form-text text-muted">Separated by comma</small>
    <span asp-validation-for="EnglishGroup" class="text-danger"></span>
</div>
<div class="d-none">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="IsShow">
        <label class="custom-control-label" asp-for="IsShow"></label>
    </div>
</div>
<div class="my-4">
    <input type="submit" value="Create" class="btn" />
</div>
<div class="my-4">
    <a asp-action="index" asp-controller="joinus">Back to List</a>
</div>
