@model NeoWeb.Models.Testnet

@{
    ViewData["Title"] = "备注";
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/testnet-list.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/testnet-list.min.css" asp-append-version="true" />
    </environment>
}
<div class="container">
    <h1 class="m1">备注</h1>
    <div class="row coin-back">
        <h4 class="m3">添加备注</h4>
        <div class="col-md-12">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group m3">
                    <p class="bold-font"><label>姓名</label> @Model.Name</p>  
                </div>
                <div class="form-group m3">
                    <label asp-for="Remark"></label>
                    <textarea asp-for="Remark" ></textarea>
                    <span asp-validation-for="Remark" class="text-danger"></span>
                </div>
                <div class="text-center m3">
                    <input type="submit" value="保存" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div class="back-to-list">
        <a onclick="window.history.back();">返回上一页</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
