@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Developer"];
}

<div class="row">
    <div class="col-xs-12">
        
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-6">

    </div>
    <div class="col-xs-12 col-sm-6">

    </div>
</div>

