@model NeoWeb.Models.Candidate
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Candidate List"];
}

@section Styles{
    @*<link rel="stylesheet" href="@Helper.CDN/css/consensus.min.css" />*@
    <link rel="stylesheet" href="/css/consensus.min.css" />
}

<div class="container">
    <div class="row">
        <ul class="col-sm-12 table-list" id="tableList"></ul>
    </div>
</div>


@section Scripts{
    <script src="@Helper.CDN/js/sha256.min.js"></script>
}