@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Eco";
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/eco.min.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="@Helper.ToCDN("/css/eco.min.css", true)" />
    </environment>
}

<div class="banner">
    <div class="container module p1">
        <img class="module-img" data-original="/upload/9d72559e7e6b34e75a8f.jpg" />
        <div class="module-text">
            <h1>NEO<br />Ecosystem</h1>
            <p class="mt5">@Localizer["Welcome to NEO Ecosystem<br />NEO EcoBoost will work with our EcoBoost partners to provide full lifecycle support for NEO eco projects<br />Please tell us how you'd like to cooperate with us and we will evaluate your project as soon as possible."]</p>
        </div>
    </div>
</div>

<div class="module1 bg1">
    <div class="container p2">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <h2>Partner with us and power up for success</h2>
                <p class="mt5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor arcu eget ultricies Lorem ipsum porta.</p>
                <p class="mt4"><a class="btn1">LEARN MORE</a></p>
            </div>
        </div>
    </div>
</div>

<div class="container eco">
    <div class="module left">
        <h3 class="module-text">Global Neo<br />Community</h3>
        <img class="module-img" data-original="/upload/9d72559e7e6b34e75a8f.jpg" />
        <div class="module-text">
            <p class="h4">
                <span class="tag">3800 +<span>Community Members</span></span>
                <span class="tag">60 +<span>Meetups</span></span>
            </p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
            <p><a class="btn">LEARN MORE</a></p>
        </div>
    </div>

    <div class="module">
        <h3 class="module-text">dApps Platform</h3>
        <img class="module-img" data-original="/upload/9d72559e7e6b34e75a8f.jpg" />
        <div class="module-text">
            <p class="h4">
                <span class="tag">100 +<span>dapps</span></span>
            </p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
            <p><a class="btn">LEARN MORE</a></p>
        </div>
    </div>
    <div class="module left">
        <h3 class="module-text">Clients Infrastructure</h3>
        <img class="module-img" data-original="/upload/9d72559e7e6b34e75a8f.jpg" />
        <div class="module-text">
            <p class="h4">
                <span class="tag">30 +<span>Wallets support</span></span>
            </p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
            <p><a class="btn">LEARN MORE</a></p>
        </div>
    </div>
    <div class="module">
        <h3 class="module-text">Developer Tools</h3>
        <img class="module-img" data-original="/upload/9d72559e7e6b34e75a8f.jpg" />
        <div class="module-text">
            <p class="h4">
                <span class="tag">C#  Python  Java  JavaScript  Go<span>Multiple language support</span></span>
            </p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
            <p><a class="btn">LEARN MORE</a></p>
        </div>
    </div>
    <div class="module left">
        <h3 class="module-text">Neo Protocol</h3>
        <img class="module-img" data-original="/upload/9d72559e7e6b34e75a8f.jpg" />
        <div class="module-text">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
            <p><a class="btn">LEARN MORE</a></p>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        showEco();
        function showEco(str) {
            $("body").trigger("scroll");
            if (str) {
                var e = window.event || arguments.callee.caller.arguments[0];
                $(e.target).addClass("selected").siblings().removeClass("selected");
            }
            str = str ? str : "Liquidity";
            $('.eco-logo li').not('.' + str).hide();
            $('.' + str).show();
        }
        function showDialog() {
            $(".modal-body").html($("#ecoFormDiv").html());
            $('#EcoReg').modal('show');
        }
    </script>
}