@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{ ViewData["Title"] = Localizer["Developer"].Value; }

@section Styles{
    <link rel="stylesheet" href="@Helper.ToCDN("/css/dev.min.css", true)" />
}

<div class="header-end form-inline">
    <span class="platform-label">Platform</span>
    <select class="select-platform form-control">
        <option value="neo2">Neo Legacy</option>
        <option value="neo3" selected="selected">Neo(N3)</option>
    </select>
</div>

<div class="introduction">
    <div class="introduction-content">
        <h1 class="introduction-title"><em>Neo</em><br/>is getting<br/>an upgrade</h1>
        <div class="introduction-description">After four years of stable MainNet operation, Neo is undergoing it's biggest evolution as it migrates to N3 - The most powerful and feature rich version of the Neo blockchain to date.</div>
        <a class="learn-more btn-2" asp-controller="migration" asp-action="index">Learn More</a>
    </div>
</div>

<div class="divider"></div>

<div class="resources">
    <div class="resources-start">
        <div class="menu">
            <a class="menu-item active" asp-controller="dev" asp-action="index" asp-fragment="overview">
                Overview
                <i class="iconfont">&#xe6ab;</i>
            </a>
            <a class="menu-item" asp-controller="dev" asp-action="index" asp-fragment="tooling">
                Tooling
                <i class="iconfont">&#xe6ab;</i>
            </a>
            <a class="menu-item" asp-controller="dev" asp-action="index" asp-fragment="examples">
                Examples & Tutorials
                <i class="iconfont">&#xe6ab;</i>
            </a>
        </div>
        <div class="resources-start-divider"></div>
        <div class="links">
            <a class="link" target="_blank" href="https://github.com/neo-project">
                GitHub
                <i class="iconfont">&#xe681;</i>
            </a>
            <a class="link" target="_blank" href="https://docs.neo.org/v3/docs/en-us/index.html">
                Documentation
                <i class="iconfont">&#xe681;</i>
            </a>
        </div>
        <select class="select-menu-page form-control">
            <option selected="selected">Overview</option>
            <option>Tooling</option>
            <option>Examples & Tutorials</option>
        </select>
    </div>

    <div class="resources-end">
        <div class="menu-page active">
            <partial name="./_OverviewPartialPage" />
        </div>
        <div class="menu-page">
            <partial name="./_ToolingPartialPage" />
        </div>
        <div class="menu-page">
            <partial name="./_ExamplesPartialPage" />
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // index
        $(document).ready(() => {
            function updateMenu(i) {
                $('.menu-item').each((j, menuItem) => {
                    if (i === j) {
                        $(menuItem).addClass('active');
                    } else {
                        $(menuItem).removeClass('active');
                    }
                });
                $('.menu-page').each((j, menuPage) => {
                    if (i === j) {
                        $(menuPage).addClass('active');
                    } else {
                        $(menuPage).removeClass('active');
                    }
                });
                $('.select-menu-page').prop('selectedIndex', i);

                $(window).trigger('scroll');
            }

            function updateMenuWithHash() {
                const hash = location.hash.slice(1);
                if (hash === 'overview') {
                    updateMenu(0);
                } else if (hash === 'tooling'){
                    updateMenu(1);
                } else if (hash === 'examples'){
                    updateMenu(2);
                }
            }

            $('.select-menu-page').change(e => {
                const index = e.target.selectedIndex;
                if (index === 0) {
                    location.href = '@Url.Action("index", "dev", null, null, null, "overview")';
                } else if (index === 1) {
                    location.href = '@Url.Action("index", "dev", null, null, null, "tooling")';
                } else if (index === 2) {
                    location.href = '@Url.Action("index", "dev", null, null, null, "examples")';
                }
            });

            $(window).on('hashchange', updateMenuWithHash);

            updateMenuWithHash();
        });

        // tooling
        $(document).ready(() => {
            function updateTabs(i) {
                $('.tab').each((j, tab) => {
                    if (i === j) {
                        $(tab).addClass('active');
                    } else {
                        $(tab).removeClass('active');
                    }
                });
                $('.tab-page').each((j, tabPage) => {
                    if (i === j) {
                        $(tabPage).addClass('active');
                    } else {
                        $(tabPage).removeClass('active');
                    }
                });
                $('.select-tab-page').prop('selectedIndex', i);
            }

            $('.tab').each((i, tab) => {
                $(tab).click(() => {
                    updateTabs(i);
                });
            });


            $('.select-tab-page').change(e => {
                updateTabs(e.target.selectedIndex);
            });
        });

        // examples
        $(document).ready(() => {
            const pageSize = 4;
            let currentPage = 1;
            let currentVersion = 'neo3';
            let currentLanguage = 'all';

            function updateExamples() {
                let j = 0;
                let allLoaded = false;
                $('.example').each((i, example) => {
                    const version = $(example).attr('data-version');
                    const language = $(example).attr('data-language');
                    if (version.includes(currentVersion) && (currentLanguage === 'all' || language.includes(currentLanguage))) {
                        if (j < currentPage * pageSize) {
                            j++;
                            $(example).removeClass('hidden');
                        } else {
                            allLoaded = true;
                            $(example).addClass('hidden');
                        }
                    } else {
                        $(example).addClass('hidden');
                    }
                });
                $('.load-more-examples').toggle(allLoaded);
                $(window).trigger('scroll');
            }

            $('.load-more-examples').click(() => {
                currentPage++;
                updateExamples();
            });

            $('.select-platform').change(e => {
                currentVersion = $(e.target).val();
                updateExamples();
            });

            $('.select-language').change(e => {
                currentLanguage = $(e.target).val();
                updateExamples();
            });
        });
    </script>
}
