@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Developer"];
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="/css/dev.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="@Helper.ToCDN("/css/dev.css", true)" />
    </environment>
}

<div class="dev-content container text-left">
    <div class="row">
        <div class="col-md-8">
            <h2 class="m1 dev-head dev-dis">@Localizer["Developer Portal"]</h2>
            <p class="m2 t4 dev-dis w500">
                @Localizer["In this portal,you'll find all of tools,SDKs and other resources for developers who want to build on NEO.Besides, you can get in touch with developer communities on NEO."]
            </p>
            <div class="btn-content dev-dis">
                <a class="dev-btn" href="">NEO Github</a>
                <a class="dev-btn" href="">NEO Docs</a>
            </div>
        </div>
        <div class="dis-m-none col-md-4">
            <img src="~/images/dev-banner.svg"/>
        </div>
    </div>
</div>
<div class="dev-content bg-white text-left">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="link-title dev-dis"><span class="iconfont t4">&#xe622;</span>NEO Links</h3>
                <ul class="dev-link dev-dis">
                    <li><a href="https://github.com/neo-project" title="NEO GitHub">NEO GitHub</a></li>
                    <li><a href="https://docs.neo.org/" title=""></a></li>
                </ul>
                <h3 class="link-title dev-dis"><span class="iconfont t4">&#xe622;</span>Apply for testNet NEO & GAS</h3>
                <ul class="dev-link dev-dis">
                    <li><a href="/testcoin/apply" title="NEO GitHub">Manual Entry</a></li>
                    <li><a href="http://neowish.ngd.network/" title="">Automatic Entry</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <h3 class="link-title dev-dis"><span class="iconfont t4">&#xe622;</span>Apply for testNet NEO & GAS</h3>
                <ul class="dev-link dev-dis">
                    <li><a href="/testcoin/apply" title="NEO GitHub">Manual Entry</a></li>
                    <li><a href="http://neowish.ngd.network/" title="">Automatic Entry</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="link-title dev-dis"><span class="iconfont t4">&#xe622;</span>NEO Links</h3>
                <ul class="dev-link dev-dis link-tools">
                    <li>
                        <ul>
                            <li>Explorer</li>
                            <li class="m4"><a href="/testcoin/apply" title="NEO GitHub">Manual Entry</a></li>
                            <li><a href="http://neowish.ngd.network/" title="">Automatic Entry</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li>Explorer</li>
                            <li class="m4"><a href="/testcoin/apply" title="NEO GitHub">Manual Entry</a></li>
                            <li><a href="http://neowish.ngd.network/" title="">Automatic Entry</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li>Explorer</li>
                            <li class="m4"><a href="/testcoin/apply" title="NEO GitHub">Manual Entry</a></li>
                            <li><a href="http://neowish.ngd.network/" title="">Automatic Entry</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li>Explorer</li>
                            <li class="m4"><a href="/testcoin/apply" title="NEO GitHub">Manual Entry</a></li>
                            <li><a href="http://neowish.ngd.network/" title="">Automatic Entry</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li>Explorer</li>
                            <li class="m4"><a href="/testcoin/apply" title="NEO GitHub">Manual Entry</a></li>
                            <li><a href="http://neowish.ngd.network/" title="">Automatic Entry</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li>Explorer</li>
                            <li class="m4"><a href="/testcoin/apply" title="NEO GitHub">Manual Entry</a></li>
                            <li><a href="http://neowish.ngd.network/" title="">Automatic Entry</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="link-title dev-dis"><span class="iconfont t4">&#xe622;</span>NEO Links</h3>
                <ul class="dev-link dev-dis">
                    <li><a href="/testcoin/apply" title="NEO GitHub">Manual Entry</a></li>
                    <li><a href="http://neowish.ngd.network/" title="">Automatic Entry</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="dev-content container">
    <div class="row">
        <div class="col-md-12">
            <ul class="comm-ul dev-dis">
                <li><img height="30" src="/images/neo_logo.svg" /><br /><a>neow3j</a></li>
            </ul>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $("#menu_list a").css("border-bottom", "none");
        $("#menu_list li.nav-item [href='/dev']").css("border-bottom", "2px solid #58bf00");
    </script>
}