<div class="menu-page">
    <h2 class="menu-page-title">Tooling</h2>
    <div class="tabs">
        <span class="tab active">Nodes</span>
        <span class="tab">Explorers</span>
        <span class="tab">Smart Contract Compilers</span>
        <span class="tab">Smart Contract Dev & Debug</span>
        <span class="tab">SDK</span>
        <span class="tab">dApp Integration</span>
    </div>
    <select class="select-tab-page form-control">
        <option selected="selected">Nodes</option>
        <option>Explorers</option>
        <option>Smart Contract Compilers</option>
        <option>Smart Contract Dev & Debug</option>
        <option>SDK</option>
        <option>dApp Integration</option>
    </select>
    <div class="tab-page active">
        <div class="tab-page-title">Explorers</div>
        <div class="tools">
            <div class="tool">
                <div class="tool-start">
                    <img class="tool-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
                    <a class="view-website btn-2" target="_blank" href="https://github.com/neo-project">View Website</a>
                </div>
                <div class="tool-end">
                    <div class="tool-title-wrapper">
                        <h4 class="tool-title">NEO-CLI</h4>
                        <div class="tool-language">Java</div>
                    </div>
                    <div class="tool-developer">Developer name</div>
                    <div class="tool-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae purus euismod, ornare felis at, consequat nisl. Nullam viverra risus risus, sed commodo mauris ultricies et. </div>
                    <div class="tool-bottom-language">Java</div>
                </div>
            </div>
            <div class="tool">
                <div class="tool-start">
                    <img class="tool-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
                    <a class="view-website btn-2" target="_blank" href="https://github.com/neo-project">View Website</a>
                </div>
                <div class="tool-end">
                    <div class="tool-title-wrapper">
                        <h4 class="tool-title">NEO-CLI</h4>
                        <div class="tool-language">Java</div>
                    </div>
                    <div class="tool-developer">Developer name</div>
                    <div class="tool-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae purus euismod, ornare felis at, consequat nisl. Nullam viverra risus risus, sed commodo mauris ultricies et. </div>
                    <div class="tool-bottom-language">Java</div>
                </div>
            </div>
            <div class="tool">
                <div class="tool-start">
                    <img class="tool-img" data-original="@Helper.ToCDN("/images/dev/placeholder.png", true)" />
                    <a class="view-website btn-2" target="_blank" href="https://github.com/neo-project">View Website</a>
                </div>
                <div class="tool-end">
                    <div class="tool-title-wrapper">
                        <h4 class="tool-title">NEO-CLI</h4>
                        <div class="tool-language">Java</div>
                    </div>
                    <div class="tool-developer">Developer name</div>
                    <div class="tool-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae purus euismod, ornare felis at, consequat nisl. Nullam viverra risus risus, sed commodo mauris ultricies et. </div>
                    <div class="tool-bottom-language">Java</div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-page">
        <div class="tab-page-title">Smart Contract Compilers</div>
    </div>
    <div class="tab-page">
        <div class="tab-page-title">Smart Contract Dev & Debug</div>
    </div>
    <div class="tab-page">
        <div class="tab-page-title">SDK</div>
    </div>
    <div class="tab-page">
        <div class="tab-page-title">dApp Integration</div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(() => {
            function updateCurrentPage(i) {
                $('.tab').each((j, tab) => {
                    if (i === j) {
                        $(tab).addClass('active');
                    } else {
                        $(tab).removeClass('active');
                    }
                });
                $('.tab-page').each((j, tabPage) => {
                    if (i === j) {
                        $(tabPage).addClass('active');
                    } else {
                        $(tabPage).removeClass('active');
                    }
                });
                $('.select-tab-page').prop('selectedIndex', i);
            }

            $('.tab').each((i, tab) => {
                $(tab).click(() => {
                    updateCurrentPage(i);
                });
            });


            $('.select-tab-page').change(e => {
                updateCurrentPage(e.target.selectedIndex);
            });
        });
    </script>
}

