@{
    Layout = "../Shared/_Layout.cshtml";
}
@section Styles{
    @RenderSection("Styles", required: false)
}
<div class="container blog-container">
    <div class="row">
        @RenderBody()
    </div>
</div>
@await Html.PartialAsync("_LoginPartial")

@section Scripts{
    @RenderSection("Scripts", required: false)
    <script type="text/javascript" src="~/js/jquery.nicescroll.min.js"></script>
}