@{
    Layout = "../Shared/_Layout.cshtml";
}
@section Styles{
    @RenderSection("Styles", required: false)
}
<div class="container">
    @RenderBody()
</div>
@await Html.PartialAsync("_LoginPartial")

@section Scripts{
    @RenderSection("Scripts", required: false)
}