@model NeoWeb.Models.Blog

@{
    ViewData["Title"] = "发布博客";
    Layout = "_LayoutBlog.cshtml";
}
<h2 class="m2">发布博客</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="ChineseTitle" class="col-form-label"></label>
        <input asp-for="ChineseTitle" class="form-control" />
        <span asp-validation-for="ChineseTitle" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EnglishTitle" class="col-form-label"></label>
        <input asp-for="EnglishTitle" class="form-control" />
        <span asp-validation-for="EnglishTitle" class="text-danger"></span>
    </div>
    <div class="from-group">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" asp-for="IsShow" checked="checked">
            <label class="custom-control-label" asp-for="IsShow">在博客列表中显示</label>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ChineseContent" class="col-form-label"></label>
        @Html.Partial("_ChineseEditorPartialPage", Model)
    </div>
    <div class="form-group">
        <label asp-for="EnglishContent" class="col-form-label"></label>
        @Html.Partial("_EnglishEditorPartialPage", Model)
    </div>
    <div class="form-group">
        <label asp-for="ChineseTags" class="col-form-label">中文标签（用逗号分隔）</label>
        <input asp-for="ChineseTags" class="form-control" />
        <span asp-validation-for="ChineseTags" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EnglishTags" class="col-form-label">英文标签（用逗号分隔）</label>
        <input asp-for="EnglishTags" class="form-control" />
        <span asp-validation-for="EnglishTags" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-light" />
    </div>
</form>
<div>
    <a asp-action="index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}