@model NeoWeb.Models.Blog
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Post Blog";
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="/css/editor.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="@Helper.ToCDN("/css/editor.min.css", true)" />
    </environment>
}
<div class="p1">
    <h1 class="w800">@Localizer["Post"]</h1>
</div>
<div class="post-type">Post Type<span>Blogs</span><a asp-controller="event" asp-action="create">Events</a><a asp-controller="news" asp-action="create">News</a></div>
<form asp-action="Create" enctype="multipart/form-data">
    @{await Html.RenderPartialAsync("_EditorPartialPage", Model);}
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_Tiny.ScriptsPartial");}
    <script src="@Helper.ToCDN("/js/editor.min.js")"></script>
}
