@model NeoWeb.Models.Blog

@{
    ViewData["Title"] = "发布博客";
    Layout = "_LayoutBlog.cshtml";
}
<h2 class="m2">发布博客</h2>

<form asp-action="Create" enctype="multipart/form-data">
    @{await Html.RenderPartialAsync("_EditorPartialPage", Model);}
</form>
<div>
    <a asp-action="index">Back to List</a>
</div>