@model NeoWeb.Models.Blog

@{
    ViewData["Title"] = "编辑博客";
    Layout = "_LayoutBlog.cshtml";
}

<h2 class="m2">Edit</h2>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="Title" class="col-form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Lang" class="col-form-label"></label>
        <select asp-for="Lang" class="form-control">
            <option value="zh">中文</option>
            <option value="en">English</option>
            <option value="es">Español</option>
            <option value="fr">Français</option>
            <option value="ko">한국어</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Content" class="col-form-label"></label>
        @Html.Partial("_EditorPartialPage", Model)
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-secondary" />
    </div>
</form>
<div>
    <a asp-action="index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}