@model NeoWeb.Models.Blog
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Edit Blog";
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="/css/editor.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="@Helper.ToCDN("/css/editor.min.css", true)" />
    </environment>
}
<div class="p1">
    <h1 class="w800">@Localizer["Post"]</h1>
</div>
<form asp-action="Edit" enctype="multipart/form-data">
    @{await Html.RenderPartialAsync("_EditorPartialPage", Model);}
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_Tiny.ScriptsPartial");}
    <script src="@Helper.ToCDN("/js/editor.min.js")"></script>
}
