@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h2 class="mt-5">@ViewData["Title"]</h2>
<div class="mt-4">
    <p>
        Thank you for confirming your email.
    </p>
</div>
