@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h2 class="mt-5">@ViewData["Title"]</h2>
    <h6 class="mt-3">You have successfully logged out of the application.</h6>
</header>