@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h2 class="mt-5">@ViewData["Title"]</h2>
<p class="mt-4">
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
