<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Neo Smart Economy</title>
</head>
<body style="background-color: #e9ecef; text-align: center">
    <div style="padding: 4rem 2rem;">
        <h1 style="font-size: 2.5rem; font-weight: 300; line-height: 1.2;">由于你访问次数过多，你的IP地址被临时阻止访问。<br />请10分钟后再试。</h1>
        <p style="font-size: 1.25rem; font-weight: 300;">Due to your excessive visits, your IP address is temporarily blocked from access.<br />Please try again in 10 minutes.</p>
    </div>
</body>
</html>
