@model NeoWeb.Models.FwLink

@{
    ViewData["Title"] = "Create";
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="/css/editor.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="@Helper.ToCDN("/css/editor.min.css", true)" />
    </environment>
}
<div class="p1">
    <h1 class="w800">Create FwLink</h1>
</div>
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label class="control-label" for="Link">Link</label>
        <input asp-for="Link" class="form-control" />
        <span asp-validation-for="Link" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label" for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="my-4">
        <input type="submit" value="Create" class="btn" />
    </div>
    <div class="my-4">
        <a asp-action="index">Back to List</a>
    </div>
</form>