@{
    ViewData["Title"] = "Access denied";
}
<div class="container">
    <header class="text-center m1">
        <h2 class="text-danger m3">@ViewData["Title"]</h2>
        <h3 class="text-danger">You do not have access to this resource.</h3>
    </header>
</div>
