<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44302" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Methods" value="OPTIONS,POST,GET" />
        <add name="Access-Control-Allow-Headers" value="x-requested-with" />
        <add name="Access-Control-Allow-Origin" value="*.neo.org" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <fileExtensions allowUnlisted="false">
          <add fileExtension="." allowed="true" />
          <add fileExtension=".html" allowed="true" />
          <add fileExtension=".css" allowed="true" />
          <add fileExtension=".js" allowed="true" />
          <add fileExtension=".jpg" allowed="true" />
          <add fileExtension=".jpeg" allowed="true" />
          <add fileExtension=".png" allowed="true" />
          <add fileExtension=".gif" allowed="true" />
          <add fileExtension=".bmp" allowed="true" />
          <add fileExtension=".svg" allowed="true" />
          <add fileExtension=".eot" allowed="true" />
          <add fileExtension=".ttf" allowed="true" />
          <add fileExtension=".woff" allowed="true" />
          <add fileExtension=".json" allowed="true" />
        </fileExtensions>
        <denyUrlSequences>
          <add sequence="/ico" />
          <add sequence="/admin" />
          <add sequence="/giveback" />
          <add sequence="/bundles" />
          <add sequence="/.git" />
          <add sequence="/.svn" />
        </denyUrlSequences>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
<!--ProjectGuid: b0f159e6-c39c-46e2-b3c1-e20081d0509d-->