@model IEnumerable<NeoWeb.Models.Candidate>

@{
    ViewData["Title"] = "Index";
}

@section Styles{
    <link rel="stylesheet" href="~/css/candidate.css" />
}
<div class="container">
    <div class="title-line m2">区块信息</div>
    <div class="row block-info">
        <div class="col-sm-3">
            <div class="info-cont">
                <p>块高度</p>
                <p class="data_show">
                    <span>234568</span>
                </p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="info-cont">
                <p>块高度</p>
                <p class="data_show">
                    <span>234568</span>
                </p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="info-cont">
                <p>块高度</p>
                <p class="data_show">
                    <span>234568</span>
                </p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="info-cont">
                <p>块高度</p>
                <p class="data_show">
                    <span>234568</span>
                </p>
            </div>
        </div>
    </div>

    <div class="title-line m2">区块指标</div>
    <div class="row">
        <div class="col-sm-12">
            <div class="can-charts" id="main"></div>
        </div>
    </div>

    <div class="title-line m2">竞选节点</div>
    <div class="row">
        <ul class="col-sm-12 table-list" id="tableList">
            <li>
                <div class="tr-con">
                    <span class="pub-key">Public Key Of Candidates</span>
                    <span class="can-votes">Votes</span>
                    <span class="can-connect">Connection</span>
                    <span class="can-more">More Info</span>
                </div>
            </li>
            <li>
                <div class="tr-con">
                    <span class="pub-key">038ca6448dd671f04f18155937b2126ee447e98500b2bfeefab6395e95adf86186</span>
                    <span class="can-votes">100000000</span>
                    <span class="can-connect">不在线</span>
                    <span class="can-more"><a>///</a></span>
                </div>
            </li>
            <li>
                <div class="tr-con">
                    <span class="pub-key">038ca6448dd671f04f18155937b2126ee447e98500b2bfeefab6395e95adf86186</span>
                    <span class="can-votes">100000000</span>
                    <span class="can-connect">在线</span>
                    <span class="can-more"><a>///</a></span>
                </div>
                <!--<div class="can-detail">-->
                <!--暂无数据-->
                <!--</div>-->
                <div class="can-detail">
                    <div class="detail-left">
                        <span>网站：</span><a href="http://www.baidu.com" target="_blank">baidu</a><br>
                        <span>国家：</span><a href="http://www.baidu.com" target="_blank">baidu</a><br>
                        <span>社交账号：</span><a href="http://www.baidu.com" target="_blank">baidu</a><br>
                        <span>电报：</span><a href="http://www.baidu.com" target="_blank">baidu</a><br>
                    </div>
                    <div class="detail-right">
                        <span>简介：</span><a href="http://www.baidu.com" target="_blank">baidu</a><br>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>


<p>
    <a asp-action="Create">Create New</a>
</p>


<div>

</div>

@section Scripts{
    <script type="text/javascript" src="~/js/echarts.js"></script>
    <script type="text/javascript" src="~/js/candidate.js"></script>
}