@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="header-img-wrapper">
  <div class="header-token-wrapper">
    <img class="header-token" data-original="@Helper.ToCDN("/images/home/NeoTokenPolygon.svg")" />
    <img class="header-token" data-original="@Helper.ToCDN("/images/home/GasTokenPolygon.svg")" />
  </div>
  <img class="dot-wall" data-original="@Helper.ToCDN("/images/home/DotWall.svg")" />
</div>
