@model List<NewsViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<div class="hero-container home-frontier">
  <div class="col-left">
    LEFT
  </div>

  <div class="col-right">
    RIGHT
  </div>
</div>
