@model List<NewsViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<div class="hero-container home-frontier">
  <div class="hero-inner-wrapper">

    <div class="col-left">
      <div class="heading-container">
        <div class="n3-logo">
          N3
        </div>
        <div class="blurb">
          <h1 class="caption">Neo Frontier</h1>
          <h2 class="subcaption">Launchpad</h1>
          <div class="timeframe">May 24th - July 12th</div>
        </div>
      </div>

      
    </div>

    <div class="col-right">
      TBA
    </div>
  </div>
  
</div>
