@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="/css/homepage.css" asp-append-version="true" />
        <link rel="stylesheet" href="/lib/animate.css/animate.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="@Helper.ToCDN("/css/homepage.min.css", true)" />
        <link href="@Helper.ToCDN("/lib/animate.css/animate.min.css")" rel="stylesheet" />
    </environment>
    <link href="@Helper.ToCDN("/lib/Swiper/css/swiper.min.css")" rel="stylesheet" />
}

@* 基本块 - Home page *@
<div id="homeFri">
    <div class="container content">
        <div class="row">
            <div class="col-md-9">
                <h1 class="m2">An Open Network for Smart Economy</h1>
                <p class="h3 m2">
                    Join the <span class="green">Most developer-friendly</span> network of blockchain solution
                </p>
                <a class="btn m3">LEARN MORE</a>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
<div class="container content">
    <div class="row">
        <div class="col-md-6">
            <h2>Turn your vision into reality with NEO</h2>
        </div>
        <div class="col-md-6">
            <p class="m4">
                As the most-developer friendly platform, NEO is supporting 70-plus dAPPs with its comprehensive suite of tools and resources, ranging from DevPack and NeoContract to off and online training sessions
            </p>
            <a class="btn m3">LEARN MORE</a>
        </div>
    </div>
</div>
<div class="b1">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div>Mainstream Languages</div>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="col-md-4">2</div>
            <div class="col-md-4">3</div>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        pageSize();
        $(window).resize(function () {
            pageSize();
        });

        function pageSize() {
            $("#homeFri").each(function () {
                $(this).css("width", $(window).width());
                $(this).css("min-height", $(window).height());
            })
        }
    </script>
}

