@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="/css/homepage.css" asp-append-version="true" />
        <link rel="stylesheet" href="/lib/animate.css/animate.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="@Helper.ToCDN("/css/homepage.min.css", true)" />
        <link href="@Helper.ToCDN("/lib/animate.css/animate.min.css")" rel="stylesheet" />
    </environment>
    <link href="@Helper.ToCDN("/lib/Swiper/css/swiper.min.css")" rel="stylesheet" />
}

@* 基本块 - Home page *@
<div id="homeFri">
    <div class="container p1">
        <div class="row mt1">
            <div class="col-md-12">
                <h3>
                    Join the<br />
                    <span class="h1 green typetext">Most developer-friendly</span><br />
                    network of blockchain solution
                </h3>
                <div class="mt4">
                    <a class="btn">LEARN MORE</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Turn your vision into reality with NEO</h2>
        </div>
        <div class="col-md-6">
            <p class="mt6">
                As the most-developer friendly platform, NEO is supporting 70-plus dAPPs with its comprehensive suite of tools and resources, ranging from DevPack and NeoContract to off and online training sessions
            </p>
            <a class="btn mt4">LEARN MORE</a>
        </div>
    </div>
</div>
<div class="b1 mt2">
    <div class="container p3">
        <div class="row">
            <div class="col-md-4 mt5">
                <div>Mainstream Languages</div>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="col-md-4 mt5">2</div>
            <div class="col-md-4 mt5">3</div>
        </div>
    </div>
</div>

<div class="container p1 mt3">
    <div class="row">
        <div class="col-md-7">
            <h2>NEO’s Ecosystem</h2>
            <p class="mt5">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
            <p class="mt4"><a class="btn">GET WALLET</a></p>
        </div>
        <div class="col-md-5"></div>
    </div>
</div>
<div class="b2">
    <div class="container p2 text-center">
        <h2 class="w700">Get a NEO Wallet today, and take control of your assets!</h2>
        <p class="mt4"><a class="btn1">GET WALLET</a></p>
    </div>
</div>

<div class="container mt1">
    <h2>News & Events <a class="btn2">View More</a></h2>
    <div class="row mt6">
        <div class="col-md-4">
            <img class="mt5" width="100%" height="200" />
            <p class="green mt5 bold">EVENTS</p>
            <p class="h4">NEO JOY 2019 - Shanghai</p>
            <p>Wed, 2019-07-30, 16:30 - 18:30</p>
        </div>
        <div class="col-md-4">
            <img class="mt5" width="100%" height="200" />
            <p class="green mt5 bold">EVENTS</p>
            <p class="h4">NEO JOY 2019 - Shanghai</p>
        </div>
        <div class="col-md-4">
            <img class="mt5" width="100%" height="200" />
            <p class="green mt5 bold">EVENTS</p>
            <p class="h4">NEO JOY 2019 - Shanghai</p>
        </div>
    </div>
</div>
<div class="container p2 mt4">
    <h2>NEO’s Ecosystem</h2>
    <div class="row">
        <div class="col-md-6">
            <p class="mt3 h4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor arcu eget ultricies Lorem ipsum porta.</p>
            <p class="mt4"><a class="btn">GET WALLET</a></p>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>



@section Scripts{
    <script src="~/js/typetext.js"></script>
    <script>
        pageSize();
        $(window).resize(function () {
            pageSize();
        });

        function pageSize() {
            $("#homeFri").each(function () {
                $(this).css("width", $(window).width());
                $(this).css("min-height", $(window).height());
            })
        }
    </script>
}

