@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home Page";
}

@section Styles{ 
    <link href="~/css/homepage.css" rel="stylesheet"/>
}

@* loading页面 *@
<div class="load-page">
    <div class="span">
        <div class="square"></div>
    </div>
</div>

@* 背景滚动效果 *@
<div class="scroll-page city-back">
    <div class="home-scroll scroll-five" data-0="background-position-x:0px" data-end="background-position-x:200px;"></div>
    <div class="home-scroll scroll-four" data-0="background-position-x:0px" data-end="background-position-x:400px;"></div>
    <div class="home-scroll scroll-thr" data-0="background-position-x:0px" data-end="background-position-x:600px;"></div>
    <div class="home-scroll scroll-sec" data-0="background-position-x:0px" data-end="background-position-x:800px;"></div>
    <div class="home-scroll scroll-fri" data-0="background-position-x:0px" data-end="background-position-x:2000px;"></div>
    @*<div class="home-scroll scroll-text-acr" data-0="" data-end="">
        数字资产<br />智能合约
    </div>
    <div class="home-scroll scroll-text-ver" data-0="" data-end="">
        数字身份
    </div>*@
    <div class="home-scroll scroll-top"></div>
</div>

@* 基本块 *@
<div class="home-page-content" id="homeFri">
    <div class="row">
        <div class="back-mask"></div>
        <div class="midpoint home-text-fir">
            <h1>一种分布式智能经济网络</h1>
        </div>
    </div>
</div>
<div class="home-page-content">
    <div class="container body-content  home-neo-intro">
        <div class="row text-white t2">
            <p class="h1 m1">什么是 NEO?</p>
            <div class="col-sm-6 text-left p2">
                NEO是一个非盈利的社区化区块链项目，是利用区块链技术和数字身份进行资产数字化，利用智能合约对数字资产进行自动化管理，实现“智能经济”的一种分布式网络。
            </div>
            <div class="col-sm-6 text-left p2">
                NEO于2014年正式立项，2015年6月在Github上实时开源，自成立以来，NEO团队亲历了区块链行业的高潮与低谷，数字货币市场的狂热与冷却。我们相信，科技是这个时代变迁的原动力，在这股动力的推动下，我们将迈入新的“智能经济”时代。
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8 p2">
                <h2 class="m3">数字资产 + 数字身份 + 智能合约</h2>
                <h2 class="m3"> = </h2>
                <h1 class="m3">智能经济</h1>
            </div>
        </div>
        <p class="t2 text-white p2">想了解更多? 查看 <a class="bold-font text-white" href="#"> NEO特性 </a></p>
        <p>NEO图标</p>
    </div>
</div>

<div class="home-page-content back-color home-down">
    <div class="container home-detail zindex">
        <div class="row">
            <div class="col-sm-6 p2">
                <h1 class="m2">NEO客户端</h1>
                <p class="t2 m2">NEO客户端支持多种平台，并有社区开发者持续开发和维护，您可以选择最合适的进行下载或访问，如有使用方面的问题可以直接联系开发者。</p>
            </div>
            @*<div class="col-sm-6"></div>*@
        </div>
    </div>
</div>

<div class="home-page-content home-deve">
    <div class="home-detail zindex">
        <div class="detail-text">
            <h1 class="m2">直接用高级语言编写智能合约</h1>
            <p class="t1 m2">参与我们的项目、领取开发测试用的NEO与GAS或查看我们的技术文档</p>
        </div>
        <img class="right-pic" src="~/images/banner1.svg" />
    </div>
    <div class="home-detail zindex">
        <div class="detail-text">
            <h1 class="m2">高性能</h1>
            <p class="t1 m2">参与我们的项目、领取开发测试用的NEO与GAS或查看我们的技术文档</p>
        </div>
        <img class="left-pic" src="~/images/banner1.svg" />
    </div>
    <div class="home-detail zindex">
        <div class="detail-text">
            <h1 class="m2">直接用高级语言编写智能合约</h1>
            <p class="t1 m2">参与我们的项目、领取开发测试用的NEO与GAS或查看我们的技术文档</p>
        </div>
        <img class="right-pic" src="~/images/banner1.svg" />
    </div>
    <div class="home-detail zindex home-developer ">
        <div class="container m1 p1">
            <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <h1 class="m2">如果您是开发者</h1>
                    <p class="t1 m2">参与我们的项目、领取开发测试用的NEO与GAS或查看我们的技术文档</p>
                    <a class="btneo t1">进入开发者页面</a>
                </div>
            </div>
        </div>
    </div>

    <div class="scroll-page">
        <div class="home-scroll" data-100-top="margin-left:0px;" data-bottom="margin-left:50px;">
            <img src="~/images/home-scroll-1.png" />
        </div>
        <div class="home-scroll" data-100-top="margin-top:0px;" data-bottom="margin-top:100px;">
            <img src="~/images/home-scroll-2.png" />
        </div>
        <div class="home-scroll" data-100-top="margin-top:0px;" data-bottom="margin-top:50px;">
            <img src="~/images/home-scroll-3.png" />
        </div>
        <div class="home-scroll" data-100-top="margin-top:0px;" data-bottom="margin-top:100px;">
            <img src="~/images/home-scroll-4.png" />
        </div>
    </div>
</div>

<div class="home-page-content home-down">
    <div class="container home-detail zindex">
        <div class="row">
            <div class="col-sm-6 p2">
                <h1 class="m2">NEO客户端</h1>
                <p class="t2 m2">NEO客户端支持多种平台，并有社区开发者持续开发和维护，您可以选择最合适的进行下载或访问，如有使用方面的问题可以直接联系开发者。</p>
                <a class="btneo t1">进入下载页面</a>
                <p class="home-down-tab m2">
                    <a class="iconfont" title="移动" href="#" target="_blank">&#xe64b;</a>
                    <a class="iconfont" title="桌面" href="#" target="_blank">&#xe632;</a>
                    <a class="iconfont" title="网页" href="#" target="_blank">&#xe63c;</a>
                </p>
            </div>
            @*<div class="col-sm-6"></div>*@
        </div>
    </div>
</div>

<div class="home-page-content home-download p1">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 p1">
                <h1>NEO客户端</h1>
                <p class="t2 m2">NEO客户端支持多种平台，并有社区开发者持续开发和维护，您可以选择最合适的进行下载或访问，如有使用方面的问题可以直接联系开发者。</p>
            </div>
            <div class="col-sm-6 p1">
                <a class="btneo t1">进入下载页面</a>
                <p class="home-down-tab m2">
                    <a class="iconfont" title="移动" href="#" target="_blank">&#xe64b;</a>
                    <a class="iconfont" title="桌面" href="#" target="_blank">&#xe632;</a>
                    <a class="iconfont" title="网页" href="#" target="_blank">&#xe63c;</a>
                </p>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript" src="~/js/skrollr.js"></script>
    <script type="text/javascript">


        window.onload = function () {
            pageSize();

            if (/Mobile|Windows Phone|Lumia|Android|webOS|iPhone|iPod|Blackberry|PlayBook|BB10|Opera Mini|\bCrMo\/|Opera Mobi/i.test(navigator.userAgent)) {
            } else {
                skrollr.init({
                    edgeStrategy: 'set',
                    easing: {
                        WTF: Math.random,
                        inverted: function (p) {
                            return 1 - p;
                        }
                    }
                });
            }

            setTimeout(function () {
                $(".load-page").hide();
            }, 100);
            //兼容IE调整
            $("body").css("height", "auto");
        }

        window.onresize = function () {
            pageSize();
        }

        function pageSize() {
            $("#homeFri").each(function () {
                $(this).css("width", $(window).width());
                $(this).css("min-height", $(window).height());
            })
        }
    </script>
}
