@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="/css/homepage.css" asp-append-version="true" />
        <link rel="stylesheet" href="/lib/animate.css/animate.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="@Helper.ToCDN("/css/homepage.min.css", true)" />
        <link href="@Helper.ToCDN("/lib/animate.css/animate.min.css")" rel="stylesheet" />
    </environment>
    <link href="@Helper.ToCDN("/lib/Swiper/css/swiper.min.css")" rel="stylesheet" />
}

@* 基本块 - Home page *@
<h1>An Open Network For Smart Economy</h1>
<h2>NEO Home Page</h2>
<h3>NEO Home Page</h3>
<h4>NEO Home Page</h4>
<h5>NEO Home <strong>Page</strong></h5>
<h5 class="bold">NEO Home Page</h5>
<h6>NEO Home Page</h6>
<p>NEO Home Page</p>
<div id="homeFri">
    <div class="container content">
        <h1 class="green-text m2">An Open Network for Smart Economy</h1>
        <p class="h5 bold m2">
            Join the <span class="h4 bolder green-text">Most developer-friendly</span><br />network of blockchain solution
        </p>
    </div>
</div>


@section Scripts{
    <script>
        pageSize();
        $(window).resize(function () {
            pageSize();
        });
        
        function pageSize() {
            $("#homeFri").each(function () {
                $(this).css("width", $(window).width());
                $(this).css("min-height", $(window).height());
            })
        }
    </script>
}
