@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home Page";
}

@section Styles{ 
    <link href="~/css/homepage.css" rel="stylesheet"/>
}
<div class="a111"></div>
<div class="container body-content">
    <div class="row">


    </div>
</div>