@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="/css/homepage.css" asp-append-version="true" />
        <link rel="stylesheet" href="/lib/animate.css/animate.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="@Helper.ToCDN("/css/homepage.min.css", true)" />
        <link href="@Helper.ToCDN("/lib/animate.css/animate.min.css")" rel="stylesheet" />
    </environment>
    <link href="@Helper.ToCDN("/lib/Swiper/css/swiper.min.css")" rel="stylesheet" />
}

@* 基本块 - Home page *@
<div id="homeFri">
    <div class="container p1">
        <div class="row mt1">
            <div class="col-md-12">
                <h3>
                    Join the<br />
                    <span class="h1 typetext">Most developer-friendly</span><br />
                    network of blockchain solution
                </h3>
                <div class="mt4">
                    <a class="btn">LEARN MORE</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container p2">
    <div class="row">
        <div class="col-md-6">
            <h2>Turn your vision into reality with NEO</h2>
        </div>
        <div class="col-md-6">
            <p class="mt6">
                As the most-developer friendly platform, NEO is supporting 70-plus dAPPs with its comprehensive suite of tools and resources, ranging from DevPack and NeoContract to off and online training sessions
            </p>
            <a class="btn mt4">LEARN MORE</a>
        </div>
    </div>
</div>
<div class="b3">
    <div class="container">
        <div class="row list3">
            <div class="col-md-4">
                <span class="green">
                    Mainstream
                    Languages
                </span>
                <ul class="list-ul">
                    <li>c#</li>
                    <li>Python</li>
                    <li>Java</li>
                    <li>JavaScript</li>
                    <li>Go</li>
                </ul>
            </div>
            <div class="col-md-4">
                <span class="green">Highly Active Network</span>
                <ul class="list-ul list-inline">
                    <li>2,000,000 +<span>Wallet Address</span></li>
                    <li>1,000,000 +<span>Media Follower</span></li>
                    <li>100 +<span>dApps</span></li>
                    <li>1,000 +<span>Contributor</span></li>
                </ul>
            </div>
            <div class="col-md-4">
                <span class="green">Global Neo Communities</span>
                <ul class="list-ul list-inline">
                    <li>20 +<span>Cities</span></li>
                    <li>7 +<span>Media Follower</span></li>
                    <li>3,800 +<span>Community members</span></li>
                    <li>60 +<span>Meetups</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container home-con p2 clearfix">
    <h2 class="mt4">NEO’s Ecosystem</h2>
    <img data-original="/upload/9d72559e7e6b34e75a8f.jpg"/>
    <div>
        <p class="mt5">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
        <p class="mt4"><a class="btn">GET WALLET</a></p>
    </div>
</div>
<div class="b2">
    <div class="container p2 text-center">
        <h2 class="w700">Get a NEO Wallet today, and take control of your assets!</h2>
        <p class="mt4"><a class="btn1">GET WALLET</a></p>
    </div>
</div>

<div class="container home-con p2 clearfix">
    <img class="mt5" data-original="/upload/9d72559e7e6b34e75a8f.jpg" />
    <div class="mt4">
        <h2>Get a NEO Wallet today, and take control of your assets!</h2>
        <p class="mt4"><a class="btn">GET WALLET</a></p>
    </div>
</div>

<div class="container mt1">
    <h2>News & Events <a class="btn2">View More</a></h2>
    <div class="row list2">
        <div class="col-md-4">
            <img />
            <div class="small">July 16, 2019<span class="ml2 green">EVENTS</span></div>
            <div class="list-title">NEO JOY 2019 - Shanghai Shanghai Shanghai Shanghai</div>
            <div class="small">Wed, 2019-07-30, 16:30 - 18:30<br />China, Shanghai</div>
        </div>
        <div class="col-md-4">
            <img />
            <div class="small">July 16, 2019<span class="ml2 green">EVENTS</span></div>
            <div class="list-title">NEO JOY 2019 - Shanghai Shanghai Shanghai Shanghai</div>
            <div class="small"><a href="/discover?keywords=月报"># 月报</a></div>
        </div>
        <div class="col-md-4">
            <img />
            <div class="small">July 16, 2019<span class="ml2 green">EVENTS</span></div>
            <p class="list-title">NEO announces consenus node selction cycle as part of its efforts to accelerate decentralization</p>
        </div>
    </div>
</div>
<div class="container p2 mt4">
    <h2>NEO’s Ecosystem</h2>
    <div class="row">
        <div class="col-md-6">
            <p class="mt3 h4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor arcu eget ultricies Lorem ipsum porta.</p>
            <p class="mt4"><a class="btn">GET WALLET</a></p>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>



@section Scripts{
    <script src="~/js/typetext.js"></script>
    <script>
        pageSize();
        $(window).resize(function () {
            pageSize();
        });

        function pageSize() {
            $("#homeFri").each(function () {
                $(this).css("width", $(window).width());
                $(this).css("min-height", $(window).height());
            })
        }
    </script>
}

