
@{
    ViewData["Title"] = "NEO Contributors";
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/team.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/team.min.css" asp-append-version="true" />
    </environment>
}
<div class="container">
    <h2 class="m2 text-center">NEO Contributors</h2>
    <div class="team">
        <div class="card">
            <img class="card-img-top" data-original="../images/team/da.jpg" />
            <div class="card-body">
                <div class="card-title">Da Hongfei</div>
                <div class="card-text">NEO Founder</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/erik.jpg" />
            <div class="card-body">
                <div class="card-title">Erik Zhang</div>
                <div class="card-text">NEO Founder & Core Developer</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/tony.jpg" />
            <div class="card-body">
                <div class="card-title">Tony Tao</div>
                <div class="card-text">Secretary-General, NEO Council Secretariat</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/jianying.jpg" />
            <div class="card-body">
                <div class="card-title">Li Jianying</div>
                <div class="card-text">Core Developer</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/malcolm.jpg" />
            <div class="card-body">
                <div class="card-title">Malcolm</div>
                <div class="card-text">Senior R&D Manager</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/zc.jpg" />
            <div class="card-body">
                <div class="card-title">Johnson</div>
                <div class="card-text">NEO Global Development Director</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/fred.jpg" />
            <div class="card-body">
                <div class="card-title">Fred Huang</div>
                <div class="card-text">NEO Overseas Community Operation</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/chen.jpg" />
            <div class="card-body">
                <div class="card-title">Nathan Chen</div>
                <div class="card-text">Project Liaison</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/chris.jpg" />
            <div class="card-body">
                <div class="card-title">Chris Chen</div>
                <div class="card-text">Developer</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/qiaoling.jpg" />
            <div class="card-body">
                <div class="card-title">Sharlyne</div>
                <div class="card-text">Community Operation</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/peter.jpg" />
            <div class="card-body">
                <div class="card-title">Peter Lin</div>
                <div class="card-text">Developer</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/shou.jpg" />
            <div class="card-body">
                <div class="card-title">Ray</div>
                <div class="card-text">Test Engineer</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/yan.jpg" />
            <div class="card-body">
                <div class="card-title">Yan Mingxia</div>
                <div class="card-text">Front-end Developer</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/huang.jpg" />
            <div class="card-body">
                <div class="card-title">JC</div>
                <div class="card-text">Community Operation</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/fang.jpg" />
            <div class="card-body">
                <div class="card-title">Robin Fang</div>
                <div class="card-text">Translator</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/su.jpg" />
            <div class="card-body">
                <div class="card-title">Susu</div>
                <div class="card-text">Project Liaison</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/zeng.jpg" />
            <div class="card-body">
                <div class="card-title">Kris</div>
                <div class="card-text">NEO Overseas Community Operation</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/yu.jpg" />
            <div class="card-body">
                <div class="card-title">Celia Yu</div>
                <div class="card-text">Senior Technical Writer</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/luoxue.jpg" />
            <div class="card-body">
                <div class="card-title">Luo Xue</div>
                <div class="card-text">Developer Intern</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/simiao.jpg" />
            <div class="card-body">
                <div class="card-title">Hebe Wang</div>
                <div class="card-text">Community Operation</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/keke.jpg" />
            <div class="card-body">
                <div class="card-title">Caterina Zhang</div>
                <div class="card-text">Global Marketing Manager</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/tamar.jpg" />
            <div class="card-body">
                <div class="card-title">Tamar Salant</div>
                <div class="card-text">Global Business Development Manager</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/miles.jpg" />
            <div class="card-body">
                <div class="card-title">Miles Graham</div>
                <div class="card-text">Consultant</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/Grace.jpg" />
            <div class="card-body">
                <div class="card-title">Grace Gui</div>
                <div class="card-text">Global Marketing</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/wayne.jpg" />
            <div class="card-body">
                <div class="card-title">Wayne Zhu</div>
                <div class="card-text">Head of Investment, NEO;<br /> Partner, NEO Global Capital</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/canesin.png" />
            <div class="card-body">
                <div class="card-title">Fabio C. Canesin</div>
                <div class="card-text">Founder, CoZ</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/ethan.png" />
            <div class="card-body">
                <div class="card-title">Ethan Fast</div>
                <div class="card-text">Co-Founder, CoZ</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/joe.jpg" />
            <div class="card-body">
                <div class="card-title">Joe Stewart</div>
                <div class="card-text">City of Zion Developer</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/chris-hager.jpg" />
            <div class="card-body">
                <div class="card-title">Chris Hager<div class="card-text">    City of Zion Developer</div></div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/david_s.jpg" />
            <div class="card-body">
                <div class="card-title">David Schwartz</div>
                <div class="card-text">City of Zion Developer</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/jason.jpg" />
            <div class="card-body">
                <div class="card-title">Jason L Perry</div>
                <div class="card-text">City of Zion Developer</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/yjx.jpg" />
            <div class="card-body">
                <div class="card-title">Yak Jun Xiang</div>
                <div class="card-text">City of Zion Developer</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/tsaunders.jpg" />
            <div class="card-body">
                <div class="card-title">Thomas Saunders</div>
                <div class="card-text">City of Zion Council/Developer</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/erik-vd-brink.jpg" />
            <div class="card-body">
                <div class="card-title">Erik van den Brink</div>
                <div class="card-text">City of Zion Developer</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/Luciano.jpg" />
            <div class="card-body">
                <div class="card-title">Luciano Engel</div>
                <div class="card-text">City of Zion Council/Developer</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/tba.png" />
            <div class="card-body">
                <div class="card-title">Tyler B Adams</div>
                <div class="card-text">City of Zion Council/Developer</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/afong.jpg" />
            <div class="card-body">
                <div class="card-title">Alan Fong</div>
                <div class="card-text">City of Zion Council/Developer</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/travis.jpg" />
            <div class="card-body">
                <div class="card-title">Travis Lin</div>
                <div class="card-text">City of Zion Developer</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/jlgaffney.jpg" />
            <div class="card-body">
                <div class="card-title">Justin Gaffney</div>
                <div class="card-text">City of Zion Developer</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/deanpress.jpg" />
            <div class="card-body">
                <div class="card-title">Dean van Dugteren</div>
                <div class="card-text">City of Zion Developer</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/jaime.jpg" />
            <div class="card-body">
                <div class="card-title">Jaime Kindelan</div>
                <div class="card-text">Security Team</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/shargon.jpg" />
            <div class="card-body">
                <div class="card-title">Fernando Díaz Toledano</div>
                <div class="card-text">Security Team</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/sa.jpg" />
            <div class="card-body">
                <div class="card-title">Silas Albrecht</div>
                <div class="card-text">City of Zion Developer</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/Luke.jpg" />
            <div class="card-body">
                <div class="card-title">Luke Plaster</div>
                <div class="card-text">City of Zion Developer</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/charlie.jpg" />
            <div class="card-body">
                <div class="card-title">Charlie Revett</div>
                <div class="card-text">City of Zion Developer</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/nikolajkuntner.jpg" />
            <div class="card-body">
                <div class="card-title">Nikolaj Kuntner</div>
                <div class="card-text">Gentleman Scientist</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/evgenyboxer.jpg" />
            <div class="card-body">
                <div class="card-title">Evgeny Boxer</div>
                <div class="card-text">City of Zion Developer</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/PauloAboimPinto.jpg" />
            <div class="card-body">
                <div class="card-title">Paulo Aboim Pinto</div>
                <div class="card-text">City of Zion Developer</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/sergioflores.jpg" />
            <div class="card-body">
                <div class="card-title">Sérgio Flores</div>
                <div class="card-text">City of Zion Developer</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/matt.jpg" />
            <div class="card-body">
                <div class="card-title">Matt Huggins</div>
                <div class="card-text">City of Zion Developer</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" data-original="../images/team/mwherman2000.jpg" />
            <div class="card-body">
                <div class="card-title">Michael Herman</div>
                <div class="card-text">City of Zion Developer</div>
            </div>
        </div>
        <div class="card">
            <a target="_blank" href="https://github.com/neo-project/neo.org/blob/master/NeoWeb/Views/Home/contributor.md">
                <img class="card-img-top" data-original="../images/team/add.jpg" />
            </a>
            <div class="card-body">
                <div class="card-title"><a target="_blank" href="https://github.com/neo-project/neo.org/blob/master/NeoWeb/Views/Home/contributor.md">    Add Your Photo</a></div>
                <div class="card-text">NEO contributor</div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/jquery.lazyload.min.js"></script>
    <script>
        $('[data-original]').lazyload({
            threshold: 200,
            effect: "fadeIn"
        });
    </script>
}
