@model NeoWeb.Models.News
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Post News";
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="/css/editor.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="@Helper.ToCDN("/css/editor.min.css", true)" />
    </environment>
}
<div class="p1">
    <h1 class="w800">@Localizer["Post"]</h1>
</div>
<div class="post-type">Post Type<a asp-controller="blog" asp-action="create">Blogs</a><a asp-controller="event" asp-action="create">Events</a><span>News</span></div>
<form asp-action="Create" enctype="multipart/form-data">
    @{await Html.RenderPartialAsync("_EditorPartialPage", Model);}
</form>