@model IEnumerable<NeoWeb.Models.News>

@{
    ViewData["Title"] = "Index";
}
<div class="container text-center m1">
    <h1 class="m2">新闻列表</h1>

    <ul>
        @foreach (var item in Model)
        {
            <li>
                <p>
                    <a href="@Html.DisplayFor(modelItem => item.Link)" target="_blank">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>
                        <a asp-action="Edit" asp-route-id="@item.Id">编辑</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">删除</a>
                    </span>
                </p>
            </li>
        }
    </ul>
    <a asp-action="Create">添加新闻</a>
</div>