@{
    ViewData["Title"] = "Competition";
}
@section Styles{
    <link rel="stylesheet" href="~/css/competition.css" />
}
<div class="competition text-center">
    <div class="block">
        <h1>2017</h1>
        <h1>NEO开发者大会</h1>
        <h2>2017年11月17日 - 2018年1月31日</h2>
    </div>
    <div class="block">
        <p class="compe-title"><span>大赛简介</span></p>
        <p>Competition Rules</p>
        <div>
            首届NEO开发者大赛<br />
            一场有关创造，激情，野心的大赛<br />
            一场汇聚灵感，连接智慧，释放力量的开发者盛会<br />
            集结全球NEO社区开发者，开启热血代码之旅，碰撞出不一样的火花
        </div>
        <a class="compe-btn">快速报名</a>
        <a class="compe-btn">作品提交</a>
    </div>
</div>
<div class="footer">
    <div class="foo-content">
        <div class="foo-title">主办方</div>
        <div class="icon-content">
            <span><a title="NEO">NEO</a></span>
            <span><a title="Microsoft">Microsoft</a></span>
        </div>
    </div>
    <div class="foo-content">
        <div class="foo-title">协办方</div>
        <div class="icon-content">
            <span><a title="NEO">NEO</a></span>
            <span><a title="Microsoft">Microsoft</a></span>
        </div>
    </div>
    <div class="foo-content">
        <div class="foo-title">支持媒体</div>
        <div class="icon-content">
            <span><a title="NEO">NEO</a></span>
            <span><a title="Microsoft">Microsoft</a></span>
            <span><a title="NEO">NEO</a></span>
            <span><a title="Microsoft">Microsoft</a></span>
            <span><a title="NEO">NEO</a></span>
            <span><a title="Microsoft">Microsoft</a></span>
            <span><a title="NEO">NEO</a></span>
            <span><a title="NEO">NEO</a></span>
            <span><a title="NEO">NEO</a></span>
            <span><a title="Microsoft">Microsoft</a></span>
            <span><a title="Microsoft">Microsoft</a></span>
            <span><a title="Microsoft">Microsoft</a></span>
            <span><a title="NEO">NEO</a></span>
            <span><a title="NEO">NEO</a></span>
            <span><a title="NEO">NEO</a></span>
            <span><a title="Microsoft">Microsoft</a></span>
            <span><a title="Microsoft">Microsoft</a></span>
            <span><a title="Microsoft">Microsoft</a></span>
        </div>
    </div>
</div>

