@model NeoWeb.Models.Event
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Post Event";
}
<div class="p1">
    <h1 class="w800">@Localizer["Post"]</h1>
</div>
<form asp-action="Create" class="form-horizontal" enctype="multipart/form-data">
    @{await Html.RenderPartialAsync("_EditorPartialPage", Model);}
</form>
<div>
    <a asp-action="index">Back to List</a>
</div>