@model NeoWeb.Models.Event
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Post Event";
}
@section Styles{
    <link rel="stylesheet" href="@Helper.ToCDN("/css/editor.min.css", true)" />
}
<p class="mt-4">@Localizer["Post"]</p>
<div class="post-type">Post Type<a asp-controller="blog" asp-action="create">Blogs</a><span>Events</span><a asp-controller="news" asp-action="create">News</a></div>
<form asp-action="Create" class="form-horizontal" enctype="multipart/form-data">
    @{await Html.RenderPartialAsync("_EditorPartialPage", Model);}
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_Tiny.ScriptsPartial");}
    <script src="@Helper.ToCDN("/js/editor.min.js")"></script>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init()
        })
    </script>
}
