@model NeoWeb.Models.Event
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Edit Event";
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="/css/editor.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="@Helper.ToCDN("/css/editor.min.css", true)" />
    </environment>
}
<div class="p1">
    <h1 class="w800">@Localizer["Post"]</h1>
</div>
<div class="post-type">Post Type<a asp-controller="blog" asp-action="create">Blogs</a><span>Events</span><a asp-controller="news" asp-action="create">News</a></div>
<form asp-action="Edit" class="form-horizontal" enctype="multipart/form-data">
    @{await Html.RenderPartialAsync("_EditorPartialPage", Model);}
</form>