@model IEnumerable<NeoWeb.Models.Event>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Event";
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/event.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/event.min.css" asp-append-version="true" />
    </environment>
}

<div class="event-banner">
    <div class="container">
        <h1 class="text-center mb-3">Find your next experience</h1>
        <form asp-action="search">
            <div class="input-group" style="width: 80%; margin: auto;">
                <input name="keyword" type="text" class="form-control" placeholder="Search events or categories">
                <select class="form-control">
                    <option selected="selected">All Country</option>
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                </select>
                <select class="form-control">
                    <option selected="selected" value="">All Dates</option>
                    <option value="today">Today</option>
                    <option value="tomorrow">Tomorrow</option>
                    <option value="this_week">This Week</option>
                    <option value="this_weekend">This Weekend</option>
                    <option value="next_week">Next Week</option>
                    <option value="next_month">Next Month</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-success" type="submit">@Localizer["Search"]</button>
                </div>
            </div>
        </form>
    </div>
</div>
@* 按类别筛选 *@
<div class="mb-3 text-center">
    <div class="container">
        <a class="btn btn-light" href="~/event/index">ALL</a>
        @foreach (var item in (ViewBag.AllFeatureEvent as IEnumerable<Event>).GroupBy(p => p.Type))
        {
            <a class="btn btn-light" href="~/event/index/@item.FirstOrDefault().Type.ToString().ToLower()">@item.FirstOrDefault().Type</a>
        }
    </div>
</div>
<div class="container text-center" style="position: relative;">

    <div class="text-left m3">
        @if (ViewBag.UserRules)
        {
            <a asp-action="Create">@Localizer["Create a new event"]</a>
        }
    </div>

    @foreach (var item in Model.Where(p => p.EndTime >= DateTime.Now))
    {
        Html.RenderPartial("_EventPartialPage", item);
    }
    <hr />
    <div><a href="~/event/index/showall">@Localizer["Show previous events"]</a></div>
    @foreach (var item in Model.Where(p => p.EndTime < DateTime.Now))
    {
        Html.RenderPartial("_EventPartialPage", item);
    }
    <hr />
    @await Html.PartialAsync("_LoginPartial")
</div>
