
@{
    ViewData["Title"] = "EcoBoost";
}
@section Styles{
    <link rel="stylesheet" href="/css/eco.css"/>
}

<div class="eco-bannner">
    <h1>EcoBoost</h1>
</div>
<div class="container p2">

</div>
