@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Completed";
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/giveback.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/giveback.min.css" asp-append-version="true" />
    </environment>
}
<div class="container completed-content">
    <h1 class="apply-title m2">@Localizer["The application has been submitted"]</h1>
    <p>
        @Localizer["We have received your application for \"NEO Sponsor Giveback Plan\". The giveback for all sponsor will be issued from <b>June 5, 2018</b> to <b>June 10, 2018</b>. Please contact contact@neo.org If you have any questions."]
    </p>
</div>
@section Scripts{
    <script>
        $("#menu_list a").css("border-bottom", "none")
        $("#menu_list li.nav-item [href='/giveback']").css("border-bottom", "2px solid #58bf00")
    </script>
}
