@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<h2 class="menu-page-title">Developer Experience</h2>
<div class="menu-page-description">
    <span class="bold">
        In addition, Neo is also trying to solve the big problem faced by smart contract development regarding smart contract debugging.
    </span>
    <br /><br />
    Through the one-stop smart contract development kit - Neo Blockchain Toolkits, Neo provides the only contract development kit that can solve the pain of debugging smart contracts. It can be debugged repeatedly as time travel debugging experience, and it can even be debugged directly with actual data on the chain. This is also another major breakthrough in Neo in terms of developer experience for blockchain.
</div>
