@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<h2 class="menu-page-title">dBFT 2.0</h2>
<div class="menu-page-description">
    <span class="bold">
        Neo is one of the earliest practitioners of the BFT consensus mechanism applied in a real-world distributed ledger scenario. It offers one-block-finality feature in the protocol layer, which accords perfectly with Neo's vision of the smart economy for its finality and immediacy in transactions.
    </span>
    <br /><br />
    The dBFT (delegated Byzantine Fault Tolerance) consensus mechanism determines validator set according to real-time blockchain voting, which effectively enhances the effectiveness of the algorithm, bringing block time and transaction confirmation time savings.
    <br /><br />
    dBFT 2.0 is an updated version, which improves robustness and safety by introducing 3-stage consensus as well as a recovery mechanism. dBFT2.0 guarantees the finality of the new block, hence there is no possibility of forking since then.
</div>

