@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<h2 class="menu-page-title">Interoperability</h2>
<div class="menu-page-description">
    <span class="bold">
        Neo is a founding member of the interoperability protocol alliance Poly Network. By using Poly Network, Neo is linking disparate and heterogeneous platforms to build a global cross-chain platform with the aim of realizing smart economy and digital assets.
    </span>
    <br /><br />
    Poly Network is based on the side-chain/relay mode and adopts a two-layer architecture. It employs the Poly relay chain as a cross-chain coordinator, multiple homogeneous chains as cross-chain transaction executors, and Relayer as a cross-chain information porter.
    <br /><br />
    Until 2021Q1, $164 MM equal value total inbound assets have been crossed among Neo and other blockchain, such as Bitcoin, Ethereum, Ontology, Binance Smart Chain, and Huobi ECO Chain, etc. In addition, Neo will be the first blockchain to utilize cross-chain technology to achieve a major upgrade of the blockchain protocol and the migration of digital assets issued on Neo.
</div>

