@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<h2 class="menu-page-title">NeoFS</h2>
<div class="menu-page-description">
    <span class="bold">
        NeoFS is a distributed, decentralized object storage network. Built with Neo blockchain integration in mind, NeoFS aims to support the shift away from third-party storage providers, providing users with complete control over their data. Users can have a transparent data placement process due to the decentralized architecture and flexible storage policies.
    </span>
    <br /><br />
    NeoFS ensures user data security and mitigates against malignant nodes by ensuring zero-knowledge data validation through a combination of homomorphic cryptography and game theory models. Furthermore data replication mechanisms can protect user data from storage node failure. So users can reliably store object data in the NeoFS network.
    <br /><br />
    Deeply Neo Blockchain integration allows NeoFS to be used by dApps directly from NeoVM on the Smart Contract code level. This way dApps are not limited to on-chain storage and can manipulate large amounts of data without paying a prohibitive price.
</div>
