@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<h2 class="menu-page-title">Neo Name Service</h2>
<div class="menu-page-description">
    <span class="bold">
        Neo Name Service (NNS) is a decentralized built-in naming service based on the Neo blockchain. NNS can map the human-readable domain names to multiple types of data such as IP address, alias names, text contents and so forth.
    </span>
    <br /><br />
    As an innovative attempt to use NFT to achieve NNS to fully utilize the core features and advantage of NFT, meaning that you are free to transfer the ownership of domain names to others. In addition to this, it offers functionalities of registry, renew, permission control, resolve and expired data deletion, forming a complete life cycle of domains.
    <br /><br />
    Thereby NNS enriches the Neo ecosystem and eases the burden of memorizing complex data by introducing an extensible naming service.
</div>

