@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<h2 class="menu-page-title">NeoID</h2>
<div class="menu-page-description">
    <span class="bold">
        NeoID offers a decentralized and self-sovereign digital identity solution on Neo blockchain. As a fundamental feature of decentralized blockchain, NeoID aims to introduce generic SSI capabilities on the Neo blockchain which solves the issue in the real world by avoiding the centralization of identities and allowing the owner to store and manage their identity. Without a central target to be attacked, NeoID has a higher ability to resist malicious attacks.
    </span>
    <br /><br />
    This SSI (self- sovereign identity) solution also seeks to put the control of a user's identity data back in their own hands, rather than fragmented across the internet and data centers.
    <br />
    The end user is then equipped to decide if, when, and what data to share with a third party that is requesting access to specific information about the user. Everyone is free to spin-up their own distributed “SSI-network” and decide the rules that are governing it, it makes sense to grow and leverage the network of trust by implementing ROT(Root of Trust) managers.
</div>
