@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<h2 class="menu-page-title">Oracles</h2>
<div class="menu-page-description">
    <span class="bold">
        Neo's built-in Oracle adopts the implementation form of native contract and plugin design pattern, and is highly encapsulated, so that users can easily and smoothly obtain external data in smart contracts like simply visiting any website. It is also deeply integrated with NeoFS and other components, which means that it is easy and effortless for users using these components together.
    </span>
    <br /><br />
    The original intention of Neo's built-in Oracle design is to provide users with a set of basic data access services that are simple to use, inexpensive, and reliable. This set of services can meet the basic needs of users to access external data on-chain, and can also be linked with third-party Oracle services for service expansion and enhancement.
</div>

