@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<h2 class="menu-page-title">Smart Contracts</h2>
<div class="menu-page-description">
    <span class="bold">As a developer-friendly blockchain, Neo provides full-stack development tools support, including multi-language smart contract support, multi-language SDK, traditional IDE integration as well as smart contract web IDE, even one-stop smart contract and dApp development framework.</span>
    <br /><br />
    In response to different development needs, Neo provides a full range of comprehensive support for the development process. Whether you want to operate a node, write smart contracts or develop dApps, developers can find suitable development tools and corresponding tech support, which is friendly for new developers to get started as well.
</div>
