html,body {
    margin:0;
    padding:0;
    font-family:"Poppins";
}
.dev-container {
    background:url(../images/bg-green.png) repeat-x;
    background:url(../images/left.svg),url(../images/right.svg),url(../images/bg-green.png);
    background-repeat:no-repeat,no-repeat,repeat-x;
    background-position:bottom left,bottom right,center;
    background-size:28%,20%,contain;
}
.dev-content {
    position:relative;
    z-index:3;
    color:#FFFFFF;
    text-align:center;
    padding-bottom:20px;
}



.bg-animate {
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index:1;
}

/*coming soon*/
.coming-logo {
    text-align: left;
}
.coming-logo img{
    max-width:280px;
    width:40%;
}
.dev-title img{
    max-width:450px;
    width:40%;
}
.ver-year {
    writing-mode: tb;
}
.fri-intro {
    font-family:"Poppins";
    font-size:45px;
}
.thr-intro {
    font-family:"ShareTechMono";
    font-size:45px;
    letter-spacing:15px;
}
.four-intro {
    font-family:"ShareTechMono";
    font-size:60px;
    font-weight:900;
    letter-spacing:2px;
}
.five-intro {
    font-family:"ShareTechMono";
    letter-spacing:5px;
}
.five-intro a{
    color:#FFFFFF;
}

/*svg样式*/
.svg-line {
    stroke:#FFFFFF;
    stroke-width: 4px;
    stroke-dasharray: 8 8;
    stroke-dashoffset: 0px;
    stroke-linecap:round;
    animation: nor 15s linear infinite;
}
.green-line {
    stroke:#2A843D;
}
.fast-line {
    animation: nor 5s linear infinite;
}
.normal-line {
    animation: nor 10s linear infinite;
}
.slow-line {
    animation: nor 20s linear infinite;
}
@keyframes nor {
    0% {stroke-dashoffset: 200px;}
    100% {stroke-dashoffset: 0px;}
}

.op-30{opacity:0.3;}
.op-50{opacity:0.5;}
.op-70{opacity:0.7;}
.op-80{opacity:0.8;}
.op-90{opacity:0.9;}
.ma-l {margin-top:100px;margin-bottom:0px;}
.ma-m {margin-top:60px;margin-bottom:0px;}
.ma-s {margin-top:20px;margin-bottom:0px;}
.ma-xs {margin-top:10px;margin-bottom:0px;}

@media only screen and (max-width:1400px) {
    .ma-l {margin-top:70px;}
    .ma-m {margin-top:40px;}
    .ma-s {margin-top:15px;}
    .ma-xs {margin-top:7px;}
}
@media only screen and (max-width: 768px) {
    .ma-l {margin-top:40px;}
    .ma-m {margin-top:20px;}
    .ma-s {margin-top:10px;}
    .ma-xs {margin-top:5px;}
    .coming-logo{
        text-align:center;
    }
    .bg-animate svg {
        opacity:0.6;
    }
    .dev-container {
        background-size:40%,40%,contain;
    }
    .fri-intro,.thr-intro {
        font-size:30px;
    }
    .sec-intro {
        font-size:20px;
    }
    .four-intro {
        font-size: 48px;
    }
    .ver-year {
        display:none;
    }
}
@media only screen and (max-width: 480px) {
    .bg-animate svg {
        opacity:0.4;
    }
    .coming-logo img{
        width:55%;
    }
    .dev-title img{
        width:70%;
    }
    .thr-intro {
        letter-spacing:5px;
    }
    .five-intro {
        letter-spacing:1px;
    }
}