@font-face {
    font-family:"Mono";
    src:url("font/OverpassMono-Regular.ttf");
}
html,body {
    margin:0;
    padding:0;
    font-family:"Mono","Microsoft Sans Serif";
    line-height: 1.8;
    letter-spacing:1px;
}

.dev-footer {
    background: #f6f9f4;
}

.dev-footer .dev-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
    padding: 0 20px;
}

.dev-footer h3{
    font-weight: bolder;
    padding-bottom: 2vw;
    padding-top: 3vw;
}

.dev-footer h5{
    padding-bottom: 2vw;
}

.dev-footer a{
    color: green;
}

.dev-footer ul,
.dev-footer li{
    list-style:none;
    padding-left: 0;
    text-decoration: underline;
}

.dev-footer .link-box{
    max-width: 350px;
    padding-right: 2vw;
    padding-left: 1vw;
}

.dev-footer .contact-us .icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 18vw;
    min-width: 180px;
}

.dev-footer .contact-us .icon-container div {
    width: 3vw;
    height: 3vw;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5vw;
    min-width: 30px;
    min-height: 30px;
}

.dev-footer .contact-us .icon-container a {
    display: flex;
}


.nav-header {
    position:fixed;
    height: 10vh;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
}
.react-container {
}

.venue-sub-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.venue-sub-container img {
    max-width: 46vw;
}

.venue-info {
    width: 46vw;
    height: 40vw;
    max-width: 470px;
    max-height: 470px;
    padding: 2vw;
    text-align: left;
}

.venue-map {
    width: 46vw;
    height: 46vw;
    max-width: 470px;
    max-height: 470px;
    padding: 2vw;
}

.count-down {
    display: flex;
    color: #fff;
    font-size: 0;
    margin: auto;
    padding: 0;
    text-align: center;
}   
.count-down li {
    padding: 3px 2px;
    border-left: 1px solid #fff;
    display: inline-block;
    width: 24%;
    letter-spacing: 2px;
    font-weight: 900
}
.count-down li:first-child {
    border: none
}

.dev-container {
    padding:100px 0 120px;
    position: relative;
    box-shadow: 5px 5px 10px #3A8435;
}
.about-container{
    background:linear-gradient(0deg, #9CD026, 50%, #56B23A);
    box-shadow: 5px 5px 10px #3A8435;
}
.about-container .dev-content {
    background: white;
    box-shadow: 5px 5px 10px #3A8435;
    border-radius: 5px;
    padding: 20px;
}
.dev-container.bg-white{
    background: white;
}
.dev-container.bg-green{
    background: url(../images/bg-green.png);
    background: url(../images/background/back-1.png),url(../images/background/back-1.png),linear-gradient(-236deg,#9CD026 10%,#56B23A);
    background-repeat: no-repeat,no-repeat,no-repeat;
    background-position: -70% center,160% center,center;
    background-size: 60%,60%,contain
}
.home-container {
    padding: 20px 0;
    background:url(../Photos/ganapathy-kumar-113604-unsplash.jpg) no-repeat center;
    background-size:100% 100%;
    background-size: cover;
}
.dev-content {
    position:relative;
    z-index:3;
    color:#000000;
    text-align:center;
}
.dev-content h1 {
    font-size: calc(15px + 2.5vw);
    text-align: center;
}

.dev-organizer h1 {
    padding-bottom: 50px;
}

.dev-venue h1 {
    padding-bottom: 50px;
}

a {
    color:#FFFFFF;
    cursor:pointer;
}
.iconfont {
    font-size:22px;
}

.bg-animate {
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index:1;
    height: inherit;
}
.bg-animate img {
    position:absolute;
    margin:auto;
}
.coming-logo {
    text-align: left;
}
.coming-logo img{
    width:120px;
}
.dev-title img{
    width:80%;
}
.dev-headline {
}

/*第一个页面*/
.dev-year {
    background:url(../images/background/2019.png) no-repeat center;
    background-size:contain;
    max-height:140px;
    line-height:140px;
    text-shadow: 0px 0px 25px #000;
    font-weight: 600;
}
.dev-btn-1 {
    display:inline-block;
    min-width:260px;
    margin:20px;
    padding:15px 30px;
    border:1px solid #EAFF00;
    border-radius:30px;
    box-shadow:0px 0px 5px #EAFF00,inset 0px 0px 5px #EAFF00;
}
.dev-btn-1 img,
.dev-btn-1 input{
    width: 86%;
    max-width: 220px;
    vertical-align: middle;
}
.dev-btn-2 {
    position: absolute;
    display: inline-block;
    margin: 5px;
    padding: 8px 12px;
    border-radius: 25px;
    vertical-align: middle;
    right: 0;
    top: 0;
}
.dev-ticket {
    position: relative;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.sub-email {
    width: inherit;
    padding: 10px 30px;
    border: 1px solid #4fad4c;
    border-radius: 30px;
    background: #4fad4c;
    color: #fff;
}
.sub-email:focus{
    box-shadow:none;
    outline-color:transparent;
}
.sub-email::-webkit-input-placeholder {
    color:#b1ceb1;
}
.sub-email::-moz-placeholder {
    color:#b1ceb1;
}
.sub-email:-ms-input-placeholder {
    color:#b1ceb1;
}

/*第二屏*/
.dev-bg .container{
    padding: 20px;
    background:linear-gradient(-90deg,#4BA545 60%,#80BE43);
    box-shadow: 5px 5px 10px #3A8435;
}
.dev-bg .container p{
    margin: 25px 30px;
}
.dev-bg .container:before{
    content: " ";
    position: absolute;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    border: 1px solid #A4DB1E;
    z-index: -1;
}
.dev-bg .container .bg-animate{
    z-index: -1;
}
.dev-conti span{
    position: relative;
    text-shadow: 0 0 5px #F6FF02;
}
.dev-conti span:before,
.dev-conti span:after{
    content: " ";
    position: absolute;
    top: 0;
    bottom: 10px;
    margin: auto;
    width: 90px;
    height: 4px;
    opacity: 0.6;
    border-radius: 2px;
}
.dev-conti span:before{
    left: -100px;
    background: linear-gradient(90deg,transparent,#F6FF02);
}
.dev-conti span:after{
    right: -100px;
    background: linear-gradient(-90deg,transparent,#F6FF02);
}
.title-line{
    position: relative;
    overflow: hidden;
}
.title-line span{
}
.title-line:after{
    content: " ";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #F6FF02;
    margin-left: 15px;
    margin-top: 15px;
    box-shadow: 0 0 6px #F6FF02;
}


.font-xl {font-size:70px;}
.font-l {font-size:50px;}
.font-m {font-size:30px;}
.font-s {font-size:24px;}
.font-xs {font-size:16px;}
.op-30{opacity:0.3;}
.op-50{opacity:0.5;}
.op-70{opacity:0.7;}
.op-80{opacity:0.8;}
.op-90{opacity:0.9;}
.ma-l {margin-top:100px;margin-bottom:0px;}
.ma-m {margin-top:60px;margin-bottom:0px;}
.ma-s {margin-top:20px;margin-bottom:0px;}
.ma-xs {margin-top:10px;margin-bottom:0px;}
.bold-text {font-weight:900;}
.yellow-text {color:#F6FF02;}
.black-text {color:#000000;}

@media only screen and (min-width:1024px) {
    .dev-content {
        max-width: 1024px;
        margin: auto;
    }
}

@media only screen and (max-width:1550px) {
    .font-xl {font-size:70px;}
    .font-l {font-size:45px;}
    .font-m {font-size: 25px;}
    .font-s {font-size:24px;}
    .font-xs {font-size:16px;}
    .ma-l {margin-top: 90px;margin-bottom:0px;}
    .ma-m {margin-top: 55px;margin-bottom:0px;}
    .ma-s {margin-top: 18px;margin-bottom:0px;}
    .ma-xs {margin-top:10px;margin-bottom:0px;}
    .dev-container {
        padding: 20px 0 120px;
    }
    .dev-btn-1 {
        margin:5px 20px;
    }
    .coming-logo img{
        width:100px;
    }
    .dev-year {
        height: 120px;
        line-height: 110px;
    }
}
@media only screen and (max-width:1368px) {
    .coming-logo img{
        width:80px;
    }
    .dev-year {
        height: 110px;
        line-height: 100px;
        margin-top: -15px;
        margin-bottom: -15px;
    }
    .dev-btn-1 {
        padding: 12px 20px;
        min-width: 230px;
    }
    .dev-btn-2 {
        padding: 4px 12px;
    }
    .dev-ticket {
        width: 520px;
    }
    .sub-email {
        padding: 8px 20px;
    }
}
@media only screen and (max-width:1200px) {
    .font-xl {font-size:70px;}
    .font-l {font-size:35px;}
    .font-m {font-size: 22px;}
    .font-s {font-size:24px;}
    .font-xs {font-size:16px;}
    .ma-l {margin-top: 90px;margin-bottom:0px;}
    .ma-m {margin-top: 45px;margin-bottom:0px;}
    .ma-s {margin-top: 18px;margin-bottom:0px;}
    .ma-xs {margin-top:10px;margin-bottom:0px;}
    .coming-logo img{
        width:80px;
    }
    .dev-year {
    }
    .dev-btn-1 {
    }
    .dev-btn-2 {
    }
    .dev-ticket {
    }
    .sub-email {
    }
}
@media only screen and (max-width:992px) {
    .coming-logo img{
        width:80px;
    }
    .dev-year {
    }
    .dev-btn-1 {
    }
    .dev-btn-2 {
    }
    .dev-ticket {
    }
    .sub-email {
    }
}
@media only screen and (max-width: 768px) {
    .font-xl {font-size:70px;}
    .font-l {font-size: 30px;}
    .font-m {font-size: 22px;}
    .font-s {font-size: 15px;}
    .font-xs {font-size:12px;}
    .ma-l {margin-top: 80px;margin-bottom:0px;}
    .ma-m {margin-top: 20px;margin-bottom:0px;}
    .ma-s {margin-top: 10px;margin-bottom:0px;}
    .ma-xs {margin-top:10px;margin-bottom:0px;}
    .dev-container {
        padding:50px 0;
    }
    .dev-year {
        margin-top: 10px;
    }
    .coming-logo img{
        width:80px;
    }
    .dev-btn-1 {
        padding: 10px 11px;
        min-width: 180px;
        margin: 8px;
        max-width: 200px;
    }
    .dev-btn-2 {
    }
    .dev-ticket {
        width: 315px;
    }
    .sub-email {
        padding: 6px 12px;
    }
    .dev-conti span:before,
    .dev-conti span:after{
        visibility: hidden;
    }
    .dev-bg .container p{
        margin: 10px 15px;
    }
    .title-line:after{
        margin-top: 12px;
        margin-left: 5px;
    }
}
@media only screen and (max-width: 320px) {
    .dev-year {
    }
    .dev-btn-1 {
    }
    .dev-btn-2 {
    }
    .dev-ticket {
        width: 300px;
    }
    .sub-email {
    }
}

/*首屏背景调整*/
.dev-1-bg {right:0;top:0;bottom:0;}
.dev-2-bg {left:-100px;top:0;bottom:300px;}
.dev-3-bg {width:18%;right:0;top:-30%;}
.dev-4-bg {width:20%;bottom:-30%;}
.dev-5-bg {width:15%;top:-10%;}
.dev-6-bg {width:8%;left:20%;top: -8%;}
.dev-7-bg {width:10%;right:10%;top: -5%;}
.dev-8-bg {width:30%;}
.dev-9-bg {width:40%;right: 0;bottom: 0;}
.dev-10-bg {bottom: 0;left: -16px;clip: rect(70px 62px 124px 0px);}
.dev-11-bg {right: -37px;top: 0;bottom: 0;clip: rect(0px 120px 188px 83px);}
.dev-12-bg {left: -11px;top: 8%;clip: rect(0px 68px 60px 0px);}
.dev-1-svg {width:50px; left: 50px}
.dev-2-svg {width:20px; right:5%;top:100px;}
.dev-3-svg {width:50px; right:50px;top:50px;}
.dev-4-svg {position:absolute;clip:rect(0px 100px 185px 0px); }

@media only screen and (max-width:1368px) {
    .dev-1-bg {right:0;top:0;bottom:0;}
    .dev-2-bg {left:-100px;top:0;bottom: 100px;opacity: 0.8;}
    .dev-3-bg {width:18%;right:0;top:-30%;}
    .dev-4-bg {width:20%;bottom:-30%;}
    .dev-5-bg {width:15%;top: -12%;left: -5%;}
    .dev-6-bg {width:8%;left:20%;top: -8%;}
    .dev-7-bg {width:10%;right:10%;top: -8%;}
}
@media only screen and (max-width: 768px) {
    .dev-1-bg,.dev-2-bg {opacity:0.8;}
    .dev-3-bg {width:28%;right:0;top:-25%;}
    .dev-4-bg {width:25%;bottom:-20%;}
    .dev-5-bg {width:15%;}
    .dev-6-bg {width:8%;left:20%;}
    .dev-7-bg {width:10%;right:10%;}
    .dev-11-bg{right: 0;}
}
@media only screen and (max-width: 480px) {
    .dev-1-bg {right: 0;top:0;bottom:0;width: 80px;}
    .dev-2-bg {left:-100px;top:0;bottom:300px;}
    .dev-3-bg {width:18%;right:0;top:-30%;}
    .dev-4-bg {width:20%;bottom:-30%;}
    .dev-5-bg {width:15%;}
    .dev-6-bg {width:8%;left:20%;}
    .dev-7-bg {width:10%;right:10%;}
}
/*animate*/
.f-blink {
    animation: blink 2s linear infinite alternate;
}
.n-blink {
    animation: blink 3s linear infinite alternate;
}
.s-blink {
    animation: blink 4s linear infinite alternate;
}
@keyframes blink {
    0% {opacity: 0.2;}
    100% {opacity: 0.8;}
}