@font-face {
    font-family:"Mono";
    src:url("font/OverpassMono-Regular.ttf");
}
html,body {
    margin:0;
    padding:0;
    font-family:"Mono","Microsoft Sans Serif";
    line-height: 1.8;
    letter-spacing:1px;
    background: #43993E;
}
.modal-content{
    line-height: 2;
    width: 280px;
    border-radius: 30px;
    background: #4BA545;
    color: #FFFFFF;
    font-weight: 400;
    margin: auto;
}
.dev-container {
    padding:100px 0 120px;
    position: relative;
}
.dev-container.bg-green{
    background:url(../images/bg-green.png) repeat-x;
    background:url(../images/background/back-1.png),url(../images/background/back-1.png),linear-gradient(-35deg,#43993E 58%,#A0C02F 75%,#A6C22F);
    background-repeat:no-repeat,no-repeat,repeat-x;
    background-position: -70% center,160% center,center;
    background-size:60%,60%,contain;
}
.dev-content {
    position:relative;
    z-index:3;
    color:#FFFFFF;
    text-align:center;
}
a {
    color:#FFFFFF;
    cursor:pointer;
}
a:visited,
a:focus,
a:hover{
    color:#EEEEEE;
    text-decoration:none;
}
.iconfont {
    font-size:22px;
}

.bg-animate {
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index:1;
    height: inherit;
}
.bg-animate img {
    position:absolute;
    margin:auto;
}
.coming-logo {
    text-align: left;
}
.coming-logo img{
    width:120px;
}
.dev-title img{
    width:106%;
    margin-left:-3%;
}
.dev-headline {
    font-family:"Mono";
    letter-spacing:2px;
}

/*第一个页面*/
.dev-year {
    background:url(../images/background/2019.png) no-repeat center;
    background-size:contain;
    max-height:140px;
    line-height:140px;
    text-shadow: 0px 0px 25px #000;
    font-weight: 600;
}
.dev-btn-1 {
    display:inline-block;
    min-width:260px;
    margin:20px;
    padding:15px 30px;
    border:1px solid #EAFF00;
    border-radius:30px;
    box-shadow:0px 0px 5px #EAFF00,inset 0px 0px 5px #EAFF00;
}
.dev-btn-1 img,
.dev-btn-1 input{
    width: 86%;
    max-width: 220px;
    vertical-align: middle;
}
.dev-btn-2 {
    position: absolute;
    display: inline-block;
    margin: 5px;
    padding: 8px 12px;
    border-radius: 25px;
    vertical-align: middle;
    right: 0;
    top: 0;
}
.dev-btn-3 {
    display: inline-block;
    min-width: 165px;
    padding: 4px 12px;
    color: #fff;
    background: #5EB44B;
    border-radius: 30px;
    margin-right: 45px;
}
.dev-ticket {
    position: relative;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.sub-email {
    width: inherit;
    padding: 10px 30px;
    border: 1px solid #4fad4c;
    border-radius: 30px;
    background: #4fad4c;
    color: #fff;
}
.sub-email:focus{
    box-shadow:none;
    outline-color:transparent;
}
.sub-email::-webkit-input-placeholder {
    color:#b1ceb1;
}
.sub-email::-moz-placeholder {
    color:#b1ceb1;
}
.sub-email:-ms-input-placeholder {
    color:#b1ceb1;
}

/*第二屏*/
.dev-bg .container{
    padding: 20px;
    background:linear-gradient(-90deg,#4BA545 60%,#80BE43);
    box-shadow: 5px 5px 10px #3A8435;
}
.dev-bg .container p{
    margin: 25px 30px;
}
.dev-bg .container:before{
    content: " ";
    position: absolute;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    border: 1px solid #A4DB1E;
    z-index: -1;
}
.dev-bg .container .bg-animate{
    z-index: -1;
}
.dev-conti span{
    position: relative;
}
.dev-conti span:before,
.dev-conti span:after{
    content: " ";
    position: absolute;
    top: 0;
    bottom: 10px;
    margin: auto;
    width: 90px;
    height: 4px;
    opacity: 0.6;
    border-radius: 2px;
}
.dev-conti span:before{
    left: -100px;
    background: linear-gradient(90deg,transparent,#F6FF02);
}
.dev-conti span:after{
    right: -100px;
    background: linear-gradient(-90deg,transparent,#F6FF02);
}
.title-line{
    position: relative;
    overflow: hidden;
}
.title-line:after{
    content: " ";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #F6FF02;
    margin:auto;
    box-shadow: 0 0 6px #F6FF02;
    height:1px;
    top:0;
    bottom:0;
    margin-left:10px;
}
/*the speaker*/
.speaker-detail {
    margin:auto;
    padding:0;
    font-size:0;
    text-align:center;
    letter-spacing:0;
}
.speaker-detail::-webkit-scrollbar{
    width: 8px;
    height: 10px;
}
.speaker-detail::-webkit-scrollbar-track{
    border-radius: 10px;
}
.speaker-detail::-webkit-scrollbar-thumb{
    border-radius: 10px;
    height:20px;
    background-color: #43993E;
}

.speaker-detail li{
    position:relative;
    list-style:none;
    display:inline-block;
    width:22%;
    height:auto;
    margin:10px;
    color:#3C3C3C;
    text-align:center;
    vertical-align:top;
    border-bottom:5px solid #43993E;
}
.speaker-detail li:before{
    content:" ";
    position:absolute;
    width:100%;
    height:100%;
    z-index:1;
    background:linear-gradient(transparent 60%,rgba(0,0,0,0.4));
}
.speaker-detail li img{
    width:100%;
    height:auto;
}
.sp-intro {
    position:absolute;
    bottom:0;
    color:#FFFFFF;
    text-align:left;
    padding-left:10px;
    font-size:12px;
    z-index:2;
    margin-bottom:0.5rem;
}
.sp-intro b{
    font-family:'Microsoft YaHei';
}

/*the venue*/
.dev-venue {
    background:#FFFFFF;
    background-image:linear-gradient(#FFFFFF 50%,transparent 50%),linear-gradient(90deg,#87B936,#499E3E,#43993e);
    background-position:top,bottom;
    background-size:100%,100%;
    line-height:1.5;
    margin-top:-2px;
}
.dev-venue p{
    margin-bottom:0.8rem;
}
.dev-venue .dev-content{
    background:#6AA853;
    box-shadow:10px 10px 35px #408f39;
    box-shadow:10px 10px 35px rgba(0,0,0,0.1);
}
.map-area{
    box-shadow:10px 10px 35px #408f39;
    box-shadow:10px 10px 35px rgba(0,0,0,0.1);
    overflow:hidden;
    border-radius:30px 30px 0px 30px;
    width:120%;
    height:450px;
}
.map-area img{
    height:100%;
}
.venue-content .venue-detail {
    letter-spacing:0px;
    background:#A1C693;
    border-radius:30px 30px 0px 30px;
    box-shadow:10px 10px 35px #5EB44B;
    box-shadow:10px 10px 35px rgba(0,0,0,0.1);
}
.show-more {
   color:#5EB44B!important;
   display:inline-block;
   position:relative;
   padding:0 50px;
   cursor:pointer;
}
.show-more:before{
    content:"";
    position:absolute;
    background:linear-gradient(90deg,transparent,#5EB44B,transparent);
    width:100%;
    height:1px;
    margin-top:-10px;
    left:0;
}

.font-xl {font-size:70px;}
.font-l {font-size:50px;}
.font-m {font-size:30px;}
.font-s {font-size:24px;}
.font-xs {font-size:16px;}
.op-30{opacity:0.3;}
.op-50{opacity:0.5;}
.op-70{opacity:0.7;}
.op-80{opacity:0.8;}
.op-90{opacity:0.9;}
.ma-l {margin-top:100px;margin-bottom:0px;}
.ma-m {margin-top:60px;margin-bottom:0px;}
.ma-s {margin-top:20px;margin-bottom:0px;}
.ma-xs {margin-top:10px;margin-bottom:0px;}
.p-l {padding:60px;margin-bottom:0px;}
.p-m {padding:40px;margin-bottom:0px;}
.p-s {padding:12px;margin-bottom:0px;}
.p-xs {padding:8px;margin-bottom:0px;}
.bold-text {font-weight:900;}
.yellow-text {color:#F6FF02;text-shadow: 0 0 5px #F6FF02;}
.gray-text {color:#000;}
.green-text {color:#43993E;}

@media only screen and (max-width:1550px) {
    .font-xl {font-size:70px;}
    .font-l {font-size:45px;}
    .font-m {font-size: 25px;}
    .font-s {font-size:24px;}
    .font-xs {font-size:16px;}
    .ma-l {margin-top: 90px;margin-bottom:0px;}
    .ma-m {margin-top: 55px;margin-bottom:0px;}
    .ma-s {margin-top: 18px;margin-bottom:0px;}
    .ma-xs {margin-top:10px;margin-bottom:0px;}
    .dev-container {
        padding: 20px 0 120px;
    }
    .dev-btn-1 {
        margin:5px 20px;
    }
    .dev-title img{
        margin-top: -15px;
    }
    .coming-logo img{
        width:100px;
    }
    .dev-year {
        height: 120px;
        line-height: 110px;
    }
    .dev-btn-1 {
    }
    .dev-btn-2 {
    }
    .dev-ticket {
    }
    .sub-email {
    }
}
@media only screen and (max-width:1368px) {
    .dev-title img{
        margin-top: -50px;
    }
    .coming-logo img{
        width:80px;
    }
    .dev-year {
        height: 110px;
        line-height: 100px;
        margin-top: -15px;
        margin-bottom: -15px;
    }
    .dev-btn-1 {
        padding: 12px 20px;
        min-width: 230px;
    }
    .dev-btn-2 {
        padding: 4px 12px;
    }
    .dev-ticket {
        width: 520px;
    }
    .sub-email {
        padding: 8px 20px;
    }
    .map-area{
        max-width:115%;
        height:435px;
    }
}
@media only screen and (max-width:1200px) {
    .font-xl {font-size:70px;}
    .font-l {font-size:35px;}
    .font-m {font-size: 22px;}
    .font-s {font-size:24px;}
    .font-xs {font-size:16px;}
    .ma-l {margin-top: 90px;margin-bottom:0px;}
    .ma-m {margin-top: 45px;margin-bottom:0px;}
    .ma-s {margin-top: 22px;margin-bottom:0px;}
    .ma-xs {margin-top:10px;margin-bottom:0px;}
    .coming-logo img{
        width:80px;
    }
    .map-area{
        max-width:100%;
        box-shadow:none;
        height: 480px;
    }
    .venue-content .venue-detail {
        box-shadow:none;
    }
}
@media only screen and (max-width:992px) {
    .coming-logo img{
        width:80px;
    }
    .speaker-detail li{
        width:30%;
    }
}
@media only screen and (max-width: 768px) {
    .font-xl {font-size:70px;}
    .font-l {font-size: 30px;}
    .font-m {font-size: 22px;}
    .font-s {font-size: 15px;}
    .font-xs {font-size:12px;}
    .ma-l {margin-top: 70px;margin-bottom:0px;}
    .ma-m {margin-top: 20px;margin-bottom:0px;}
    .ma-s {margin-top: 12px;margin-bottom:0px;}
    .ma-xs {margin-top:8px;margin-bottom:0px;}
    .p-l {padding:40px;margin-bottom:0px;}
    .p-m {padding:20px;margin-bottom:0px;}
    .p-s {padding:10px;margin-bottom:0px;}
    .p-xs {padding:8px;margin-bottom:0px;}
    .dev-container {
        padding:50px 0;
    }
    .dev-year {
        margin-top: 10px;
    }
    .coming-logo img{
        width:80px;
    }
    .dev-btn-1 {
        padding: 10px 11px;
        min-width: 180px;
        margin: 8px;
        max-width: 200px;
    }
    .dev-ticket {
        width: 315px;
    }
    .sub-email {
        padding: 6px 12px;
    }
    .dev-conti span:before,
    .dev-conti span:after{
        visibility: hidden;
    }
    .dev-bg .container p{
        margin: 10px 15px;
    }
    .modal {
        position: absolute;
    }
    .speaker-detail{
        height:680px;
        overflow:hidden;
        line-height:1.2;
    }
    .speaker-detail li{
        width:45%;
        margin:5px;
        max-width:155px;
    }
    .sp-intro {
        margin-bottom:0.2rem;
        padding-left:8px;
    }
    .dev-venue p {
        margin-bottom:0.3rem;
    }
    .dev-btn-3 {
        margin-right: 15px;
    }
    .map-area{
        height: 350px;
    }
}
@media only screen and (max-width: 320px) {
    .dev-ticket {
        width: 300px;
    }
    .speaker-detail li{
        width:42%;
    }
}

/*首屏背景调整*/
.dev-1-bg {right:0;top:0;bottom:0;}
.dev-2-bg {left:-100px;top:0;bottom:300px;}
.dev-3-bg {width:18%;right:0;top:-30%;}
.dev-4-bg {width:20%;bottom:-30%;}
.dev-5-bg {width:15%;top:-10%;}
.dev-6-bg {width:8%;left:20%;top: -8%;}
.dev-7-bg {width:10%;right:10%;top: -5%;}
.dev-8-bg {width:30%;}
.dev-9-bg {width:40%;right: 0;bottom: 0;}
.dev-10-bg {bottom: 0;left: -16px;clip: rect(70px 62px 124px 0px);}
.dev-11-bg {right: -37px;top: 0;bottom: 0;clip: rect(0px 120px 188px 83px);}
.dev-12-bg {left: -11px;top: 8%;clip: rect(0px 68px 60px 0px);}
.dev-1-svg {width:50px; left: 50px}
.dev-2-svg {width:20px; right:5%;top:100px;}
.dev-3-svg {width:50px; right:50px;top:50px;}
.dev-4-svg {position:absolute;clip:rect(0px 100px 185px 0px); }

@media only screen and (max-width:1368px) {
    .dev-1-bg {right:0;top:0;bottom:0;}
    .dev-2-bg {left:-100px;top:0;bottom: 100px;opacity: 0.8;}
    .dev-5-bg {width:15%;top: -12%;left: -5%;}
}
@media only screen and (max-width: 768px) {
    .dev-1-bg,.dev-2-bg {opacity:0.8;}
    .dev-3-bg {width:28%;right:0;top:-25%;}
    .dev-4-bg {width:25%;bottom:-20%;}
    .dev-5-bg {width:15%;}
    .dev-11-bg{right: 0;}
}
@media only screen and (max-width: 480px) {
    .dev-1-bg {right: 0;top:0;bottom:0;width: 80px;}
    .dev-2-bg {left:-100px;top:0;bottom:300px;}
    .dev-3-bg {width:18%;right:0;top:-30%;}
    .dev-4-bg {width:20%;bottom:-30%;}
}
/*animate*/
.f-blink {
    animation: blink 2s linear infinite alternate;
}
.n-blink {
    animation: blink 3s linear infinite alternate;
}
.s-blink {
    animation: blink 4s linear infinite alternate;
}
@keyframes blink {
    0% {opacity: 0.2;}
    100% {opacity: 0.8;}
}