/*coming soon*/
.fri-intro {
    font-family:"Poppins";
    font-size:45px;
}
.thr-intro {
    font-family:"ShareTechMono";
    font-size:45px;
    letter-spacing:15px;
}
.four-intro {
    font-family:"ShareTechMono";
    font-size:60px;
    font-weight:900;
    letter-spacing:2px;
}
.five-intro {
    font-family:"ShareTechMono";
    letter-spacing:5px;
}
.five-intro a{
    color:#FFFFFF;
}