@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "NEO Contributors";
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="/css/team.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="@Helper.ToCDN("/css/team.min.css", true)" />
    </environment>
}

<h2 class="text-center mt1">Contributors</h2>

<hr class="mt2" />
<h4 class="mt5">NEO Foundation Key Members</h4>
<div class="row mt3 team-list">
    <div class="col-md-4">
        <img data-original="/images/team/da.jpg" />
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-7">
        <h3 class="">Hongfei Da</h3>
        <h6 class="mt7">达鸿飞</h6>
        <div class="bolder mt6">Founder, NEO, Co-Chair of NEO Foundation, CEO of NGD</div>
        <div class="mt5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sollicitudin quis augue vel eleifend. Phasellus a lacus vitae erat aliquam  Phasellus a lacus euismod. </div>
        <div class="h6 mt4 link">
            <a class="iconfont mr3" target="_blank" href="https://www.linkedin.com/in/dahongfei/">&#xe612;</a>
            <a class="iconfont" target="_blank" href="https://github.com/dahongfei">&#xe609;</a>
        </div>
    </div>
</div>

<div class="row mt3 team-list">
    <div class="col-md-4">
        <img class="img" data-original="/images/team/erik.jpg" />
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-7">
        <h3>Erik Zhang</h3>
        <h6 class="mt7">张铮文</h6>
        <div class="bolder mt6">Founder, NEO</div>
        <div class="mt5">Erik is founder and core developer of NEO, author to dBFT consensus mechanism, expert on blockchain technology and computer security and a certified information system auditor (CISA). Previously he was engaged in Shanda Games and www.huobi.com where he specialised in information security and R&D in digital currency.</div>
        <div class="h6 mt4 link">
            <a class="iconfont mr3" target="_blank" href="https://www.linkedin.com/in/erik-zhang-5a6b14ab/">&#xe612;</a>
            <a class="iconfont mr3" target="_blank" href="https://twitter.com/neoerikzhang">&#xe607;</a>
            <a class="iconfont" target="_blank" href="https://github.com/erikzhang">&#xe609;</a>
        </div>
    </div>
</div>


<hr class="mt2" />
<h4 class="mt4">NEO Core Developers</h4>
<div class="row team-list" id="core"></div>

<hr class="mt2" />
<h4 class="mt4">NEO Global Development (NGD) Key Members</h4>
<div class="row team-list" id="neo"></div>

<hr class="mt2" />
<h4 class="mt4">NEO Community Outstanding Contributors</h4>
<div class="row team-list" id="community"></div>

<hr class="mt2" />

<script id="coreMember" type="text/html">
    {{each core value}}
    <div class="col-6 col-md-3 mt4">
        <img src={{value.img}} />
        <div>
            <div class="h6 green">{{value.name}}</div>
            <div class="small green">{{if value.nameZh}}{{value.nameZh}}{{/if}}</div>
            <div class="mt7 link">
                {{if value.linkin}}<a class="iconfont mr3" target="_blank" href={{value.linkin}}>&#xe612;</a>{{/if}}
                {{if value.github}}<a class="iconfont" target="_blank" href={{value.github}}>&#xe609;</a>{{/if}}
            </div>
        </div>
    </div>
    {{/each}}
</script>

<script id="neoMember" type="text/html">
    {{each neo value}}
    <div class="col-6 col-md-3 mt4">
        <img src={{value.img}} />
        <div>
            <div class="h6 green">{{value.name}}</div>
            <div class="small green">{{if value.nameZh}}{{value.nameZh}}{{/if}}</div>
            <div class="mt7">{{value.job}}</div>
        </div>
    </div>
    {{/each}}
</script>

<script id="comMember" type="text/html">
    {{each community value}}
    <div class="col-6 col-md-3 mt4">
        <img src={{value.img}} />
        <div>
            <div class="h6 green">{{value.name}}</div>
            <div class="small green">{{if value.nameZh}}{{value.nameZh}}{{/if}}</div>
            <div class="mt7">{{value.job}}</div>
        </div>
    </div>
    {{/each}}
</script>

@section Scripts{
    <environment include="Development">
        <script src="/js/template.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="@Helper.ToCDN("/js/template.js")"></script>
    </environment>

    <script>
        addMember();

        function addMember() {

            $.ajax({
                type: "GET",
                url: "@Helper.ToCDN("/js/team.js")",
                dataType: 'json',
                success: function (data) {
                    var core = "", neo = "", community = "";
                    core += template("coreMember", data);
                    document.getElementById("core").innerHTML = core;

                    neo += template("neoMember", data);
                    document.getElementById("neo").innerHTML = neo;

                    community += template("comMember", data);
                    document.getElementById("community").innerHTML = community;

                }
            });
        }
    </script>
}