@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "NEO Contributors";
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="/css/team.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="@Helper.ToCDN("/css/team.min.css", true)" />
    </environment>
}

<h2 class="text-center mt1">Team & Contributors</h2>
<p class="mt4 w800">@Localizer["This page presents some NEO contributors, which are divided into the following four parts: NEO core developers, NEO Foundation key members, NGD key members, and NEO community outstanding contributors.Thank them for their outstanding contribution to the ecosystem of NEO."]</p>
<hr class="mt2" />

<h4 class="mt4">NEO Core Developers</h4>
<div class="row team-list" id="core"></div>

<hr class="mt2" />
<h4 class="mt4">NEO Global Development (NGD) Key Members</h4>
<div class="row team-list" id="neo"></div>

<hr class="mt2" />
<h4 class="mt4">NEO Community Outstanding Contributors</h4>
<div class="row team-list" id="community"></div>

<hr class="mt2" />

<script id="coreMember" type="text/html">
    {{each core value}}
    <div class="col-6 col-md-3 mt4">
        <img src={{value.img}} />
        <div>
            <div class="h6 green mt6">{{value.name}}</div>
            <div class="small green">{{if value.nameZh}}{{value.nameZh}}{{/if}}</div>
            <div class="mt7">{{value.job}}</div>
            @*{{if value.intro}}<div class="gray mt7">{{value.intro}}</div>{{/if}}*@
            <div class="mt7 link">
                {{if value.linkin}}<a class="iconfont mr3 gray" href={{value.linkin}}>&#xe612;</a>{{/if}}
                {{if value.github}}<a class="iconfont gray" href={{value.github}}>&#xe609;</a>{{/if}}
            </div>
        </div>
    </div>
    {{/each}}
</script>

<script id="neoMember" type="text/html">
    {{each neo value}}
    <div class="col-6 col-md-3 mt4">
        <img src={{value.img}} />
        <div>
            <div class="h6 green mt6">{{value.name}}</div>
            <div class="small green">{{if value.nameZh}}{{value.nameZh}}{{/if}}</div>
            <div class="mt7">{{value.job}}</div>
        </div>
    </div>
    {{/each}}
</script>

<script id="comMember" type="text/html">
    {{each community value}}
    <div class="col-6 col-md-3 mt4">
        <img src={{value.img}} />
        <div>
            <div class="h6 green mt6">{{value.name}}</div>
            <div class="small green">{{if value.nameZh}}{{value.nameZh}}{{/if}}</div>
            <div class="mt7">{{value.job}}</div>
        </div>
    </div>
    {{/each}}
</script>

@section Scripts{
    <environment include="Development">
        <script src="/js/template.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="@Helper.ToCDN("/js/template.js")"></script>
    </environment>

    <script>
        addMember();

        function addMember() {

            $.ajax({
                type: "GET",
                url: "js/team.json" + "?v=" + Math.random(),
                dataType: 'json',
                success: function (data) {
                    var core = "", neo = "", community = "";
                    core += template("coreMember", data);
                    document.getElementById("core").innerHTML = core;

                    neo += template("neoMember", data);
                    document.getElementById("neo").innerHTML = neo;

                    community += template("comMember", data);
                    document.getElementById("community").innerHTML = community;

                }
            });
        }
    </script>
}