@import "./basic.less";

.hero-container.home-frontier {
  background-image: url('/images/home/n3-frontier/n3-frontier-backdrop-320.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-color: #101213;
  color: @green;

  @media (min-width: 768px) {
    background-image: url('/images/home/n3-frontier/n3-frontier-backdrop-768.jpg');
  }

  @media (min-width: 1024px) {
    background-image: url('/images/home/n3-frontier/n3-frontier-backdrop-1440.jpg');
  }

  .hero-inner-wrapper {
    padding-top: 90px;
    padding-bottom: 64px;
    // max-width: 320px;
    // margin: 0 auto;
    background-color: rgba(white, 0.1);
    
    @media (min-width: 1024px) {
      display: flex;
    }

    .col-left,
    .col-right {
      overflow: hidden;

      @media (min-width: 1024px) {
        flex-grow: 0;
        flex-shrink: 0;
        width: 50%;
      }
    }

    .col-left {
      .laptop-container {
        @media (min-width: 1024px) {
          display: none;
        }
      }
    }



    .col-right {
      display: none;

      @media (min-width: 1024px) {
        display: block;
        margin-top: 90px; // TODO
      }

      .news-container {
        margin-top: 32px;
      }
    }


    .heading-container {
      .n3-logo {
        border: solid 2px @green;
        box-sizing: border-box;
        width: 70px;
        height: 70px;

        font-size: 42px; // TODO
        .work-sans-bold;
        padding-top: 8px;
        padding-left: 3px;
      }

      .blurb {
        .caption {
          margin-top: 20px;
          font-size: 40px; // TODO
          line-height: 1;
          .work-sans-bold;
          .uppercase;
        }

        .subcaption {
          color: white;
          font-size: 20px; // TODO
          line-height: 1;
          .work-sans-bold;
          .uppercase;
          letter-spacing: 4px;
        }

        .timeframe {
          margin-top: 4px;
          color: #bdbdbd;
          font-size: 12px; // TODO
          line-height: 1;
          .nunito-sans-bold;
          .uppercase;
          letter-spacing: 2px;
        }
      }
    }

    .laptop-container {

      @media (min-width: 768px) {

      }
  
      @media (min-width: 1024px) {
        height: 675px;
      }
  
      @media (min-width: 1440px) {
  
      }

      > img {
        height: 100%;
      }
    }

    .news-container {
      text-align: center;
      
      .news-wrapper {
        display: inline-block;
        text-align: left;

        .caption {
          font-size: 16px; // TODO
          line-height: 1;
          .work-sans-bold;
          .uppercase;
          letter-spacing: 3px;
        }
  
        .news-link {
          color: @green;
          font-size: 16px; // TODO
          line-height: 1.2;
          .work-sans-semibold;
        }
      }

    }
  }
}
