.layout-container {
    max-width: none;
    padding: 0;
    margin: 0;
}

.roadmap {
    position: relative;

    .linear {
        position: absolute;
        width: 100px;
        height: 100%;
        background-repeat: repeat-y;
        background-size: contain;
        z-index: 5;

        &.l {
            background-image: url(/images/about/l-linear.svg);
            background-image: url(/images/about/l-linear.png);
            left: 0;
        }

        &.r {
            background-image: url(/images/about/r-linear.svg);
            background-image: url(/images/about/r-linear.png);
            right: 0;
        }
    }
}
