body {
    background: linear-gradient(to right, #afe3d0, #bee1b3);
    line-height: 2;
    color: #5b57ff;
    padding-top:0;
}

.anni-title {
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    letter-spacing:2px;
}

.anni-title:before{
    content: "";
    position: absolute;
    z-index: -1;
    display: block;
    top: -30px;
    left: -25px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.title-sty1 {
    color: #5b57ff;
    text-shadow: 3px 0px 0px #fffc00;
}
.title-sty1:before {
    background: #fffc00;
}
.title-sty2 {
    color: #fffc00;
    text-shadow: 3px 0px 0px #5b57ff;
}
.title-sty2:before {
    background: #5b57ff;
}
.title-sty3 {
    color:#036003;
    text-shadow: 3px 0px 0px #fffc00;
}

.anni-con {
    position: relative;
    padding: 0 15px;
}

.modular {
    margin-top: 115px;
}

.modular-2 {
    margin-top: 140px;
}

.anni-box {
    position: relative;
    margin: 0 30px;
}

.title, .modular, .modular-2 {
    padding: 0 7%;
}

.title img {
    width: 100%;
}

.title-img {
    width: 64px;
    position: absolute;
    top: -30px;
    left: -30px;
    z-index: 0;
}

.top-img {
    z-index: 2;
    position: absolute;
    width: 90px;
    top: -55px;
    left: 0;
}

.bs-img {
    width: 100%;
}

.small-col {
    padding: 5px;
}

.bs-box {
    padding: 0 5px;
}

.information {
    margin-bottom: 10px;
    text-align: center;
    color: #0b6403;
}

.main-footer {
    position: relative;
    padding: 35px 0 0;
    color: #6c6c6c;
    width: 100%;
    text-align: center;
}

.main-footer .lang-select {
    position: absolute;
    bottom: 20px;
    left: 30px;
    text-align: left;
    z-index: 10;
}

.d-none {
    display: none !important;
}

.main-footer .lang-select a {
    margin-right: 10px;
}

a, a:active, .btn-link, .btn-link:active {
    color: #6c6c6c;
    text-decoration: none;
}

.t2 {
    font-size: 18px;
}

.footer-link {
    padding: 0;
}

.footer-link li {
    display: inline-block;
    width: 19%;
    line-height: 2.5;
}

.footer-link li i.iconfont {
    font-style: normal;
    vertical-align: middle;
    font-size: 40px;
}

i.iconfont {
    font-style: normal;
}

.iconfont {
    font-family: 'iconfont';
}

.footer-link li span {
    display: inline-block;
    width: 100px;
}

.footer-logo {
    height: 70px;
}

.footer-logo img {
    height: inherit;
}

.lang-select a {
    margin-top: 10px;
    float: right;
    margin-right: 15px;
}

.background-white {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
}

.color-yellow {
    color: #fffc00;
    text-shadow: 2px 2px 0px #5b57ff;
}

.color-green {
    color: #1c621c;
    text-shadow: 2px 2px 0px #fffc00;
}

.color-blue {
    text-shadow: 2px 2px 0 #fffc00;
}

.one-img {
    position: absolute;
    z-index: -1;
    width: 100%;
    background: transparent;
}

.model-box {
    position: relative;
    overflow: hidden;
    text-align: center;
    box-shadow: 1px 1px 15px #888888;
}

.block {
    position: absolute;
    height: 600px;
    overflow: hidden;
    top: 0;
    width: 100%;
}

.block img {
    position: absolute;
}

.block img[data-num="1"] {
    left: 23px;
    top: 36px;
    transform: rotate(7deg) scale(0.8, 0.8);
}

.block img[data-num="2"] {
    left: 123px;
    top: 256px;
    transform: rotate(87deg) scale(0.7, 0.7);
}

.block img[data-num="3"] {
    left: 56px;
    top: 156px;
    transform: rotate(267deg) scale(0.5, 0.5);
}

.block img[data-num="4"] {
    left: -23px;
    top: 367px;
    transform: rotate(167deg) scale(0.8, 0.8);
}

.block img[data-num="5"] {
    right: 0px;
    top: 241px;
    transform: rotate(167deg) scale(0.8, 0.8);
}

.block img[data-num="6"] {
    right: 119px;
    top: 437px;
    transform: rotate(267deg) scale(0.5, 0.5);
}

.block img[data-num="7"] {
    right: 35px;
    top: 436px;
    transform: rotate(87deg) scale(0.7, 0.7);
}

.block img[data-num="8"] {
    right: -35px;
    top: 498px;
    transform: rotate(7deg) scale(0.8, 0.8);
}

.model {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(134, 197, 150, 0.9);
    top: -100%;
    transition: 0.5s;
    z-index: 1;
}

.model-text {
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 14px;
}

.bs-img {
    transition: 0.5s;
}

.model-box:hover .bs-img {
    transform: scale(1.2);
}

.model-box:hover .model {
    top: 0;
}

.background-green {
    background: #86c596;
    padding-top: 70px;
    padding-bottom: 50px;
    border-radius: 30px;
}

.background-border {
    background: rgba(255, 255, 255, 0.75);
    padding-top: 70px;
    padding-bottom: 50px;
    border-radius: 30px;
    border: 2px solid #a3c89d;
    position: relative;
}

.cross-bar {
    height: 50px;
    width: 620px;
    position: absolute;
    left: -16px;
    top: 120px;
}

.cross-bar-text {
    position: absolute;
    top: 124px;
    padding: 0 9%;
    margin-left: 30px;
    font-size: 20px;
    font-weight: 600;
    color: #036003;
}

.relative {
    position: relative;
}

.download-text {
    color: #036003;
    padding: 5px 15px;
    border-radius: 25px;
    background: #ffff00;
    float: right;
    letter-spacing: 2px;
    cursor:pointer;
}

.mt-90 {
    margin-top: 90px;
    margin-bottom: 30px
}

.color-white {
    color: #ffffff;
}

.time-text {
    font-size: 20px;
    font-weight: 600;
    color: #fffc00;
}

.video-img {
    position: absolute;
    right: -52px;
    top: -78px;
    width: 50%;
}

.video-box {
    position: relative;
}

.time-green {
    font-size: 20px;
    font-weight: 600;
    color: #035403;
}

.text-green {
    color: #86c596;
}

b {
    color: #036003
}

.theme-ul li{
    list-style:disc;
}

.background-green a{
    color:#fffc00;
}

.docs-awards img{
    width:100%;
    max-width:800px;
}

.bonus {
    width: 100%;
}

@media only screen and (max-width: 1199px) {
    .video-img {
        top: -45px;
        right: -33px;
    }

    .modular {
        margin-top: 65px;
    }

    .modular-2 {
        margin-top: 100px;
    }
    .cross-bar {
        top: 142px;
    }

    .cross-bar-text {
        top: 145px;
        padding: 0 6%;
    }
}
@media screen and (max-width: 780px) {
    img.video-img {
        top: -23px;
        right: 0;
    }

    .download-text {
        padding:0 10px;
        font-size:12px;
    }

    .background-green {
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .background-border {
        padding-top:50px;
        padding-bottom:30px;
    }

    .anni-title:before {
        top:-65%;
        width:40px;
        height:40px;
    }

    .cross-bar-text {
        font-size: 14px;
        top: 129px;
        margin-left: -6px;
    }

    .time-text, .time-green {
        font-size: 16px;
    }

    .title-img {
        width: 50px;
        position: absolute;
        top: -25px;
        left: -25px;
        z-index: 0;
    }

    .cross-bar {
        top:120px;
        width: 100%;
        left: -15px;
    }

    .cross-bar-text {
        top: 125px;
    }

    .anni-box {
        margin: 0 10px;
    }

    .main-footer {
        padding: 20px 0;
    }

    .t2 {
        font-size: 16px;
    }

    .footer-link li {
        width: 48%;
        line-height: 1.8;
    }

    .footer-link li i.iconfont {
        font-size: 28px;
    }

    .footer-logo {
        height: 50px;
    }
}

.move-line {
    position: relative;
    overflow: hidden;
}

.static-lines {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}

.static-line {
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    overflow: hidden;
}

.static-line[data-num="1"] {
    left: 587px;
    top: 66px;
    width: 88px;
}

.static-line[data-num="2"] {
    left: 30px;
    top: 128px;
}

.static-line[data-num="3"] {
    left: 65px;
    top: 167px;
}

.static-line[data-num="4"] {
    left: 65px;
    top: 231px;
}

.static-line[data-num="5"] {
    left: 365px;
    top: 350px;
    width: 248px
}

.static-line {
    width: 600px;
}

.static-line .line {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #5b57ff;
    opacity: .7;
}

.static-line .line {
    animation: staticMove1 infinite 4s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes staticMove1 {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }

    40% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }

    70% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }

    70.1% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }

    90% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }

    to {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
}