/*h1 95.37*/
/*h2 53.67 - mobile - h1 47.36*/
/*h3 40.27 - mobile - h2 35.53*/
/*h4、h5 30.27*/
/* mobile - h3、h4 20*/
/*通用*/
/*深色*/
/*@back: #0c1422;
@text: #FFFFFF;
@btn-text: #23262c;
@line: rgba(255, 255, 255, 0.38);*/
/*浅色*/