@t1: 5.619rem; /*h1 95.37*/
@t2: 3.16rem; /*h2 53.67 - mobile - h1 47.36*/
@t3: 2.37rem; /*h3 40.27 - mobile - h2 35.53*/
@t4: 1.778rem;/*h4、h5 30.27 - mobile - h3 26.67*/
@t5: 1.333rem; /*h6 22.67 - mobile - h4、h5、h6 20*/
@t6: 1rem;

@length1: 116px;/**/
@length2: 84px; /**/
@length3: 52px; /**/
@length4: 32px; /**/
@length5: 20px; /**/
@length6: 12px; /**/
@length7: 8px; /**/
@length8: 4px; /**/

/*通用*/
@dark: #2b393f;
@dark-text: #FFFFFF;
@linear: linear-gradient(172deg, #02e49b, #00bd9b);
@linear2: linear-gradient(#02e49b, #02e49b);
/*@linear2: linear-gradient(174deg,#02e49b,#00af92 63%,#03ce99 60%,#00af92);*/
@body: #f9fafa;
@arrow: rgb(228,234,234);

/*常用绿色*/
@green: #00af92;
@green2: #02e49b;
@green3: rgba(75, 197, 63,0.5);
@green-hover: #00af92;
@red:#DD0000;
@white: #FFFFFF;
@back:#457b86;

/*btn*/
@btn-back: #02e49b;
@btn-text: #FFFFFF;

/*文本*/
@text: #242424;
@text2: #476872;
@text3: #a1c8c9;

@line: rgba(200, 200, 200, 0.7);
@line2: #CCCCCC;

@gray: #505050;
@gray2: #f9fafa;

.typetext {
    margin-right: .3em;
}
.typetext:after {
    content: "|";
    position: absolute;
    line-height:1.1em;
    font-size:1.2em;
    vertical-align:middle;
    animation:op .5s alternate infinite;
}
@keyframes op{
    0%{opacity:0;}
    100%{opacity:1;}
}

/*字体*/
.bold {
    font-weight: 600;
    letter-spacing: .7px;
}

.bolder {
    font-family: Rajdhani-Bold;
    font-weight: bolder;
    letter-spacing: .8px;
}

.lighter {
    font-family: Rajdhani-Light;
    font-weight: lighter;
    letter-spacing: .3px;
}

/*背景色*/
.b1 {
    background: @linear;
    color: @white!important;
}

.b2 {
    background: @green;
    color: @white !important;
}

.b3 {
    background: @dark;
    color: @dark-text!important;
}

.b4 {
    background: @green2;
    color: @white !important;
}

small,.small{
    font-size:80%;
}