/*h1 95.37*/
/*h2 53.67 - mobile - h1 47.36*/
/*h3 40.27 - mobile - h2 35.53*/
/*h4、h5 30.27 - mobile - h3 26.67*/
/*h6 22.67 - mobile - h4、h5、h6 20*/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/*通用*/
/*常用绿色*/
/*btn*/
/*文本*/
.typetext {
  margin-right: 0.3em;
}
.typetext:after {
  content: "|";
  position: absolute;
  margin-top: -0.12em;
  line-height: 1.1em;
  font-size: 1.2em;
  vertical-align: middle;
  animation: op 0.5s alternate infinite;
}
@keyframes op {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*字体*/
.bold {
  font-weight: 600;
  letter-spacing: 0.7px;
}
.bolder {
  font-family: Rajdhani-Bold;
  font-weight: bolder;
  letter-spacing: 0.8px;
}
.lighter {
  font-family: Rajdhani-Light;
  font-weight: lighter;
  letter-spacing: 0.3px;
}
/*背景色*/
.b1 {
  background: linear-gradient(172deg, #02e49b, #00bd9b);
  color: #FFFFFF !important;
}
.b2 {
  background: #00af92;
  color: #FFFFFF !important;
}
.b3 {
  background: #2b393f;
  color: #FFFFFF !important;
}
.b4 {
  background: #02e49b;
  color: #FFFFFF !important;
}
.b5 {
  background-color: #f2f4f4;
}
small,
.small {
  font-size: 80%;
}