/*字号*/
@font-size-1: 5.75rem;
@font-size-2: 2.25rem;
@font-size-3: 1.75rem;
@font-size-4: 1.25rem;
@font-size-5: 1.125rem;

/*品牌颜色*/
@green: #00E599;
@green2: #6FEDB2; //未使用
@green3: #7EF2CC; //未使用
@green4: #BFF7E5; //未使用

@seagreen: #00AF92; //未使用
@seagreen2: #59C0AC; //未使用
@seagreen3: #7FD6C6; //未使用
@seagreen4: #BFEAE2; //未使用

@black: #242424; //未使用
@black2: #5B5B5B; //未使用
@black3: #919191; //未使用
@black4: #C6C6C6; //未使用

@dark-blue: #003; //未使用
@dark-blue2: #3F3F66; //未使用
@dark-blue3: #7F7F9A; //未使用
@dark-blue4: #BEBFCC; //未使用

@seagreen: #2B393F; //未使用
@seagreen2: #616B70; //未使用
@seagreen3: #939B9E; //未使用
@seagreen4: #C9CCCE; //未使用

@gray: #969696;
@gray2: #AFAFAF; //未使用
@gray3: #C9C9C9; //未使用

@lightgray: #F9FAFA; //未使用

/*其它颜色*/
@custom: #727272;
@custom2: #E9EEED;
@custom3: #DDDDDD;
@custom4: #F0F5F6;
@custom6: #DFE3E3;

/*字体*/
.work-sans-light() {
    font-family: WorkSans-Light
}

.work-sans-semibold() {
    font-family: WorkSans-semibold
}

.work-sans-bold() {
    font-family: WorkSans-bold
}

.nunito-sans-extrabold() {
    font-family: NunitoSans-extrabold
}

.nunito-sans-bold() {
    font-family: NunitoSans-bold
}

.nunito-sans-regular() {
    font-family: NunitoSans-Regular
}

.nunito-sans-semibold() {
    font-family: NunitoSans-Semibold
}

.uppercase() {
    text-transform: uppercase;
}

.bold() {
    font-weight: bold;
}

/*常用色样式*/
.green {
    color: @green;
}

.dark-blue {
    color: @dark-blue;
}

.gray {
    color: @gray;
}
