body, html {
    height:auto;
}
ul, ol {
    margin-bottom: 0;
}
.h4, h4 {
    font-size:1.2rem;
}
/*blog页面 - Blog page*/
.blog-container {
    text-align:center;
    color:#6C6C6C;
    font-weight:300;
}
a{
    cursor:pointer;
    text-decoration:none;
    word-break: break-word;
}
.form-control {
    border-radius:0;
}
.border-static:before,
.border-static:after{
    z-index:5;
}
.border-static input,
.border-static input:focus{
    border:none;
    border-radius:0;
    box-shadow:none;
}
.btn-input,
.btn-input:hover,
.btn-input:focus{
    border:0;
    border-radius:0;
    box-shadow:none;
    background: linear-gradient(150deg,#58BF00, #A4DC00 90%,transparent 90%);
    color:#FFFFFF;
}

.search-form {
    max-width: 400px;
    margin: auto;
}
.blog_date::before,
.blog_date::after{
    content: "";
    display:table;
}
.blog_date::after{
    clear:both;
}
.blog_date ul{
    display:none;
    padding:0;
}
.col-lg-1.blog_date {
    padding: 0;
}
.blog_date>li a{
    cursor:pointer;
    text-decoration:none;
}
.blog_date>li:last-child{
    padding-right: 0;
}
.blog_scroll {
    /*height:900px;*/
    overflow-y:auto;
}
.blog_scroll::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    background-color: transparent;
}
.blog_scroll::-webkit-scrollbar-track{
    background-color: transparent;
}
.blog_scroll::-webkit-scrollbar-thumb{
    border-radius:5px;
    background-color: #aaa;
}
.language li {
    display: inline-block;
    margin: 0 20px 20px 0;
}

.blog_date li, .blog_date li a {
    color:#AAAAAA;
}
.year:hover, .year:focus, .month:hover, .month:focus {
    color: #58BF00;
}
.blog-list {
    padding:10px 5px;
}
.blog-list li{
    padding:30px 40px;
    background:#ffffff;
    color:#888;
    text-align:left;
}
.blog-list li:first-child{
    margin-top:0!important;
}
.blog-list a.blog-title{
    color: #4A4A4A;
    text-decoration:none;
    font-weight: 500;
}
.blog-list a.blog-title:hover {
    color: #58BF00;
}
.blog-list a.blog-summary{
    color:#888;
    text-decoration:none;
}
.blog-list a.blog-summary:hover {
    color: #aaa;
}

/*博客内容页面 - Blog content page*/
.blog_date.artical-date {
    padding-top:50px;
}

.nav-artical {
    line-height: 2;
}
.nav-artical div{
    display:inline-block;
    width:32.5%;
}
.nav-artical .prev-artical{
    margin-right:30px;
}
.artical-content {
    background:#FFFFFF;
    padding:42px 100px;
    font-family:"Source-Han-Light","Microsoft YaHei",PingFangSC-Light,"PingHei","Lucida Grande","STHeitiSC-Light","BBAlpha Sans","S60 Sans","Hiragino Sans GB","Microsoft YaHei Light","Verdana",SimHei,"WenQuanYi Micro Hei",sans-serif;
    font-size: 18px;
}
@media only screen and (max-width : 780px) {
    .artical-content {
        font-family:"Source-Han-Light","Microsoft YaHei",PingFangSC-Light,"PingHei","Lucida Grande","STHeitiSC-Light","BBAlpha Sans","S60 Sans","Hiragino Sans GB","Microsoft YaHei Light","Verdana",SimHei,"WenQuanYi Micro Hei",sans-serif !important; 
        font-size: 16px !important;
    }
}
.artical-content ul,
.artical-content li {
     list-style: initial; 
}
.nav-artical {
    padding: 10px;
    text-align:center;
    white-space:nowrap;
    color: #6C6C6C;
    letter-spacing: 1px;
}
.artical-content h2 {
    line-height: 2;
    padding-bottom: 20px;
    color: #6C6C6C;
}
.artical-content a {
    color: #58bf00;
}
.artical-content p, .blog-content ul{
    margin:0;
    text-indent:0!important;
    text-align:left;
    padding-top:0;
    padding-bottom:10px;
}
.blog-content p{
}
.blog-content :first-child img{
    width:100%;
    height:100%;
}
.blog-content img {
    max-width:100%;
}
.nav-artical a {
    display:inline-block;
    height:inherit;
    color:#6C6C6C;
}
.nav-artical a:hover{
    text-decoration:none;
}
.nav-artical .iconfont{
    font-size:18px;
    font-style:normal;
    color:#AAAAAA;
    margin:0 3px;
    vertical-align:top;
}
.icon-left {
    margin-right:20px;
}
/*博客标签*/
.blog-date {
    line-height:1;
}
.blog-date:before{
    content:"";
    display:inline-block;
    width: 30px;
    height: 15px;
    background:url(/images/date.svg);
    background-size:contain;
    background-repeat: no-repeat;
    vertical-align: bottom;
}
.blog-tag {
    margin-right: 12px;
    font-size: 14px;
    display: inline-block;
    margin-top: 15px;
    font-weight: 500;
    line-height:1;
}
.blog-tag:before{
    content:"";
    display:inline-block;
    width: 20px;
    height: 14px;
    background:url(/images/tag.svg);
    background-size:contain;
    background-repeat: no-repeat;
    vertical-align:bottom;
}

/*列表页面login部分距离调整*/
.login-part {
    margin-top:10px;
}

/*博客二维码*/
#qrcode {
    position: absolute;
    right: 30px;
    top: -35px;
    display: none;
    border: 1px solid #eee;
}
.qrcode-div {
    position: relative;
    margin-top: -45px;
    cursor: pointer;
}
.qrcode-div .iconfont {
    font-size: 20px;
}
.qrcode-div:hover #qrcode {
    display: block;
    line-height: 0;
}
#qrcode canvas {
    width: 150px;
    height: 150px;
    border: 10px solid #fff;
}
/*end 博客二维码*/

/*调整相应式样式*/
@media only screen and (max-width : 1199px) {
    body {
        padding-top: 50px;
    }
    .blog_title {
        letter-spacing:2px;
    }
    .blog-list {
        padding:0;
        margin-top:0;
    }
    .mobile-show.blog_date {
        margin-left:20px;
    }
    .blog_date{
        padding: 0;
        text-align:center;
        margin-bottom: 3px;
    }
    .blog_date > li {
        margin: auto;
        display:inline-block;
        vertical-align: text-top;
    }
    .selected-part>a::after{
        content:" \e61f";
        font-size: 12px;
        vertical-align: middle;
    }
    .blog_scroll {
        height: 800px;
    }
    /*修改内部的iconfont大小*/
    .nav-artical .iconfont{
        font-size:15px;
    }
    .blog-list li {
        margin: 12px 0;
        padding:20px 10px;
    }
    .blog-list h2 a{
        color:#6C6C6C;
    }
    .artical-container {
        padding:0;
    }
    .nav-artical {
        background:#ffffff;
        /*padding:5px 10px 0px;*/
    }
    .nav-artical-top::after{
        content:" ";
        display:block;
        margin-top:5px;
        border-bottom:1px solid #E4E4E4;
    }
    .nav-artical-bottom::before{
        content:" ";
        display:block;
        margin-bottom:5px;
        border-top:1px solid #E4E4E4;
    }
    /*修改语言选择的样式，二维码的大小*/
    .language {
        padding-left:8px;
    }
    .qrcode-div .iconfont {
        font-size: 15px;
    }
}
@media only screen and (min-width : 780px) {
    .blog-content .img-cover {
        width: calc(100% + 200px);
        margin-left: -100px;
        max-width: none;
    }
}
@media only screen and (max-width : 780px) {
    .blog_scroll {
        height: 500px;
    }
    .nav-artical .prev-artical {
        margin-right: 12px;
    }
    .artical-content{
        padding:0 12px;
    }
    .nav-artical {
        padding:12px 5px;
    }
}