ul, ol {
    margin-bottom: 0px;
}
/*blog页面*/
.blog-container {
    text-align:center;
    color:#6C6C6C;
    font-weight:100;
}
a{
    cursor:pointer;
    text-decoration:none;
}
.iconfont {
    color:#AAAAAA;
}
.selected-part .iconfont{
    color:#6C6C6C;
}

.blog_title {
    font-weight: 100;
    letter-spacing:3px;
    text-align:center;
    color:#6C6C6C;
}

.blog_date>li{
    /*float:left;*/
}
.blog_date::before,
.blog_date::after{
    content: "";
    display:table;
}
.blog_date::after{
    clear:both;
}
.blog_date ul{
    display:none;
    padding:0;
}
.blog_date>li{
    padding-right: 20px;
}
.blog_date>li a{
    cursor:pointer;
    text-decoration:none;
}
.blog_date>li:last-child{
    padding-right: 0px;
}
.blog_scroll {
    /*height:900px;*/
    overflow-y:auto;
}
.blog_scroll::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    background-color: transparent;
}
.blog_scroll::-webkit-scrollbar-track{
    background-color: transparent;
}
.blog_scroll::-webkit-scrollbar-thumb{
    border-radius:5px;
    background-color: #aaa;
}

.year, .month {
    color:#AAAAAA;
}
.year:hover, .year:focus, .month:hover, .month:focus {
    color: #58BF00;
}
.blog-list li{
    padding:42px 50px;
    background:#ffffff;
    color:#AAAAAA;
    text-align:left;
}
.blog-list li:first-child{
    margin-top:0!important;
}
.blog-list a{
    color:#6C6C6C;
    text-decoration:none;
}
.blog-list a:hover {
    color: #58BF00;
}

/*博客内容页面*/
.blog_date.artical-date {
    padding-top:50px;
}

.nav-artical {
    line-height: 2;
}
.nav-artical div{
    display:inline-block;
    width:32.5%;
}
.nav-artical .prev-artical{
    margin-right:30px;
}
.artical-content {
    background:#FFFFFF;
    padding:42px 100px;
}
.artical-content ul,
.artical-content li {
     list-style: initial; 
}
.nav-artical {
    padding: 10px;
    text-align:center;
    white-space:nowrap;
    color: #6C6C6C;
    letter-spacing: 1px;
}
.artical-content h2 {
    line-height: 2;
    padding-bottom: 20px;
    color: #6C6C6C;
}
.artical-content p{
    margin:0;
    text-indent:0!important;
    text-align:left;
    padding-top:0;
    padding-bottom:20px;
    line-height:1.7;
}
.blog-content :first-child img{
    width:100%;
    height:100%;
}
.blog-content img {
    max-width:100%;
}

.nav-artical a {
    color:#6C6C6C;
}
.nav-artical a:hover{
    text-decoration:none;
}
.nav-artical a::before,
.nav-artical a::after {
    font-size:22px;
    vertical-align: middle;
    color:#AAAAAA;
    margin:0 3px;
}
a.back-list::before{
    content:"\eaa4";
}
/*a.back-to-top {
    display: none;
}*/
a.back-to-top::before {
    content: "\e600";
}
a.prev-artical::before {
    content:"\eaa5";
}
a.next-artical::after {
    content:"\eaa3";
}


@media only screen and (max-width : 1200px) {
    .blog_title {
        letter-spacing:2px;
    }
    .blog-list {
        padding:0;
        margin-top:0;
    }
    .blog_date{
        padding: 0 15px;
        text-align:center;
        margin-bottom: 3px;
    }
    .blog_date > li {
        margin: auto;
        display:inline-block;
        vertical-align: text-top;
    }
    .selected-part>a::after{
        content:" \e61f";
        font-size: 12px;
        vertical-align: middle;
    }
    .blog_scroll {
        height: 800px;
    }
    .iconfont::before,
    .iconfont::after {
        font-size:15px!important;
    }
    .blog-list li {
        margin: 12px 0;
        padding:20px 10px;
    }
    .blog-list h2 a{
        color:#6C6C6C;
    }
    .artical-container {
        padding:0;
    }
    .nav-artical {
        background:#ffffff;
        /*padding:5px 10px 0px;*/
    }
    .nav-artical-top::after{
        content:" ";
        display:block;
        margin-top:5px;
        border-bottom:1px solid #E4E4E4;
    }
    .nav-artical-bottom::before{
        content:" ";
        display:block;
        margin-bottom:5px;
        border-top:1px solid #E4E4E4;
    }
}
@media only screen and (max-width : 1200px) {
    body {
        padding-top: 84px;
    }
}

@media only screen and (min-width : 780px) {
    .blog-content .img-cover {
        width: calc(100% + 200px);
        margin-left: -100px;
        max-width: none;
    }
}
@media only screen and (max-width : 780px) {
    .blog_scroll {
        height: 500px;
    }
    .nav-artical .prev-artical {
        margin-right: 12px;
    }
    .artical-content{
        padding:0 12px;
    }
    .nav-artical {
        padding:12px 5px;
    }
}