html, body {
    line-height:1.7;
}
.bounty {

}
.bounty-title1 {
    position:relative;
    z-index:1;

}
.bounty-title1::before{
    content:"";
    position:absolute;
    background:#51bc00;
    height:10px;
    width:80%;
    z-index:-1;
    left:10%;
    top:50%;
}
.bounty-title2 {
    border-left:8px solid #51bc00;
}
.bounty-bg1 {
    background:#D0D0D0;
}
.bounty-bg1::before{
    content:"";
    background: #51bc00;
    display:block;
    width: 30px;
    height: 8px;
    margin-bottom:10px;
}
.bounty-bg2 {
    background:#D0D0D0;
}
.bounty-table {
    background:#D0D0D0;
    width:100%;
    text-align:center;
}
.bounty-table tr{
    
}
.bounty-table th{
    border-bottom:10px solid #E4E4E4;
    padding:10px 5px;
}
.bounty-table td{
    padding:10px 5px;
    border-bottom:8px solid #E4E4E4;
}
.bounty-ul li{
    list-style:disc;
}

@media only screen and (max-width: 576px) {
    .bounty-title1::before{
        top:80%;
    }
}