html, body {
    line-height:1.7;
    background-color: #EEF4EE;
}
.bounty-title2 {
    border-left:8px solid #51bc00;
}
.bounty-bg1 {
    background:#FFFFFF;
}
.dot{
    display:inline-block;
    background: #51bc00;
    display:block;
    width: 30px;
    height: 8px;
    margin-bottom:10px;
}
.bounty-bg2 {
    background:#D0D0D0;
}
.bounty-table {
    background:#FFFFFF;
    width:100%;
    text-align:center;
    margin-top:10px;
}
.bounty-table th{
    border-bottom:5px solid #EEF4EE;
    padding:10px 5px;
}
.bounty-table td{
    padding:10px 5px;
    border-top:5px solid #EEF4EE;
}
.bounty-ul li{
    list-style:disc;
}