.client-note {
    margin: auto;
    max-width: 581px;
}

ul, li {
    padding: 0;
    list-style: none;
}

select {
    float: right;
    margin-top: -42px;
}

.client-ul {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: stretch;

    li {
        margin: 52px 0;
        width: 200px;
    }

    header {
        margin: 12px 0;
        font-size: 1.3rem;
    }

    .client-logo {
        width: 86px;
        border-radius: 10%;
    }

    .open-source {
        display: none;
    }    
}

.modal {
    img {
        max-width: 100%;
    }
}