ul, li {
    margin: 0;
    padding: 0;
}

.nav-client {
    text-align: center;
    background-color: white;
    clip-path: polygon(10px 0, 100% 0, 100% 100%, 0 100%, 0 5px);
    background: linear-gradient(150deg,transparent 0, transparent 4px, #fff 4px,  #fff 100%);
    margin-bottom: 5px;
}

.nav-client li {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    padding: 10px 30px;
}
.nav-client li span {
    margin-left: 10px;
}

.nav-client li.selected {
    color: #58bf00;
    border-radius: 10px 10px 0 0;
}.nav-client li:before {
    content: "- ";
    color: white;
}
.nav-client li:after {
    content: " -";
    color: white;
}
.nav-client li.selected:before {
    color: #58bf00;
}
.nav-client li.selected:after {
    color: #58bf00;
}

.nav-client li .iconfont {
    font-style: normal;
    font-size: 22px;
    height: 50px;
}

.nav-client .tab-select {
    color: #58BF00;
}

.nav-client li.tab-select a, .nav-client li a:hover {
    color: #58BF00;
}
.client-note {
    max-width: 700px;
    text-align: center;
    margin: auto;
}

.client-ul {
    background-color: white;
    text-align: center;
    width: 100%;
    padding: 20px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5px), calc(100% - 10px) 100%, 0 100%, 0 0);
    background: linear-gradient(150deg,#fff 0, #fff calc(100% - 4px), transparent calc(100% - 4px),  transparent 100%);
}

.client-ul ul {
    margin: auto;
    max-width: 1600px;
}

.client-ul .alert {
    margin: auto;
    max-width: 800px;
}

.client-ul li > div {
    position: relative;
    margin-bottom: 20px;
    height: 120px;
    border: 1px solid #58bf00;
}

.client-ul li > div:hover {
    background-color: #f8f8f8;
}

.client-ul li > div .open-source {
    position: absolute;
    display: inline-block;
    border: 1px solid gray;
    right: 20px;
    bottom: 14px;
    font-size: 10px;
    padding: 6px 10px;
    background: linear-gradient(150deg, #d4eb21 0, #68a136 100%);
    border: none;
    color: #58bf00;
    clip-path: polygon(7px 0, 100% 0, 100% calc(100% - 3.5px), calc(100% - 7px) 100%, 0 100%, 0 3.5px);
}

.client-ul li > div .open-source::before {
    content: " ";
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    left: 1px;
    top: 1px;
    background-color: #fff;
    clip-path: polygon(6px 0, 100% 0, 100% calc(100% - 3px), calc(100% - 6px) 100%, 0 100%, 0 3px);
}

.client-ul li > div .open-source::after {
    content: "GitHub";
    display: block;
    padding: 5px 9px;
    font-size: 10px;
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    left: 1px;
    top: 1px;
}

.client-ul img {
    position: absolute;
    left: 14px;
    top: 14px;
    width: 33%;
    cursor: pointer;
    border-radius: 13px;
}

.client-ul .platform {
    position: absolute;
    text-align: left;
    left: 33%;
    top: 42px;
    margin-left: 28px;
}

.client-ul header {
    position: absolute;
    text-align: left;
    height: 1.5em;
    overflow: hidden;
    left: 33%;
    top: 18px;
    margin-left: 28px;
}

.client-ul .iconfont {
    cursor: default;
    margin-right: 3px;
}

.client-select {
    display: block;
}

.client-hint {
    width: 50%;
    background: #D8D8D8;
    color: #6C6C6C;
    padding: 12px 62px;
    line-height: 2;
}

.modal-header img {
    width: 72px;
    height: 72px;
    margin-right: 12px;
    border-radius: 13px;
}

.modal-header .developer {
    margin-top: 5px;
}

.modal-body img {
    display: block;
    max-width: 100%;
}
.modal-body p {
    margin: .5em 0;
}
.modal-body a {
    color: #51BC00;
    font-weight: 400;
    cursor: pointer;
}
@media only screen and (max-width: 576px) {

    .client-ul img {
        width: 85px;
    }

    .client-ul .platform {
        left: 85px;
    }

    .client-ul header {
        left: 85px;
    }
}