ul, li {
    margin: 0;
    padding: 0;
}

.nav-client {
    text-align: center;
    margin-top: 20px;
    border-bottom: 1px solid #58bf00;
}

.nav-client li {
    display: inline-block;
    font-weight: normal;
    color: #AAAAAA;
    margin: 0 10px;
    cursor: pointer;
    padding: 10px 30px;
}

.nav-client li span {
    margin-left: 10px;
}

.nav-client li.selected {
    background-color: #58bf00;
    color: white;
    border-radius: 10px 10px 0 0;
}

.nav-client li .iconfont {
    font-style: normal;
    font-size: 22px;
    height: 50px;
}

.nav-client .tab-select {
    color: #58BF00;
}

.nav-client li.tab-select a, .nav-client li a:hover {
    color: #58BF00;
}

.layout-container {
    max-width: none;
    padding: 0;
}

.client-ul {
    background-color: white;
    text-align: center;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #58bf00;
}

.client-ul li {
    display: inline-block;
    width: 200px;
    margin: 20px;
    padding: 20px 10px;
    border: 1px solid lightgray;
}

.client-ul li:hover {
    background-color: #f8f8f8;
}

.client-ul img {
    width: 72px;
    height: 72px;
    cursor: pointer;
    border-radius: 13px;
}

.client-ul header {
    line-height: 2.5;
}

.client-ul .iconfont {
    cursor: default;
    margin: 0 3px;
}

.client-select {
    display: block;
}

.client-hint {
    width: 50%;
    background: #D8D8D8;
    color: #6C6C6C;
    padding: 12px 62px;
    line-height: 2;
}

.modal-header img {
    width: 72px;
    height: 72px;
    margin-right: 12px;
    border-radius: 13px;
}

.modal-header .developer {
    margin-top: 5px;
}

.modal-body img {
    display: block;
    max-width: 100%;
}
.modal-body p {
    margin: .5em 0;
}
.modal-body a {
    color: #51BC00;
    font-weight: 400;
    cursor: pointer;
}

@media only screen and (max-width : 992px) {
    .client-hint {
        width: 100%;
        max-width: none;
    }
    .nav-client li {
        padding: 10px 20px;
    }
    .client-ul li {
        width: 180px;
    }
}

@media only screen and (max-width: 768px) {
    .nav-client li {
        padding: 5px 15px;
        margin: 0;
    }
    .nav-client li span {
        display: none;
    }
    .client-ul {
        padding: 10px 0;
    }
    .client-ul li {
        width: 160px;
        margin: 10px;
        padding: 10px 5px;
    }
}
