html, body {
    width: 100%;
    height:100%;
    margin: 0;
    font-family:"Microsoft YaHei",PingFangSC-Light,"PingHei","Lucida Grande","STHeitiSC-Light","BBAlpha Sans","S60 Sans","Hiragino Sans GB","Microsoft YaHei Light","Verdana",SimHei,"WenQuanYi Micro Hei",sans-serif;
}
body {
    background:#EEF4EE;
    padding-top: 100px;
    font-size: 14px;
    font-weight:300;
    line-height:2;
    text-shadow:0.1px 0 0;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin:0;
    font-weight:100;
}
button:focus {
    outline:none;
}

h1,.h1 {font-size: 60px;}
h2,.h2 {font-size: 40px;}
h3,.h3 {font-size: 25px;}
.t1 {font-size: 36px;}
.t2 {font-size: 20px;}
.t3 {font-size: 16px;}
.t4 {font-size: 14px;}
.link2 {font-size:17px;}
.link2:hover{text-decoration:none;}
.m1 {margin:60px auto 0!important;}
.m2 {margin:42px auto 0!important;}
.m3 {margin:20px auto 0!important;}
.m4 {margin:10px auto 0!important;}
.m5 {margin:6px auto 0!important;}
.mt0 {margin-top:0px!important;}
.ml0 {margin-left:0px!important;}
.mb0 {margin-bottom:0px!important;}
.mr0 {margin-right:0px!important;}
.padding_normal {padding:initial 100px;}
.p1 {padding:60px;}
.p2 {padding:40px;}
.p3 {padding:30px;}
.p4 {padding:12px;}
.pt0 {padding-top:0px!important;}
.pl0 {padding-left:0px!important;}
.pb0 {padding-bottom:0px!important;}
.pr0 {padding-right:0px!important;}
a, a:active, .btn-link, .btn-link:active { color:#6c6c6c; text-decoration: none }
a:hover, a:focus, .btn-link:hover, .btn-link:focus {color:#58bf00; text-decoration: none; outline: none }
.top-line {border-top:1px solid #DDDDDD;}
.bold-font {font-weight:400;}
.bolder-font {font-weight:900;}
.body-content {padding:50px 0;}
.desktop-show {display:inline-block!important;}
.mobile-show {display:none!important;}
.gray-back {background:#888888;}
.light-text {color:#AAAAAA;}
.gray-text {color:#555555;}
.green-text{color:#478E0A;}
.red-text{color:#dc3545!important;}
.text-ellipsis {overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.lh1 {line-height:2.5;}
.lh2 {line-height:2;}
.lh3 {line-height:1.8;}
.flo-l {float:left;}
.flo-r {float:right;}
.flo-clear:before,
.flo-clear:after {
    content:" ";
    display:block;
    clear:both;
}
.midpoint {position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;}
.posi-rela {position:relative;}
.posi-fixed {position:fixed;}
.text-white {color:#FFFFFF;}
.text-yellow{color:#EDCB00;}
.dis-table {display:table;}
.dis-table-row {display:table-row;}
.dis-table-cell {display:table-cell;vertical-align:middle;}
.dis-inblock {display:inline-block;}
.dis-block {display:block;}
.unclick-btn {cursor:not-allowed!important;}
.btneo {
    display: block;
    margin: auto;
    border-radius: 0;
    font-weight: 100;
    height: 55px;
    line-height: 55px;
    width: 100%;
    max-width: 300px;
    vertical-align: middle;
    color: #505050;
    background: #beeb00;
    border: none;
    padding: 0 20px;
    cursor:pointer;
}
.btneo:hover {
    color: #222222;
    background: #aedb00;
    border-radius: 0;
    text-decoration: none;
}
.pop-up {
    position:relative;
}
.pop-hide {
    position:absolute;
    z-index:99;
    left: 0;
    right: 0;
    display:none;
}
.pop-up:hover .pop-hide{
    display:block;
}



/*基础背景颜色*/
.back-static {
    background:#EEF4EE;
}
.back-white {
    background:#FFFFFF;
}

/*最大宽度设置*/
.w600 {
    width:100%;
    max-width:600px;
    margin:auto;
}
.w800 {
    width:100%;
    max-width:800px;
    margin:auto;
}
@media only screen and (min-width : 1550px) {
}
@media only screen and (max-width : 780px) {
    .w300 {
        width:100%;
        max-width:300px;
        margin:auto;
    }
}

/*特殊边框样式*/
.border-static {
    position: relative;
    box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.1);
}
.border-static:before{
    content: "";
    position: absolute;
    height: 0;
    top: -4px;
    left: -10px;
    width: 100%;
    border-bottom: 18px solid transparent;
    border-left: 36px solid #EEF4EE;
}
.border-static:after{
    content: "";
    position: absolute;
    height: 0;
    bottom: -10px;
    left: 5px;
    width: 100%;
    border-top: 20px solid transparent;
    border-right: 40px solid #EEF4EE;
}
.border-static2:before{
    border-left: 36px solid #FFFFFF;
}
.border-static2:after{
    border-right: 40px solid #FFFFFF;
}
.border-static-title {
    background-color: white;
    background: linear-gradient(152deg,transparent 0, transparent 8px, #fff 8px,  #fff 100%);
}
.border-static-body {
    background-color: white;
    background: linear-gradient(152deg,#fff 0, #fff calc(100% - 8px), transparent calc(100% - 7px),  transparent 100%);
}

/*基础按钮样式*/
.btn-static {
    position: relative;
    display: inline-block;
    padding: 5px 20px;
    background: #58BF00;
    background: linear-gradient(90deg,#58BF00,#A4DC00 60%,#B5E200);
    background-size:150%;
    background-position:0;
    box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.1);
    border: none;
    color: #EEF4EE!important;
    letter-spacing: 2px;
    min-width: 210px;
    text-align:center;
    vertical-align:middle;
    cursor: pointer;
    transition: background 0.3s;
    line-height:2;
}
.btn-static:before{
    content: "";
    position: absolute;
    height: 0;
    top: -4px;
    left: -4px;
    width: 100%;
    border-bottom: 12px solid transparent;
    border-left: 24px solid #EEF4EE;
}
.btn-static:after{
    content: "";
    position: absolute;
    height: 0;
    bottom: -6px;
    left: 2px;
    width: 100%;
    border-top: 13px solid transparent;
    border-right: 26px solid #EEF4EE;
}
.btn-static:hover {
    background-position:80%;
    color:#478E0A!important;
    transition: all 0.3s;
}
.btn-static:active {
    background-position:100%;
    text-shadow: 0 2px 0 rgba(255, 255, 255, 0.3);
    transition:all 0.5s;
}
.btn1:before{border-left: 24px solid #FFFFFF;}
.btn1:after{border-right: 26px solid #FFFFFF;}
.btn2 {
    background: #A4A4A4;
    background: linear-gradient(-30deg,transparent 5%,#4A4A4A 5%,#4A4A4A 95%,transparent 95%);
    box-shadow: none;
    color: #EEF4EE!important;
    letter-spacing: 2px;
    vertical-align:middle;
    cursor: pointer;
}
.btn2:before{
    border:none;
}
.btn2:after{
    border:none;
}
.btn2:hover {
    color: #EEEEEE!important;
    background: linear-gradient(-30deg,transparent 5%,#4F4F4F 5%,#4F4F4F 95%,transparent 95%);
}
.btn2:active {
    box-shadow: none;
}
.btn-static.btn3 {
    box-shadow: none;
    color: #478E0A!important;
    background: linear-gradient(150deg,transparent 4%,#58BF00 5%,#B5E200 95%,transparent 96%);
    position: relative;
    min-width: 100px;
    z-index: 2;
    margin-right: 5px;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
}
.btn-static.btn3:before{
    top: 1px;
    bottom: 0;
    left: 1px;
    right: 0;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    background: linear-gradient(150deg,transparent 4.5%,#FFFFFF 4%,#FFFFFF 95.5%,transparent 96%);
    z-index: -1;
    border: none;
}
.btn-static.btn3:after{
    border:none;
}
.btn3:hover {
    background-position:top;
}
.btn4::before {
    border-left: 24px solid #FFF;
}
.btn4::after{
    border-right: 26px solid #FFF;
}
.btn2:active {
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}
.modal-content {
    border-radius: 0;
    border: none;
    clip-path: polygon(10px 0, 100% 0, 100% calc(100% - 5px), calc(100% - 10px) 100%, 0 100%, 0 5px);
    background: linear-gradient(150deg,transparent 0, transparent 5px, #fff 0, #fff calc(100% - 5px), transparent calc(100% - 5px),  transparent 100%);
}
@media only screen and (max-width : 1550px) {
}
@media only screen and (max-width : 1199px) {
    h1,.h1 {font-size: 50px;}
    h2,.h2 {font-size: 35px;}
    h3,.h3 {font-size: 22px;}
    .t1 {font-size: 32px;}
    .t2 {font-size: 18px;}
    .t3 {font-size: 15px;}
    .t4 {font-size: 12px;}
    .link2 {font-size:17px;}
    .m1 {margin:26px auto 0!important;}
    .m2 {margin:20px auto 0!important;}
    .m3 {margin:12px auto 0!important;}
    .m4 {margin:8px auto 0!important;}
    .m5 {margin:4px auto 0!important;}
    .padding_normal {padding:initial 22px;}
    .p1 {padding:40px;}
    .p2 {padding:20px;}
    .p3 {padding:12px;}
    .p4 {padding:6px 10px;}
    .desktop-show {display:none!important;}
    .mobile-show {display:inline-block!important;}
}
@media only screen and (max-width : 780px) {
    body {padding-top: 60px;}
    .body-content {padding-bottom:20px;}
    h1,.h1 {font-size: 40px;}
    h2,.h2 {font-size: 30px;}
    h3,.h3 {font-size: 20px;}
    .t1 {font-size: 28px;}
    .t2 {font-size: 16px;}
    .t3 {font-size: 14px;}
    .p1 {padding:20px;}
}
