html, body {
    width: 100%;
    height:100%;
    margin: 0;
    background:#E4E4E4;
    font-family:'Microsoft YaHei UI';
}
body {
    padding-top: 60px;
    padding-bottom: 20px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin:0;
    font-weight:100;
}
h1,.h1 {font-size: 46px;}
h2,.h2 {font-size: 29px;font-weight:bold;}
h3,.h3 {font-size: 16px;font-weight:bold;}
.t1 {font-size: 23px;}
.t2 {font-size: 18px;}
.t3 {font-size: 14px;}
.m1 {margin:60px auto;}
.m2 {margin:42px auto;}
.m3 {margin:20px auto;}
.padding_normal {padding:initial 100px;}
.p1 {padding:60px;}
.bold-font {font-weight:600;}
.body-content {padding-bottom:50px;}

@media only screen and (max-width : 1200px) {
    h1,.h1 {font-size: 24px;}
    h2,.h2 {font-size: 18px;font-weight:bold;}
    h3,.h3 {font-size: 13px;font-weight:bold;}
    .t1 {font-size: 18px;}
    .t2 {font-size: 14px;}
    .t3 {font-size: 12px;}
    .m1 {margin:26px auto;}
    .m2 {margin:20px auto;}
    .m3 {margin:12px auto;}
    .padding_normal {padding:initial 22px;}
    .p1 {padding:40px;}
}
@media only screen and (max-width : 780px) {
    body {
        padding-top: 90px;
    }
    .body-content {padding-bottom:20px;}
    .p1 {padding:20px 0px;}
}