html, body {
    width: 100%;
    height:100%;
    margin: 0;
    font-family:"Source-Han-Light","Microsoft YaHei",PingFangSC-Light,"PingHei","Lucida Grande","STHeitiSC-Light","BBAlpha Sans","S60 Sans","Hiragino Sans GB","Microsoft YaHei Light","Verdana",SimHei,"WenQuanYi Micro Hei",sans-serif;
}
body {
    background:#E4E4E4;
    padding-top: 60px;
    font-size: 14px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin:0;
    font-weight:100;
}

h1,.h1 {font-size: 46px;}
h2,.h2 {font-size: 29px;font-weight:bold;}
h3,.h3 {font-size: 16px;font-weight:bold;}
.t1 {font-size: 23px;}
.t2 {font-size: 18px;}
.t3 {font-size: 14px;}
.link2 {font-size:17px;}
.link2:hover{text-decoration:none;}
.m1 {margin:60px auto;}
.m2 {margin:42px auto;}
.m3 {margin:20px auto;}
.m4 {margin:10px auto;}
.padding_normal {padding:initial 100px;}
.p1 {padding:60px;}
.p2 {padding:40px;}
.p3 {padding:20px;}
.p4 {padding:12px;}
.pt0 {padding-top:0px!important;}
.pl0 {padding-left:0px!important;}
.pb0 {padding-bottom:0px!important;}
.pr0 {padding-right:0px!important;}
a, a:active, .btn-link, .btn-link:active { color:#6c6c6c; text-decoration: none }
a:hover, a:focus, .btn-link:hover, .btn-link:focus {color:#58bf00; text-decoration: none; outline: none }
.bold-font {font-weight:600;}
.body-content {padding-bottom:50px;}
.desktop-show {display:inline-block!important;}
.mobile-show {display:none!important;}
.light-text {color:#AAAAAA;}
.green-text{color:#00ae1d;}
.red-text{color:#dc3545!important;}
.text-ellipsis {overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.midpoint {position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;}
.posi-rela {position:relative;}
.posi-fixed {position:fixed;}
.text-white {color:#FFFFFF;}
.dis-table {display:table;}
.dis-table-row {display:table-row;}
.dis-table-cell {display:table-cell;vertical-align:middle;}
.unclick-btn {cursor:not-allowed!important;}
.btneo {
    display: block;
    margin: auto;
    border-radius: 0;
    font-weight: 100;
    height: 55px;
    line-height: 55px;
    width: 100%;
    max-width: 300px;
    vertical-align: middle;
    color: #505050;
    background: #beeb00;
    border: none;
    padding: 0 20px;
    cursor:pointer;
}
.btneo:hover {
    color: #222222;
    background: #aedb00;
    border-radius: 0;
    text-decoration: none;
}
.pop-up {
    position:relative;
}
.pop-hide {
    position:absolute;
    z-index:99;
    left: 0;
    right: 0;
    display:none;
}
.pop-up:hover .pop-hide{
    display:block;
}

@media only screen and (max-width : 1199px) {
    .link2 {font-size:17px;}
    .m1 {margin:26px auto;}
    .m2 {margin:20px auto;}
    .m3 {margin:12px auto;}
    .m4 {margin:8px auto;}
    .padding_normal {padding:initial 22px;}
    .p1 {padding:40px;}
    .p2 {padding:20px;}
    .p3 {padding:12px;}
    .p4 {padding:6px;}
    .desktop-show {display:none!important;}
    .mobile-show {display:inline-block!important;}
}
@media only screen and (max-width : 780px) {
    body {
        padding-top: 60px;
    }
    .body-content {padding-bottom:20px;}
    h1,.h1 {font-size: 26px;}
    h2,.h2 {font-size: 18px;font-weight:bold;}
    h3,.h3 {font-size: 13px;font-weight:bold;}
    .t1 {font-size: 18px;}
    .t2 {font-size: 16px;}
    .t3 {font-size: 12px;}
    .p1 {padding:20px 0px;}
}