html, body {
    width: 100%;
    height:100%;
    margin: 0;
    background:#d9d9d9;
    font-family:'Microsoft YaHei UI';
}
/*通用 页面布局样式*/
/*.content-area {
    background:
}*/
.content-border {
    margin: 30px 0 0;
    padding: 50px;
    border: 1px solid #999999;
    text-align: center;
}
.center-area {
    margin-top: 20px;
    padding: 0 20px;
}

[class*=btneo] {
    margin:auto;
    height: 55px;
    line-height: 40px;
    vertical-align: middle;
    border-radius: 0;
    font-size:26px;
    font-weight:100;
}

.btneo-fri {
    display: block;
    max-width:300px;
    color: #6c6c6c;
    background: #beeb00;
}
.btneo-fri:hover {
    color: #222222;
    background: #aedb00;
    border-radius: 0;
}
.btneo-fri:active {
    color: #222222;
    background: #beeb00;
    border-radius: 0;
    box-shadow: 0px 0px 8px rgb(150,200,0);
}

.btneo-sec {
    display: block;
    max-width: 300px;
    color: #ffffff;
    background: transparent;
    border: 1px solid #FFFFFF;
}
.btneo-sec :hover {
    color: #222222;
    background: #aedb00;
    border-radius: 0;
}

.btneo-sec :active {
    color: #222222;
    background: #aedb00;
    border-radius: 0;
    box-shadow: 0px 0px 8px rgb(150,200,0);
}


/*开发者页面*/
.apply-content {
    padding:60px 35px;
    background: #6c6c6c;

    text-align:center;
    letter-spacing:2px;
    font-weight:200;
}
.input-form {
    text-align:left;
}
.input-form ul{
    padding:0;
}
.input-form ul::before,
.input-form ul::after {
    content: " ";
    display: table;
}
.input-form ul::after {
    clear: both;
}
.input-form ul li {
    margin-top:20px;
}
.input-form ul label {
    color:#d8d8d8;
    font-size:14px;
    font-weight:100;
}
.input-form ul input,
.input-form ul textarea {
    display:block;
    width:100%;
    padding:10px 15px;
    background:#d8d8d8;
    border:none;
    font-size:18px;
    font-weight:100;
    color:#4a4a4a;
}
.input-form ul textarea {
    width:100%!important;
}

/*.input-form ul input::-webkit-input-placeholder,
.input-form ul input:-moz-placeholder,
.input-form ul input::-moz-placeholder,
.input-form ul input:-ms-input-placeholder {
    color: #9b9b9b;
}*/
        .lg-font {
    font-size: 46px;
}