html,body{
    height:auto;
    background: #ECECEC;
    color:#333;
}
.p1 {
    padding:100px;
}
.navbar {
    background:#fff;
}
.main-footer .container{
    display:none;
}
.green-text {
    color: #AED858!important;
}
.main-footer .lang-select {
    display:none!important;
}
.gray-back {
    background-image: url(https://neo-cdn.azureedge.net/images/sblack.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#ffffff;
}

.title-line{
    color: #333;
    text-align: center;
}
.block-info{
    font-size:0px;
    text-align: center;
    margin: auto;
}
.block-info .info-cont {
    background: #fff;
    padding: 20px;
    text-align: center;
    width: calc(25% - 5px);
    margin: 2px;
    display: inline-block;
    transition: transform .1s,background .2s;
}
.info-icon {
    font-size:65px;
    color:#AEDB58;
    transition: color .2s;
}
.block-info .info-cont:hover{
    color:#ffffff;
    background: linear-gradient(45deg,#BFDC18,#9ED990);
    box-shadow: #BBBBBB 0 0 20px;
    transform: scale(1.05);
    transition: transform .1s,background .2s;
}
.block-info .info-cont:hover .info-icon{
    color:#ffffff;
    transition: color .2s;
}

.block-data {
    background:#fff;
    padding:20px;
}
.tab-btn{
    display:inline-block;
    padding: 10px 24px;
    min-width:60px;
    cursor:pointer;
    background: transparent;
    font-size:14px;
    letter-spacing:1px;
    font-weight:100;
    border-radius: 35px;
    border: 1px solid #AEDB58;
}
.tab-change .tab-btn{
    margin-right:10px;
}
.tab-selected {
    background:#BBBBBB;
    border-left:3px solid #8AC73C;
    color:#FFFFFF!important;
}
.can-charts{
    height:400px;
}


.table-list{
    list-style: none;
    margin-bottom:0;
}
.table-list li{
    margin: 8px auto 8px;
    line-height: 2;
    background:#fff;
}
.can-th {
    
}
.can-th>span{
    display:inline-block;
}
.can-th .can-consensus{
    width: 25%;
    max-width:200px;
}
.can-th .can-votes{
    width:20%;
}
.can-th .pub-key{
    width:78%;
    text-align:right;
    white-space:nowrap;
}
.can-detail{
    width: 100%;
    padding-top:10px;
    border-top:2px solid rgba(230,230,230,0.4);
}
.can-detail .detail-left {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.text-ellipsis{
    vertical-align:top;
    display:inline-block;
    white-space:normal;
    word-break: break-all;
    text-align:left;
}
.detail-left{
    display: inline-block;
    width: 30%;
    max-width: 195px;
    word-break: break-all;
    vertical-align: top;
}
.detail-right{
    display: inline-block;
    width: calc(100% - 200px);
    padding-left:30px;
    word-break: normal;
    vertical-align: sub;
}
.detail-right>span {
    display:inline-block;
    margin-right:5px;
    vertical-align: initial;
}
.social-icon {
    text-align: right;
    font-size: 18px;
}
.social-icon a {
    padding: 3px 7px;
    margin: 0 10px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.social-icon a:hover {
    border: 1px solid #AED858;
    color: #AED858;
}

.modal-content {
    border-radius:0;
}
.modal-title {
    color:#888888;
    border-left: 4px solid #8AC73C;
    padding-left: 8px;
    font-size: 18px;
    line-height:1.4;
    font-weight:bold;
}
.modal-header .close{
    color:#8AC73C;
}
.modal-header,.modal-body {
}
.modal-body .row{
    margin:0;
}
.modal-body .col-6{
    padding:0 6px;
}
.form-control {
    border-radius:0;
}
.form-control:focus {
    border-color: #8AC73C;
    box-shadow: 0 0 0 0.2rem rgba(138, 199, 60, 0.25);
}

.form-control::-webkit-input-placeholder,
.form-control::-moz-placeholder,
.form-control:-moz-placeholder,
.form-control:-ms-input-placeholder{
    color:#BBBBBB;
}

.form-group {
    padding:0 6px;
}
.control-label {
    margin-bottom:.3rem;
}
.form-group .btn-outline-secondary,
.form-group .btn-default{
    border:1px solid #8AC73C;
    background:#8AC73C;
    border-radius:0;
    color:#FFFFFF;
}

@media (max-width: 1200px){
    .block-info .data_show{
        height: 130px;
        width: 130px;
        line-height:116px;
    }
    .tr-con .text-ellipsis{
        width:400px;
    }
    .detail-left{
        max-width:165px;
    }
    .detail-right {   
        width: 100%;
        padding: 0;
    }
    .detail-right .can-votes,
    .detail-right .pub-key {
        display: block;
        width: 88%;
        text-align:left;
    }
}
@media (max-width: 990px){
    .container {
        max-width: 990px;
    }
    .tab-btn {
        padding:5px 15px;
        font-size: 12px;
    }
    .block-info .data_show{
        height: 110px;
        width: 110px;
        line-height:96px;
    }
    .tr-con .text-ellipsis{
        white-space:nowrap;
        width:300px;
    }
    .tr-con .pub-key{
        width: 49%;
    }
    .tr-con .can-votes{
        width: 17%;
    }
    .tr-con .can-consensus {
        width: 20%;
    }
    .tr-con .can-more{
        width: 12%;
        text-align: center;
    }
    .detail-left{
        display: block;
        width: auto;
    }
    .detail-left img{
        margin: 20px 0;
    }
}
@media (max-width: 767px){
    .container {
        max-width: 450px;
    }
    .info-cont {
        display: inline-block;
        width: 50%;
        max-width:50%;
        padding: 5px;
    }
    .title-line {
        font-size:16px;
    }
    .block-info {
    margin: 0 -2px;
    }
    .block-info .info-cont{
        width: calc(50% - 5px);
    }
    .block-info .data_show{
        height: 90px;
        width: 90px;
        line-height: 80px;
        padding: 5px;
        font-size: 14px;
    }
    .block-data {
        padding:10px;
    }
    .can-charts {
        height: 200px;
    }
    .table-list li {
        margin: 5px auto 15px;
    }
    .tr-con .pub-key {
        width:75%;
    }
    .tr-con .can-votes {
        width:25%;
    }
    .tr-con .text-ellipsis{
        width:200px;
    }
    .tr-con .can-more,
    .tr-con .can-consensus{
        display:none;
    }
    .detail-left{
        max-width:165px;
    }
    .detail-right {
    
    }
}
