html,body{
    height:auto;
    background: linear-gradient(#BAD531,#62BD49);
    background-size:cover;
    color:#888888;
}
body {
    background-image: url('https://neo-cdn.azureedge.net/images/topbg.svg'),url('https://neo-cdn.azureedge.net/images/bottombg.svg');
    background-size: contain,contain;
    background-repeat:no-repeat;
    background-position:top center,bottom center;
}
.navbar {
    background:#F9FBF2;
}
.main-footer .container{
    display:none;
}
.green-text {
    color:#62BD49!important;
}
.main-footer .lang-select {
    display:none!important;
}

.title-line{
    border-left: 6px solid #ffffff;
    padding-left: 12px;
    color: #ffffff;
    margin-bottom: 15px;
    font-size:20px;
    font-weight:bold;
}
.block-info{
    font-size:0px;
    text-align: center;
}
.block-info .info-cont {
    background: #F9FBF2;
    font-size:18px;
    margin: auto;
    padding: 20px;
    text-align: center;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(80, 166, 57, 0.5);
}
.block-info .data_show{
    position: relative;
    display: inline-block;
    background: linear-gradient(#CFEA4C,#70BC3E);
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    width: 146px;
    height: 146px;
    line-height:130px;
    padding:8px;
    transform: rotate(0deg);
    transition: transform .5s;
}
.block-info .data_show span{
    display: inline-block;
    background: #F9FBF2;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
    transition: transform .5s;
}
.block-info .info-cont:hover{
    color:#333333;
    background:#ffffff;
    box-shadow:#7E9E00 0 0 12px;
    transform: scale(1.02);
    transition: transform .1s,background .2s;
}
.block-info .info-cont:hover .data_show{
    transform: rotate(360deg);
    transition: transform .7s;
}
.block-info .info-cont:hover .data_show span{
    background:#ffffff;
    transform: rotate(-360deg);
    transition: transform .7s,background .2s;
}

.block-data {
    background:#F9FBF2;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(80, 166, 57, 0.5);
    padding:20px;
}
.tab-btn{
    display:inline-block;
    padding:2px 8px;
    min-width:60px;
    cursor:pointer;
    background:#F9FBF2;
    color:#888888!important;
    font-size:14px;
    letter-spacing:1px;
    font-weight:bold;
    border-radius:10px;
    border-right:5px solid #4a9f33;
}
.tab-change .tab-btn{
    margin-right:10px;
}
.tab-selected {
    background:#BBBBBB;
    border-left:3px solid #8AC73C;
    color:#FFFFFF!important;
}
.can-charts{
    height:400px;
}


.table-list{
    list-style: none;
    margin-bottom:0;
}
.table-list li{
    margin: 10px auto 25px;
    line-height: 2;
    background:#F9FBF2;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(80, 166, 57, 0.5);
}
.can-th {
    
}
.can-th>span{
    display:inline-block;
}
.can-th .can-consensus{
    width: 25%;
    max-width:200px;
}
.can-th .can-votes{
    width:20%;
}
.can-th .pub-key{
    width:78%;
    text-align:right;
    white-space:nowrap;
}
.can-detail{
    width: 100%;
    padding-top:10px;
    border-top:2px solid rgba(230,230,230,0.4);
}
.text-ellipsis{
    vertical-align:middle;
    display:inline-block;
    white-space:normal;
}
.detail-left{
    display: inline-block;
    width: 30%;
    max-width:150px;
    word-break: break-all;
    vertical-align:top;
}
.detail-left img{
    width: 120px;
    height: 120px;
    padding: 10px;
    background: #e6e6e6;
    border-radius:10px;
}
.detail-right{
    display: inline-block;
    width: calc(100% - 150px);
    padding-left:30px;
    word-break: normal;
    vertical-align:top;
}
.detail-right>span {
    display:inline-block;
    width:100px;
    vertical-align: initial;
}


/*Ä£Ì¬¿ò*/
.modal-content {
    border-radius:0;
}
.modal-title {
    color:#888888;
    border-left: 4px solid #8AC73C;
    padding-left: 8px;
    font-size: 18px;
    line-height:1.4;
    font-weight:bold;
}
.modal-header .close{
    color:#8AC73C;
}
.modal-header,.modal-body {
}
.modal-body .row{
    margin:0;
}
.modal-body .col-6{
    padding:0 6px;
}
.form-control {
    border-radius:0;
}
.form-control:focus {
    border-color: #8AC73C;
    box-shadow: 0 0 0 0.2rem rgba(138, 199, 60, 0.25);
}

.form-control::-webkit-input-placeholder,
.form-control::-moz-placeholder,
.form-control:-moz-placeholder,
.form-control:-ms-input-placeholder{
    color:#BBBBBB;
}

.form-group {
    padding:0 6px;
}
.control-label {
    margin-bottom:.3rem;
}
.form-group .btn-outline-secondary,
.form-group .btn-default{
    border:1px solid #8AC73C;
    background:#8AC73C;
    border-radius:0;
    color:#FFFFFF;
}

@media (max-width: 1200px){
    .block-info .data_show{
        height: 130px;
        width: 130px;
        line-height:116px;
    }
    .tr-con .text-ellipsis{
        width:400px;
    }
}
@media (max-width: 990px){
    .container {
        max-width: 990px;
    }
    .block-info .data_show{
        height: 110px;
        width: 110px;
        line-height:96px;
    }
    .tr-con .text-ellipsis{
        white-space:nowrap;
        width:300px;
    }
    .tr-con .pub-key{
        width: 49%;
    }
    .tr-con .can-votes{
        width: 17%;
    }
    .tr-con .can-consensus {
        width: 20%;
    }
    .tr-con .can-more{
        width: 12%;
        text-align: center;
    }
}
@media (max-width: 767px){
    .container {
        max-width: 450px;
    }
    .col-sm-3 {
        display: inline-block;
        width: 50%;
        max-width:50%;
        padding: 5px;
    }
    .title-line {
        font-size:16px;
        border-left: 4px solid #ffffff;
        padding-left: 8px;
        margin-bottom:10px;
    }
    .block-info {
        display:block;
        padding:0 10px;
    }
    .block-info .info-cont{
        padding: 10px;
        font-size:15px;
    }
    .block-info .data_show{
        height: 90px;
        width: 90px;
        line-height: 80px;
        padding: 5px;
        font-size: 14px;
    }
    .block-data {
        padding:10px;
    }
    .can-charts {
        height: 200px;
    }
    .table-list li {
        margin: 5px auto 15px;
    }
    .tr-con .pub-key {
        width:75%;
    }
    .tr-con .can-votes {
        width:25%;
    }
    .tr-con .text-ellipsis{
        width:200px;
    }
    .tr-con .can-more,
    .tr-con .can-consensus{
        display:none;
    }
}
