html,body{
    background:#FFF;
}
body {
    padding: 0;
}
a {
    cursor:pointer;
}
.block {
    padding:90px 0px 40px;
}
.navbar-brand img {
    padding:5px;
}
.navbar-default {
    background:transparent;
    border:none;
    margin-bottom:0px;
    position:absolute;
    left:0;
    right:0;
}
.navbar-default .navbar-nav > li > a {
    color:#FFFFFF;
    width:115px;
    display:inline-block;
    text-align:center;
}
.nav > li > a {
    padding:20px 10px;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #FFFFFF;
    text-shadow: 0px 0px 8px #FFFFFF;
    font-weight: 600;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background:transparent;
}
.announcement {
    background: #F0F0F0;
    padding:10px;
}
.announcement span{
    font-size:17px;
    color:#30b900;
    vertical-align:middle;
}
.announcement a{
    color:#333333;
    letter-spacing:2px;
}
.announcement a:hover{
    color:#000000;
    text-shadow: 0 0 1px #CCCCCC;
}

.banner {
    background-image: url(../images/contest/bg.jpg);
    background-position: center;
    background-size: cover;
    color:#FFFFFF;
    padding:250px 0 1px;
}
.banner p{
    margin:20px auto;
    padding:0px 10px;
}
.banner .frist-text img{
    max-height:60px;
}
.set-lang {
    text-align:right;
    color:#FFFFFF;
    padding:0;
    margin-top:50px;
    margin-bottom:20px;
}
.set-lang li{
    display:inline-block;
    margin-right:10px;
}
.set-lang li a{
    color:#CCCCCC;
}
.set-lang li a:hover{
    color:#FFFFFF;
    text-shadow:0px 0px 2px #FFFFFF;
}
.sponsor-icon a{
    display:inline-block;
    height:50px;
    margin:20px 30px 30px;
}
.sponsor-icon a img{
    height:inherit;
}
.compe-title{
    
}
.compe-title:before,
.compe-title:after{
    content:"————";
    display:inline-block;
    margin:0px 20px;
    color:#464646;
}
.compe-title span{
    background:#464646;
    color:#FFFFFF;
    font-size:24px;
    padding:4px 12px;
    vertical-align:middle;
    letter-spacing:1px;
}
.cavas-content p{
    font-size:16px;
}
#map, #histogram {
    height:300px;
    text-align:center;
}
.cavas-content p span{
    margin:0px 15px 0px 8px;
}
.compe-intro {
    font-weight:600;
    letter-spacing:1px;
    line-height:2;
}
.compe-btn {
    display:inline-block;
    margin: 20px 10px 60px;
    padding: 0px 5px;
    border:2px solid #30B900;
    min-width: 185px;
    height:45px;
    line-height:2.5;
    font-size:18px;
    color:#30B900;
    box-sizing:content-box;
    cursor:pointer;
}
.compe-btn:hover{
    background:#fdfdfd;
}


.comp-rules {
    background:url(../images/contest/bg2.png) repeat-x;
    background-size: contain;
}
.rules-intro {
    margin:0px auto 60px;
    -webkit-padding-start: 0px;
    -webkit-margin-start: 10px;
    font-size:14px;
    line-height:2.5;
}
.rules-intro li{
    list-style: decimal;
    padding-left:10px;
}

.compe-awards {
    font-size:0;
    padding-left:0;
}
.compe-awards li{
    display:inline-block;
    width:25%;
    font-size:13px;
    vertical-align:bottom;
}
.compe-awards p{
    text-align:center;
    line-height:28px;
    margin-bottom:20px;
}
.compe-awards p b{
    font-size:28px;
    color:#5DBD22;
    vertical-align:bottom;
}
.compe-awards div{
    color:#FFF;
    vertical-align:middle;
    letter-spacing:1px;
    padding-top:10px;
}
.compe-awards .fri{
    height:135px;
    background:#212121;
}
.compe-awards .sec{
    height:110px;
    background:#444444;
}
.compe-awards .thr{
    height:90px;
    background:#707070;
}
.compe-awards .other{
    height:70px;
    background:#ADADAD;
}
.devcon {
    margin-top: 50px;
    font-size: 16px;
    font-weight: bold;
}
.comp-process {
    font-size:0;
    min-height:400px;
}

.comp-process>div {
    font-size:18px;
    min-height:400px;
    display:inline-block;
    vertical-align: bottom;
    padding:65px 65px 45px;
}
.comp-process .left-intro{
    width:30%;
    background:#57BE00;
    background-image:url('../images/contest/Page 1 Copy.svg'),linear-gradient(#57BE00,#53b900);
    background-repeat:no-repeat;
    background-position:bottom right;
}
.comp-process .right-intro{
    display:inline-table;
    width:70%;
    background:#404040;
    color:#FFFFFF;
}
.left-intro p {
    color:#FFFFFF;
}
.left-intro span{
    display:inline-block;
    background: #FFFFFF;
    color: #222222;
}
.left-intro .compe-title::before,
.left-intro .compe-title::after{
    content:"";
    margin:auto;
}
.process-intro {
    display:table-cell;
    padding:0px;
    width:100%;
    font-size: 0px;
    margin-bottom:0px;
    vertical-align:middle;
}
.process-intro li {
    width:20%;
    display:inline-block;
    vertical-align:middle;
    font-size:14px;
}
.bg-border {
    max-height: 110px;
    margin-bottom: 10px;
}
.bg-border img {
}
.process-intro img{
    max-height:inherit;
}
.process-intro .line-img{
    width:20%;
    padding:10px;
}
.line-img::before{
    content:"";
    display:block;
    border:1px dashed #FFFFFF;
}

.comp-judge {
    width:100%;
    padding:0;
    font-size:0;
}
.comp-judge li{
    width:20%;
    display:inline-block;
    font-size:14px;
    vertical-align: top;
}
.comp-judge img{
    width:118px;
    height:118px;
    margin-bottom:20px;
}

/*底部样式调整*/
.footer {
    background:#111111;
    color:#FFFFFF;
    padding:30px 0;
    background-image: url('../images/contest/footer-bg.svg'),url('../images/contest/footer-bg.svg');
    background-position: -50px bottom,bottom right -50px;
    background-size: 300px;
    background-repeat:no-repeat;
}
.foo-content {
    margin:25px auto 10px;
    max-width:800px;
}
.foo-content>div{
    display:inline-block;
}
.foo-title {
    width:120px;
    vertical-align:top;
    margin-bottom:10px;
}
.icon-content {
    max-width:650px;
    word-break:break-word;
}
.icon-content a{
    margin:0px 25px 20px 0px;
    display:inline-block;
    height:40px;
}
.icon-content img{
    width:auto;
    height:inherit;
}

.font1 {
    font-size:20px;
}
.mar-b1 {
    margin-bottom:42px;
}
.line1 {

}
@media only screen and (max-width : 980px) {
    .banner .frist-text img{
        max-height:50px;
    }
    .comp-process .left-intro {
        padding:85px 20px 60px;
    }
    .process-intro .bold-font{
        margin-left: -15px;
        width: 125px;
    }
}
@media only screen and (max-width : 768px) {
    .mar-b1 {
        margin-bottom:20px;
    }
    .nav > li > a {
        padding:5px 10px;
    }
    .navbar-default .navbar-nav > li > a {
        width:90px;
    }
    .announcement a{
        letter-spacing:1px;
    }
    .compe-title:before, .compe-title:after {
        content:"";
        margin:0 10px;
    }
    .compe-title span {
        display:inline-block;
        font-size: 18px;
        padding: 2px 8px;
    }
    .compe-btn {
        margin: 15px 10px 10px;
    }
    .left-intro p {
        color:#FFFFFF;
    }
    .left-intro span{
        background: #FFFFFF;
        color: #222222;
    }
    .block {
        padding:30px 0px;
    }
    .banner {
        padding:150px 0px 1px;
    }
    .sponsor-icon a{
        height:35px;
        margin:15px 10px 30px;
    }
    .rules-intro{
        line-height:2;
        margin-bottom:30px;
    }
    .compe-awards {
    }
    .compe-awards li {
        display:block;
        width:260px;
        text-align:left;
        margin:auto;
    }
    .compe-awards li b{
        font-size:20px;
    }
    .compe-awards div {
        display:none;
    }
    .comp-process {
        font-size:14px;
    }
    .comp-process>div {
        padding:30px 0px 15px;
        min-height:initial;
    }
    .comp-process .bg-border {
        margin:10px;
    }
    .comp-process .left-intro {
        width:100%;
        background-size: contain;
    }
    .comp-process .right-intro {
        width:100%;
    }
    .line-img::before{
        width:0px;
        min-height:60px;
        margin:auto;
        border:1px dashed #FFFFFF;
    }
    .process-intro li {
        width: 100%;
        display: block;
        margin: auto;
        min-height:80px;
    }
    .process-intro .bold-font{
        margin-left: 0px;
        width: auto;
    }
    .comp-judge li {
        width: 50%;
    }
    .foo-content > div {
        display:block;
    }
    .footer {
        background-image: url('../images/contest/footer-bg.svg');
        background-position: bottom right -60px;
    }
    .foo-title {
        width: 100%;
    }
}