@import 'basic.less';

.team-list {
    img {
        width: 100%;
        margin-bottom: 8px;
    }

    .link {
        a{
            &:hover{
                opacity:0.8;
            }
        }
    }
}
