@import 'basic.less';

.team-list {
    img {
        width: 100%;
        margin-bottom:@length7;
    }

    .link {
        a{
            color:@gray;

            &:hover{
                opacity:0.8;
            }
        }
    }
}
