html,body{
    background:#FFF;
}
body {
    padding: 0;
}
a {
    cursor:pointer;
}
.block {
    padding:100px 0px 40px;

}
.banner {
    background-image: url(../images/contest/bg.jpg);
    background-position: center;
    background-size: cover;
}
.compe-title{
    
}
.compe-title:before,
.compe-title:after{
    content:"————";
    display:inline-block;
    margin:0px 20px;
    color:#464646;
}
.compe-title span{
    background:#464646;
    color:#FFFFFF;
    font-size:24px;
    padding:4px 12px;
    vertical-align:middle;
    letter-spacing:1px;
}

.compe-intro {
    font-weight:600;
    letter-spacing:1px;
    line-height:2;
}
.compe-btn {
    display:inline-block;
    margin: 20px 10px 60px;
    border:2px solid #30B900;
    width:155px;
    height:45px;
    line-height:2.5;
    font-size:18px;
    color:#30B900;
    box-sizing:content-box;
    cursor:pointer;
}
.compe-btn:hover{
    background:#fdfdfd;
}


.comp-rules {
    background:url(../images/competition/bg2.png) repeat-x;
    background-size: contain;
}
.rules-intro {
    margin:0px auto 60px;
    -webkit-padding-start: 0px;
    -webkit-margin-start: 10px;
    max-width:880px;
    font-size:14px;
    line-height:2.5;
}
.rules-intro li{
    list-style: decimal;
    padding-left:10px;
}

.compe-awards {
    font-size:0;
    padding-left:0;
}
.compe-awards li{
    display:inline-block;
    width:20%;
    font-size:13px;
    vertical-align:bottom;
}
.compe-awards p{
    line-height:28px;
    margin-bottom:20px;
}
.compe-awards p b{
    font-size:28px;
    color:#5DBD22;
    vertical-align:bottom;
}
.compe-awards div{
    color:#FFF;
    vertical-align:middle;
    letter-spacing:1px;
}
.compe-awards .fri{
    height:101px;
    line-height:101px;
    background:#212121;
}
.compe-awards .sec{
    height:76px;
    line-height:76px;
    background:#444444;
}
.compe-awards .thr{
    height:63px;
    line-height:63px;
    background:#707070;
}
.compe-awards .other{
    height:50px;
    line-height:50px;
    background:#ADADAD;
}
.comp-process {
    font-size:0;
    min-height:360px;
}

.comp-process>div {
    font-size:18px;
    min-height:360px;
    display:inline-block;
    vertical-align: bottom;
    padding:70px 65px;
}
.comp-process .left-intro{
    width:30%;
    background:#57BE00;
    background-image:url('../images/competition/Page 1 Copy.svg'),linear-gradient(#57BE00,#53b900);
    background-repeat:no-repeat;
    background-position:bottom right;
}
.comp-process .right-intro{
    width:70%;
    background:#404040;
    color:#FFFFFF;
}
.left-intro .compe-title {

}
.left-intro .compe-title::before,
.left-intro .compe-title::after{
    content:"";
}
.process-intro {
    padding:0px;
    width:100%;
    font-size: 0px;
}
.process-intro li {
    width:20%;
    display:inline-block;
    vertical-align:middle;
    font-size:14px;
}
.bg-border {
    height:100px;
    line-height:100px;
    background:url(../images/competition/intro-border.png) no-repeat;
    background-size:contain;
    background-position:center;
}
.process-intro img{
}
.process-intro .line-img{
    width:20%;
}

.comp-judge {
    width:100%;
    padding:0;
    font-size:0;
}
.comp-judge li{
    width:20%;
    display:inline-block;
    font-size:14px;
}
.comp-judge img{
    width:118px;
    height:118px;
    margin-bottom:20px;
}

/*底部样式调整*/
.footer {
    background:#000000;
    color:#FFFFFF;
    padding:30px 0;
}
.foo-content {
    margin:35px auto;
    max-width:660px;
}
.foo-content>div{
    display:inline-block;
}
.foo-title {
    width:100px;
    vertical-align:top;
}
.icon-content {
    max-width:550px;
    word-break:break-word;
}
.icon-content span{
    margin-right:25px;
}

.font1 {
    font-size:20px;
}
.mar-b1 {
    margin-bottom:42px;
}
.line1 {

}
@media only screen and (max-width : 1200px) {
    .block {
        padding:30px 0px;
    }
}
@media only screen and (max-width : 780px) {
    .mar-b1 {
        margin-bottom:20px;
    }
    .compe-title:before, .compe-title:after {
        margin:0 10px;
    }
    .compe-title span {
        font-size: 18px;
        padding: 2px 8px;
    }
    .compe-btn {
        margin: 15px 10px 10px;
    }
    .comp-process div {
        font-size:14px;
    }
    .left-intro p {
        color:#FFFFFF;
    }
    .left-intro span{
        background: #FFFFFF;
        color: #222222;
    }
    .block {
        padding:30px 0px;
    }
    .rules-intro{
        line-height:2;
        margin-bottom:30px;
    }
    .compe-awards {
    }
    .compe-awards li {
        display:block;
        width:230px;
        text-align:left;
        margin:auto;
    }
    .compe-awards li b{
        font-size:20px;
    }
    .compe-awards div {
        display:none;
    }
    .comp-process div {
        padding:30px 0px 15px;
        min-height:initial;
    }
    .comp-process .left-intro {
        width:100%;
        background-size: contain;
    }
    .comp-process .right-intro {
        width:100%;
    }
    .process-intro li {
        width: 100%;
        display: block;
        margin: auto;
        min-height:120px;
    }
    .comp-judge li {
        width: 50%;
    }
}