.body-content {
    text-align: center;
}
.dapp {
    position: relative;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    max-width: 310px;
    height: 400px;
    border-radius: 0;
    border: 1px solid #fff;
    border-style: none solid;
    text-align: center;
    word-break: break-all;
    line-height: 1.5;
    background-color: #fff;
    overflow: hidden;
}

.dapp:hover {
	border: 1px solid #6FC308;
    border-style: none solid;
    transition: border 0.5s linear ;
}
.dapp::before,.dapp::after{
	content:'';
	position:absolute;
	top:0;
	right:0;
	height:1px;
	width:100%;
	background: #fff;
	transition:100ms ease all;
}
.dapp:after{
	right:inherit;
	top:inherit;
	left:0;
	bottom:0;
}
.dapp:hover::before,.dapp:hover::after{
	animation: borderChange 0.5s;
	animation-fill-mode:forwards;
}
@keyframes borderChange{
	0%{width:0;}
	100%{width:100%;background: #6FC308;}
}
.dapp .description {
    height: 126px;
    overflow: hidden;
}
.dapp img {
    border-bottom: 1px solid #6FC308;
}
.dapp p a {
    white-space: nowrap;
    margin-right: 15px;
}
.dapp h3 {
    padding: 10px 0;
}
