body{
    background:#388513;
    padding:0;
    font-family: STHeiti,Tahoma, "Microsoft YaHei",arial, sans-serif;
    color:#FFFFFF;
    letter-spacing:1px;
    line-height:2;
    font-weight:100;
}
.navbar {
    position: absolute;
    z-index: 99;
    background:url(../images/design/nav-bg.png);
    width: 100%;
    background-size: contain;
}
.navbar-collapse {
    flex-grow:inherit;
}
.navbar-nav li{
    padding: 0px 10px;
    border-right:2px solid #edcb00;
}
.navbar-nav li:first-child{
    border-left:2px solid #edcb00;
}
.navbar-nav li a,
.navbar-nav li span{
    color:#FFF;
    font-weight:100;
}
.navbar-nav li a:hover{
    color:#FFF;
    text-shadow:0 0 2px #FFF;
}
.navbar-nav li small{
    display:none;
}
.navbar-dark .navbar-toggler {
    border-radius:30px;
}

a, a:active{
    color:#FFFFFF;
    cursor:pointer;
}
a:hover {
    color:#ECEDEC;
}
h2 {
    text-align:center;
}
small, .small {
    font-size:50%;
}
.green-text {
    font-weight:bold;
}
.design-con {
    position:relative;
    padding:60px 0;
    margin-top:-2px;
    margin-bottom:-2px;
}
.design-btn{
    display:inline-block;
    border-radius: 25px;
    background: #FFFFFF;
    padding: 8px 25px;
    text-align:center;
    font-weight: 600;
    color: #53882E!important;
    letter-spacing: .5px;
}
.mini-btn {
    padding: 2px 8px;
    min-width:80px;
    margin-bottom:10px;
}
.bg-lgreen {
    background:#80CC36;
}
.bg-yellow {
    background:#ffd800;
    color:#FFF!important;
}
.design-con .container{
    position:relative;
    z-index:5;
}
/*飞机*/
.des-style-fri::after{
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    background:url(../images/design/airplane.png),url(../images/design/airplane.png);
    background-position: right -150px ,0 0;
    background-size:110px;
    background-repeat:repeat-y;
    z-index:-1;
    left:0;
    top:0;
}
.des-style-fri.container{
    padding:0 9%;
}
.des-style-fri.des-requir::after {
    background-position: right -360px ,0 0px;
}
.des-style-fri.des-notes::after {
    background-position: right 0px ,0 -400px;
}
.des-style-fri.des-rewards::after {
    background-position: right 515px ,0 640px;
}
/*动画*/
.bg-animate {
    position:absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    z-index: 1;
}
.bg-animate img {
    position:absolute;
}
.bg-animate .img-men {
    width:65%;
    max-width:1000px;
    bottom:20%;
    right:10%;
}
.bg-animate .img-bg1 {
    width:65%;
    z-index:2;
}
.bg-animate .img-bg2 {
    bottom:0;
}

/*页面一*/
/*Background*/
/*Theme*/
.des-theme {
    padding:0 8%;
}
.des-theme .theme-content{
    padding-bottom:50px;
    background:#ECEDEC;
    border-radius:20px;
    box-shadow:0px 8px 0px #A3A3A3;
    color:#333333;
}
.theme-content h2 {
    margin-top:0;
}
.theme-content a{
    color:#388513;
}
.theme-content a:hover{
    color:#3F8A1A;
}
.img-bg3-1{
    margin-top:-15px;
    margin-right:-15px;
}
.img-bg3-2 {
    margin-top:-60px;
    margin-right:-20px;
}

.des-winner {
    padding:0 8%;
}
.des-winner {
    padding:0 8%;
}

/*Time*/
.time-content {
    text-align:center;
    padding:0;
}
.time-content li{
    display:inline-block;
    vertical-align:top;
    width:30%;
}
.time-content img{
    height:180px;
    margin-bottom:15px;
}
/*Awards*/
.awardsImg {
    max-width:100%;
}
/*Judge*/
.des-judge .container{
}
.judge-sty {
    margin:auto;
    padding:0;
    width:100%;
    text-align:center;
}
.judge-sty li{
    vertical-align:top;
    display:inline-block;
    background:#ECEDEC;
    border-radius:20px;
    margin:10px;
}
.judge-sty li img{
    width:150px;
    border-radius:20px;
}

/*Require*/
/*Notes*/
/*More*/
.des-more {
    border-radius:20px;
    box-shadow:5px 10px 20px #2E7000;
}
/*Footer*/
.footer {
    background:#3F8A1A;
    margin-top:-1px;
    text-align:center;
}
.footer img{
    width:75%;
    opacity:0.9;
}
@media only screen and (max-width : 992px) {
    .des-style-fri::after {
        opacity:0.8;
    }
    .time-content img{
        height:140px;
        margin-bottom:15px;
    }
    .judge-sty {
        max-width:500px;
    }
}
@media only screen and (max-width : 768px) {
    .navbar {
        background: rgb(59,132,36);
        background-image: url(../images/design/nav-bg.png),rgba(59,132,36,0.9);
    }
    .navbar-nav li {
        border-right:2px solid #edcb00;
        border-left:2px solid #edcb00;
    }
    .img-men {
        opacity:0.7;
    }
    .design-con {
        padding:20px 0;
    }
    .des-style-fri::after {
        opacity:0.3;
    }
    .time-content li {
        display:block;
        width:auto;
        margin-bottom:10px;
    }
    .time-content img{
        height:120px;
    }
    .judge-sty {
        max-width:400px;
    }
    .judge-sty li {
        margin: 8px 5px;
    }
    .judge-sty li img {
        width:115px;
    }
    .footer img {
        width:95%;
    }
}