@import './basic.less';

.layout-container {
    max-width: none;
    padding: 0;
    margin: 0;
    margin-top: @nav-bar-height;
}

.header {
    display: flex;
    height: 90px;
}

.header-left {
    display: flex;
    align-items: center;
    padding: 0 10vw;
    background: #000332;
    color: #FFFFFF;
    font-family: WorkSans-SemiBold, WorkSans;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    padding: 0 10vw;
    background: #00E599;
}

.platform-label {
    color: #000332;
    font-family: WorkSans-SemiBold, WorkSans;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}

.select-platform {
    width: 150px;
    margin-left: 23px;
}

.news {
    display: flex;
    align-items: center;
    padding: 38px 10vw;
}

.news-title {
    color: #070E3A;
    font-size: 92px;
    font-family: WorkSans-Bold, WorkSans;
    font-weight: bold;
    line-height: 85px;
    text-transform: uppercase;

    em {
        font-style: normal;
        color: #00E599;
    }
}

.news-content {
    margin-top: 36px;
    font-size: 20px;
    font-family: NunitoSans-Bold, NunitoSans;
    font-weight: bold;
    color: #070E3A;
}

.learn-more {
    margin-top: 36px;
    text-transform: uppercase;
}

.news-img {
    margin-left: 36px;
    width: 300px;
}

.divider {
    height: 2px;
    margin: 0 10vw;
    background: #000332;
}

.resources {
    display: flex;
    padding: 62px 10vw 159px;
}

.resources-left {
    width: 278px;
    flex-shrink: 0;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    font-size: 18px;
    font-family: NunitoSans-Bold, NunitoSans;
    font-weight: bold;
    color: #070E3A;
    cursor: pointer;

    &.active {
        background: #E9EEED;
        border-radius: 6px;
    }
}

.links {
    margin-top: 82px;
}

.link {
    display: block;
    padding: 0 16px;
    border-radius: 6px;
    border: 1px solid #010135;
    font-size: 18px;
    font-family: NunitoSans-ExtraBold, NunitoSans;
    font-weight: 800;
    color: #070E3A;

    &:nth-child(n+2) {
        margin-top: 11px;
    }

    &:hover {
        color: #070E3A;
    }
}

.resources-right {
    flex: 1;
    margin-left: 82px;
}

.menu-page {
   display: none; 
   flex-direction: column;

   &.active {
       display: flex;
   }
}

.menu-page-title {
    font-size: 36px;
    font-family: NunitoSans-ExtraBold, NunitoSans;
    font-weight: 800;
    color: #000332;
}

.menu-page-description {
    margin-top: 35px;
    font-size: 20px;
    font-family: NunitoSans-Bold, NunitoSans;
    font-weight: bold;
    color: #070E3A;
}

.features {
    display: flex;
    justify-content: space-between;
    margin-top: 61px;
}

.feature {
    display: flex;
    background: #FFFFFF;
    border-radius: 4px 3px 3px 3px;
    border: 1px solid #87AEA6;

    &:nth-child(n+2) {
        margin-left: 80px;
    }
}

.feature-img {
    flex-shrink: 0;
    width: 101px;
    object-fit: cover;
}

.feature-text {
    padding: 28px;
    font-size: 17px;
    font-family: WorkSans-SemiBold, WorkSans;
    font-weight: 600;
    color: #070E3A;
}

.menu-page-divider {
    margin-top: 61px;
    height: 1px;
    background: #000332;
}

.menu-page-secondary-title {
    margin-top: 37px;
    font-size: 22px;
    font-family: WorkSans-Bold, WorkSans;
    font-weight: bold;
    color: #000332;
    text-transform: uppercase;
}

.overview-tutorials {
    margin-top: 45px;
}

.overview-tutorial {
    display: flex;

    &:nth-child(n+2) {
        margin-top: 44px;
    }
}

.overview-tutorial-img {
    flex-shrink: 0;
    width: 259px;
    height: 156px;
    object-fit: cover;
}

.overview-tutorial-right {
    margin-left: 29px;
}

.overview-tutorial-title {
    font-size: 20px;
    font-family: WorkSans-SemiBold, WorkSans;
    font-weight: 600;
    color: #000332;
}

.overview-tutorial-author {
    margin-top: 8px;
    font-size: 16px;
    font-family: NunitoSans-Bold, NunitoSans;
    font-weight: bold;
    color: #828386;
}

.overview-tutorial-description {
    margin-top: 8px;
    font-size: 16px;
    font-family: NunitoSans-SemiBold, NunitoSans;
    font-weight: 600;
    color: #070E3A;
}

.view-all-tutorials {
    align-self: center;
    margin-top: 69px;
    text-transform: uppercase;
}

.resource-overview-img {
    align-self: center;
    margin-top: 126px;
    width: 600px;
    height: 600px;
    object-fit: cover;
}

.view-all-tools {
    align-self: center;
    margin-top: 126px;
    text-transform: uppercase;
}

.tabs {
    display: flex;
    border-bottom: 2px solid #000332;
}

.tab {
    position: relative;
    top: 5px;
    flex: auto;
    padding: 24px;
    font-size: 18px;
    font-family: NunitoSans-Bold, NunitoSans;
    font-weight: bold;
    color: #070E3A;
    overflow: hidden;

    &.active {
        border-bottom: 5px solid #000332;
    }
}

.tab-page {
    display: none;

    &.active {
        display: block;
    }
}

.tab-page-title {
    margin-top: 40px;
    font-size: 22px;
    font-family: WorkSans-Bold, WorkSans;
    font-weight: bold;
    color: #000332;
    text-transform: uppercase;
}

.tools {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 56px 133px; 
    margin-top: 41px;
}

.tool {
    display: flex;
}

.tool-img {
    width: 156px;
    height: 156px;
    object-fit: cover;
}

.view-website {
    display: block;
    margin-top: 16px;
    text-transform: uppercase;
    white-space: nowrap;
}

.tool-right {
    margin-left: 30px;
}

.tool-title-wrapper {
    display: flex;
    justify-content: space-between;
}

.tool-title {
    font-size: 18px;
    font-family: WorkSans-Bold, WorkSans;
    font-weight: bold;
    color: #000332;
}

.tool-language {
    display: flex;
    align-items: center;
    padding: 0 24px;
    height: 24px;
    border-radius: 11px;
    background: #000332;
    font-size: 12px;
    font-family: WorkSans-SemiBold, WorkSans;
    font-weight: 600;
    color: #FFFFFF;
}

.tool-developer {
    font-size: 16px;
    font-family: NunitoSans-Bold, NunitoSans;
    font-weight: bold;
    color: #828386;
}

.tool-description {
    font-size: 16px;
    font-family: NunitoSans-SemiBold, NunitoSans;
    font-weight: 600;
    color: #070E3A;
}
