@import './basic.less';

.layout-container {
    max-width: none;
    padding: 0;
    margin: 0;
}

.dev-link {
    list-style: none;
    padding: 0;
    line-height: 1.8;
    font-weight: 600;

    li:not(.link-title) span {
        font-weight: normal;
    }
}


.tools {
    overflow:hidden;

    .dev-link {
        position: relative;

        .bold {
            padding-top: @length4;
        }
    }

    .link-title {
        position: relative;
        padding-left: 20px;
        height:40px;
        
        background: @arrow;

        span {
            display: inline-block;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: top;
            padding-top:3px;
            font-weight:bold;
        }

        &:before {
            content: "";
            position: absolute;
            left: -10px;
            top:0;
            border-left: 20px solid @gray3;
            border-right: 20px solid transparent;
            border-top: 20px solid @arrow;
            border-bottom: 20px solid @arrow;
        }

        &:after {
            content: "";
            position: absolute;
            right: -35px;
            top:0;
            border-left: 20px solid @arrow;
            border-right: 20px solid @gray3;
            border-top: 20px solid @gray3;
            border-bottom: 20px solid @gray3;
        }
    }

    span {
        font-weight: 300;
    }

    .no-before {
        &:before {
            border: none;
        }
    }

    @media only screen and (max-width: 767px) {
        .col-md-4 {
            &:after {
                content: "";
                display: block;
                background: linear-gradient(90deg,@body 40px,@line2 40px);
                height: 1px;
                width: 100%;
                margin-top: 12px;
                margin-right: 20px;
                margin-bottom: 12px;
            }
        }

        .dev-link {
            background: @arrow;
            padding-left: 20px;
            margin-bottom: 0;

            li {
                background: @gray3;
                padding-left: 20px;
            }

            .bold {
                padding-top: @length5;
            }

            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: -12px;
                border-left: 10px solid @arrow;
                border-right: 10px solid @arrow;
                border-top: 10px solid @gray3;
                border-bottom: 10px solid @arrow;
            }

            &:after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -20px;
                border-left: 10px solid @gray3;
                border-right: 10px solid @gray3;
                border-top: 10px solid @arrow;
                border-bottom: 10px solid @gray3;
            }
        }

        .link-title {
            background: @body;
            padding-left: 0;
            line-height: 1.2;
            height: auto;

            &:before,
            &:after {
                border: none;
            }
        }


        .no-before {
            &:before {
                border: none;
            }
        }
    }
}
