@import 'basic.less';

.d-top {
    img {
        width: 100%;
        height: 440px;
    }
}

.d-item {
    margin: 32px 0;

    .small {
        margin: 12px 0 8px;
        span {
            color: @green;
            font-weight: bold;
            margin-left: .5em;
        }
    }
}

a.d-cover {
    display: block;
    width: 100%;
    background-position: center;
    background-size: cover;

    &::before {
        content: " ";
        display: block;
        padding-top: 56.25%;
    }
}

.d-title a, .d-title a:hover {
    .bold;
    margin: 8px 0;
    color: @dark;
}

.d-search {
    line-height: 3;
    vertical-align: middle;

    input, select {
        display: inline-block;
        width: auto;
        border: none;
    }

    .search {
        input {
            width: calc(100% - 20px);
        }

        width: calc(100% - 340px);
    }

    .filter {
        width: 340px;
        text-align: right;
    }
}

.back-area {
    a {
        .bold;
        color: @gray;
        cursor: pointer;

        &:hover {
            text-shadow: 0 0 0.1px @gray;
        }
    }
}


article {
    text-align: left;
    img{
        max-width: 100%;
        height: auto;
    }

    .article-time {
        .small;

        span {
            .bold;
            color: @green;
            margin-left: @length6;
        }
    }

    .article-title {
        .bold;
        line-height: 1.1;
    }
}
