ul,li {
    margin:0;
    padding:0;
}
.download-container {
    text-align:center;
}
.nav-download {
    text-align:center;
    width: 50%;
}
.nav-download li{
    display:inline-block;
    width:30%;
    color:#AAAAAA;
    cursor:pointer;
}
.nav-download li em{
    display:block;
    font-style:normal;
    font-size:40px;
}
.download-ul {
    text-align: center;
    font-weight:100;
    display:none;
}
.download-ul li {
    display: inline-block;
    width: 360px;
    margin: 20px 8px;
    line-height:1.5;
}
.download-ul a {
    color:initial;
    cursor:pointer;
}
.down-box {
    background:#FFFFFF;
    overflow:hidden;
}
.download-web .desc {
    min-height: 100px;
}
.download-mobile .desc {
    min-height: 120px;
}
.download-desktop .desc {
    min-height: 150px;
}
.down-box .info {
    margin-bottom: 20px;
}
.down-box h2 {
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    line-height: 3;
}
.down-box h2 small {
    font-size: 14px;
    margin-left: 20px;
}
.down-box img{
    width:100%;
}
.down-box p{
    padding:0 20px;
    color:#6C6C6C;
    text-align:left;
}

.down-box p.bold-font,
.down-box p.bold-font a{
    color:#6C6C6C;
    line-height:2;
    min-height:initial;
}
.down-box p.bold-font a:hover{
    color:#333333;
    text-decoration:none;
}

.down-box .down-btn {
    display:block;
    margin: 20px auto;
    width: 150px;
    line-height: 40px;
    background:#BEEB00;
    color:#FFFFFF;
    font-size:18px;
    text-align:center;
}
.nav-download  li.downtab-select {
    color:#58BF00;
}

.down-select {
    display:block;
}

.down-hint {
    width: 50%;
    background: #D8D8D8;
    color: #6C6C6C;
    padding: 12px 62px;
    line-height: 2;
}

@media only screen and (max-width : 1200px) {
    .down-box p{
        min-height:110px;
    }

}

@media only screen and (max-width : 992px) {
    .down-hint {
        width:100%;
        max-width:none;
    }
}


@media only screen and (max-width : 768px) {
    .download-ul li:first-child{
        margin-top:0;
    }
    .down-box p{
        padding:0 14px;
    }
    .nav-download {
        width: 100%;
        max-width:340px;
    }
    /*.nav-download li em{
        display:none;
    }*/
    .download-ul{
        max-width:360px;
        margin:auto;
    }
    .down-box p{
        min-height:initial;
    }
        .down-hint {
        max-width:330px;
    }
}