body {
}
ul,li {
    margin:0;
    padding:0;
}
.download-container {
    text-align:center;
    color:#7F7F7F;
}
.nav-download {
    color:#6C6C6C;
    text-align:center;
    width: 50%;
}
.nav-download li{
    display:inline-block;
    width:32%;
    font-weight:600;
    color:#AAAAAA;
    cursor:pointer;
}
.nav-download li em{
    display:block;
    font-style:normal;
    font-size:40px;
}
.download-ul {
    font-weight:100;
    display:none;
    text-align:left;
}
.download-ul li {
    line-height:1.5;
    text-align:center;
}
/*.download-ul li:hover .down-pic{
    animation:pulse 2s infinite;
}
.download-ul li:hover .down-pic span{
    animation:pulse 2s infinite;
}
@keyframes pulse{
    0% { transform:scale(1);}
    25% { transform:scale(1.1);}
    50% { transform:scale(1);}
    75% { transform:scale(1.1);}
    100% { transform:scale(1);}
}*/
.download-ul a {
    color:initial;
    cursor:pointer;
}
.download-ul a.down-btn {
    color:#6C6C6C;
}
.down-box {
    background:#FFFFFF;
    overflow:hidden;
}
.down-pic {
    position:relative;
    width:100%;
    min-height:50px;
    display:block;
}
.down-pic img{
    width:100%;
}
.down-pic span{
    position: absolute;
    z-index: 24;
    left: 24px;
    bottom:20px;
    color:#FFFFFF;
    font-weight:600;
    letter-spacing:2px;
}
.down-box p{
    padding:0 25px;
    color:#6C6C6C;
    text-align:left;
}

.down-box p.bold-font,
.down-box p.bold-font a{
    color:#6C6C6C;
    line-height:2;
    min-height:initial;
}
.down-box p.bold-font a:hover{
    color:#333333;
    text-decoration:none;
}

.down-btn {
    display:block;
    background:#BEEB00;
    width:100%;
    height:55px;
    color:#FFFFFF;
    font-size:29px;
    text-align:center;
    vertical-align: middle;
    line-height: 55px;
}
.nav-download  li.downtab-select {
    color:#58BF00;
}

.down-select {
    display:block;
}

.down-hint {
    width: 50%;
    background: #D8D8D8;
    color: #6C6C6C;
    padding: 12px 62px;
    line-height: 2;
}

@media only screen and (max-width : 1200px) {
    .down-box p{
        min-height:110px;
    }

}

@media only screen and (max-width : 992px) {
    .down-hint {
        width:100%;
        max-width:none;
    }
}


@media only screen and (max-width : 768px) {
    .download-ul li:first-child{
        margin-top:0;
    }
    .down-box p{
        padding:0 14px;
    }
    .nav-download {
        width: 100%;
        max-width:340px;
    }
    /*.nav-download li em{
        display:none;
    }*/
    .download-ul{
        max-width:360px;
        margin:auto;
    }
    .down-box p{
        min-height:initial;
    }
        .down-hint {
        max-width:330px;
    }
}