@import './basic.less';

.introduction {
    display: flex;
    align-items: center;
    padding: 3rem 0 6.25rem;

    @media (max-width: 767.98px) {
        display: none;
    }
}

.introduction-start {
    display: flex;
    flex-direction: column;
}

.introduction-title {
    font-size: 5.75rem;
    font-family: WorkSans-Bold, WorkSans;
    font-weight: bold;
    line-height: 0.85;
    text-transform: uppercase;

    em {
        font-style: normal;
        color: @green;
    }
}

.introduction-content {
    margin-top: 2.25rem;
    font-size: 1.25rem;
    font-family: NunitoSans-Bold, NunitoSans;
    font-weight: bold;
}

.introduction-img {
    margin-left: 2.25rem;
    width: 18.75rem;

    @media (max-width: 767.98px) {
        display: none;
    }
}

.divider {
    height: 2px;
    background: @dark-blue;

    @media (max-width: 767.98px) {
        display: none;
    }
}

.resources {
    display: flex;
    padding: 3.5rem 0 10rem;

    @media (max-width: 767.98px) {
        flex-direction: column;
        padding-top: 0.625rem;
    }
}

.resources-start {
    width: 17.375rem;

    @media (max-width: 767.98px) {
        width: auto;
    }
}

.menu {
    @media (max-width: 767.98px) {
        display: none;
    }
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
    border-left: 5px solid transparent;
    color: @dark-blue;
    font-size: 1.125rem;
    font-family: NunitoSans-Bold, NunitoSans;
    font-weight: bold;

    &.active {
        border-left: 5px solid @green;
        background: #E9EEED;
    }
}

.select-menu-page {
    display: none;

    @media (max-width: 767.98px) {
        display: inline;
    }
}

.resources-end {
    flex: 1;
    margin-left: 5rem;
    min-width: 0;

    @media (max-width: 767.98px) {
        margin-left: 0;
        margin-top: 0.75rem;
    }
}

.menu-page {
    display: none;
    flex-direction: column;

    &.active {
        display: flex;
    }
}

.menu-page-title {
    font-size: 2.25rem;
    font-family: NunitoSans-ExtraBold, NunitoSans;
    font-weight: 800;
    color: #000033;
}

.overview-introduction {
    margin-top: 3rem;
}

.overview-introduction-img {
    float: left;
    width: 15.625rem;
    height: 15.625rem;
    margin-right: 5rem;
    margin-bottom: 4rem;
}

.overview-introduction-title {
    font-size: 2rem;
    font-family: NunitoSans-ExtraBold, NunitoSans;
    font-weight: 800;
}

.overview-introduction-description {
    margin-top: 1rem;
    font-size: 1.25rem;
    font-family: NunitoSans-SemiBold, NunitoSans;
    font-weight: 600;
    color: #070E3A;
}

.menu-page-divider {
    margin-top: 3.75rem;
    height: 1px;
    background: @dark-blue;

    @media (max-width: 767.98px) {
        height: 2px;
    }
}

.menu-page-secondary-title {
    margin-top: 2.25rem;
}

.menu-page-secondary-title-img {
    width: 3rem;
    height: 3rem;
}

.menu-page-secondary-title-text {
    margin-left: 1rem;
    font-size: 1.5rem;
    font-family: WorkSans-Bold, WorkSans;
    font-weight: bold;
}

.menu-page-tertiary-title {
    margin-top: 3rem;
    font-size: 1.125rem;
    font-family: WorkSans-Bold, WorkSans;
    font-weight: bold;
    text-transform: uppercase;
}

.supports {
    margin-top: 2.25rem;
}

.support {
    position: relative;
    display: flex;
    background: #EDF9F7;
    padding: 2.25rem 1.5rem 2rem 6.875rem;

    & + & {
        margin-top: 2rem;
    }
}

.support-i-am {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.875rem;
    height: 6.875rem;
    border: 4px solid @dark-blue;
    background: #FFFFFF;
    font-size: 1.5rem;
    font-family: NunitoSans-Bold, NunitoSans;
    font-weight: bold;
    transform: translate(-50%, -50%);
}

.support-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background: #ffffff;
    padding: 1.5rem 3rem 1.5rem 6.875rem;
}

.predicatives-prefix {
    margin-left: 3rem;
    font-size: 1.125rem;
    font-family: NunitoSans-Bold, NunitoSans;
    font-weight: bold;

    & + .predicatives {
        margin-top: 0.75rem;
    }
}

.predicative {
    display: flex;

    & + & {
        margin-top: 0.75rem;
    }
}

.predicative-img {
    width: 2rem;
    height: 2rem;
}

.predicative-text {
    margin-left: 1rem;
    font-size: 1.125rem;
    font-family: NunitoSans-SemiBold, NunitoSans;
    font-weight: 600;
}

.support-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 16.375rem;
    padding: 1.5rem;
    background: @green;
}

.support-end-img {
    width: 5.5rem;
    height: 5.5rem;
}

.support-end-text {
    margin-top: 1.5rem;
    font-size: 1rem;
    font-family: NunitoSans-Bold, NunitoSans;
    font-weight: bold;
    text-align: center;
}

.support-end-btn {
    margin-top: 1.5rem;
}

.menu-page-description {
    margin-top: 2.25rem;
    font-size: 1.25rem;
    font-family: NunitoSans-Bold, NunitoSans;
    font-weight: bold;
}

.projects {
    display: flex;
    position: relative;
    margin-top: 3rem;
}

.projects-controller-left {
    position: absolute;
    left: -1.25rem;
    top: 50%;
    transform: translate(-100%, -50%);
    font-size: 2.25rem;
    color: #000;
    cursor: pointer;

    &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &.hidden {
        display: none;
    }
}

.projects-controller-right {
    position: absolute;
    right: -1.25rem;
    top: 50%;
    transform: translate(100%, -50%);
    font-size: 2.25rem;
    color: #000;
    cursor: pointer;

    &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &.hidden {
        display: none;
    }
}

.projects-content {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto auto;
    grid-gap: 1.5rem;
    overflow: auto;
    margin: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12.5rem;
}

.project-img {
    width: 8.25rem;
    height: 8.25rem;
}

.project-name {
    margin-top: 4px;
    font-size: 1.125rem;
    font-family: WorkSans-SemiBold, WorkSans;
    font-weight: 600;
}

.project-description {
    font-size: 1rem;
    font-family: NunitoSans-SemiBold, NunitoSans;
    font-weight: 600;
}
