body {
    padding-top: 0;
    line-height: 1.7;
    font-weight: 300;
    background: #F0F0F0;
    letter-spacing: 1px;
    text-align: center;
    color: #4F4F4F;
}

.layout-container {
    max-width: none;
    padding: 0;
    margin: 0;
}

.layout-container .container {
    padding: 100px 0;
}

h2, .h2 {
    font-size: 48px;
}

.eco-bannner {
    background: url(https://neo-cdn.azureedge.net/images/eco-banner.jpg) center;
    background-size: cover;
    color: #FFFFFF;
    padding-top: 40px;
}

.eco-bannner > div.container {
    padding-top: 80px;
}

.eco-title {
    line-height: 1.6;
    letter-spacing: 2px;
}

.eco-t1 {
    font-size: 22px;
    cursor: pointer;
}

.eco-t2 {
    font-size: 14px;
}

.eco-btn {
    display: inline-block;
    background: #EFF1EF;
    border: 1px solid #EFF1EF;
    min-width: 130px;
    color: #4F4F4F !important;
    padding: 5px 30px;
    vertical-align: middle;
    cursor: pointer;
    transition: background .3s,color .3s;
    margin-bottom: 30px;
}

.eco-btn:hover {
    background: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF !important;
    transition: background .3s,color .3s;
}

.eco-intro {
    width: 100%;
    padding: 0;
    margin-bottom: 0;
}

.eco-intro li {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    width: 32%;
    margin-top: 20px;
}

.eco-intro .t1 {
    font-size: 28px;
}

.eco-detail {
    max-width: 310px;
    margin: auto;
}

.eco-intro li .iconfont {
    display: inline-block;
    background: url(https://neo-cdn.azureedge.net/images/icon-bg.svg) center;
    background-size: contain;
    width: 108px;
    height: 128px;
    line-height: 128px;
    vertical-align: middle;
    font-size: 45px;
    color: #478E0A;
}

.eco-link {
    color: #478E0A !important;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.eco-link:hover {
    text-decoration: underline !important;
}

.eco-tag {
    padding: 0;
    margin-bottom: 0;
}

.eco-tag li {
    display: inline-block;
    padding: 5px 30px;
    cursor: pointer;
}

.eco-tag li.selected {
    color: #478E0A;
    border-bottom: 2px solid #478E0A;
}

.eco-logo {
    padding:50px 0;
}

.eco-logo li {
    display: inline-block;
    margin: 10px 4%;
    width: 30%;
    max-width: 280px;
    line-height: 1;
    vertical-align: top;
}

.eco-logo li span {
    display: inline-block;
    background-size:820px;
    background-repeat:no-repeat;
    background-origin: border-box;
    background-clip: border-box;
    min-height: 60px;
    width:280px;
    filter: grayscale(1);
    opacity:0.8;
    transition:all 0.2s;
}

.eco-logo li span:hover {
    opacity:1;
    filter: grayscale(0);
    transition:all 0.3s;
}

.eco-logo .Liquidity span {
    background-image: url(https://neo-cdn.azureedge.net/images/eco/Liquidity.png);
}
.eco-logo .Wallets span {
    background-image: url(https://neo-cdn.azureedge.net/images/eco/Wallets.png);
}
.eco-logo .Media span {
    background-image: url(https://neo-cdn.azureedge.net/images/eco/Media.png);
}
.eco-logo .Channels span {
    background-image: url(https://neo-cdn.azureedge.net/images/eco/Channels.png);
}
.eco-logo .Community span {
    background-image: url(https://neo-cdn.azureedge.net/images/eco/Community.png);
}
.eco-logo .Security span {
    background-image: url(https://neo-cdn.azureedge.net/images/eco/Security.png);
}

/*.eco-logo .Liquidity span {
    background-image: url(../images/eco/Liquidity.png);
}
.eco-logo .Wallets span {
    background-image: url(../images/eco/Wallets.png);
}
.eco-logo .Media span {
    background-image: url(../images/eco/Media.png);
}
.eco-logo .Channels span {
    background-image: url(../images/eco/Channels.png);
}
.eco-logo .Community span {
    background-image: url(../images/eco/Community.png);
}
.eco-logo .Security span {
    background-image: url(../images/eco/Security.png);
}*/

.eco-logo .Liquidity .bibox {background-position: 42px 11px;}
.eco-logo .Liquidity .kucoin {background-position: -256px 15px;}
.eco-logo .Liquidity .digi {background-position: -551px 14px;}
.eco-logo .Liquidity .bitmax {background-position: 42px -54px;}
.eco-logo .Liquidity .bitmart {background-position: -257px -53px;}
.eco-logo .Liquidity .indo {background-position: -553px -51px;}
.eco-logo .Liquidity .nash {background-position: 40px -118px;}
.eco-logo .Liquidity .switch {background-position: -254px -120px;}
.eco-logo .Liquidity .coin {background-position: -555px -114px;}
.eco-logo .Liquidity .dex {background-position: 44px -189px;}


.eco-logo .Wallets .o3 {background-position: 44px 8px;}
.eco-logo .Wallets .math {background-position: -261px 9px;}
.eco-logo .Wallets .trust {background-position: -561px 7px;}
.eco-logo .Wallets .line {background-position: 40px -60px;}
.eco-logo .Wallets .cobo {background-position: -260px -62px;}
.eco-logo .Wallets .arkane {background-position: -561px -59px;}
.eco-logo .Wallets .teemo {background-position: 42px -125px;}
.eco-logo .Wallets .bitkeep {background-position: -260px -125px;}
.eco-logo .Wallets .zelcore {background-position: -560px -122px;}

.eco-logo .Media .bcgamer {background-position: 19px 7px;}
.eco-logo .Media .nnt {background-position: -283px 7px;}
.eco-logo .Media .xingqiu {background-position: -581px 8px;}
.eco-logo .Media .bi {background-position: 17px -62px;}
.eco-logo .Media .chain {background-position: -271px -61px;}
.eco-logo .Media .bitkan {background-position: -581px -61px;}
.eco-logo .Media .ba {background-position: 16px -127px;}
.eco-logo .Media .egamer {background-position: -274px -128px;}
.eco-logo .Media .lian {background-position: -579px -125px;}
.eco-logo .Media .panews {background-position: 18px -193px;}
.eco-logo .Media .huo {background-position: -274px -196px;}
.eco-logo .Media .dgaming {background-position: -582px -196px;}
.eco-logo .Media .tuoluo {background-position: 13px -255px;}


.eco-logo .Channels .review {background-position: 33px 13px;}
.eco-logo .Channels .bee {background-position: -258px 15px;}
.eco-logo .Channels .state {background-position: -564px 10px;}
.eco-logo .Channels .dapp {background-position: 33px -55px;}
.eco-logo .Channels .total {background-position: -266px -58px;}
.eco-logo .Channels .birds {background-position: -567px -59px;}


.eco-logo .Community .nel   {background-position: 1px 9px;}
.eco-logo .Community .nex   {background-position: -284px 9px;}
.eco-logo .Community .nspcc {background-position: -590px 6px;}
.eco-logo .Community .neore {background-position: 6px -61px;}
.eco-logo .Community .neo3j {background-position: -280px -63px;}
.eco-logo .Community .neone {background-position: -589px -65px;}
.eco-logo .Community .nns   {background-position: 14px -126px;}
.eco-logo .Community .thebl {background-position: -272px -127px;}
.eco-logo .Community .conte {background-position: -582px -126px;}
.eco-logo .Community .chang {background-position: 11px -195px;}
.eco-logo .Community .trini {background-position: -277px -197px;}
.eco-logo .Community .higgs {background-position: -582px -199px;}
.eco-logo .Community .trava {background-position: 19px -267px;}
.eco-logo .Community .oncha {background-position: -275px -262px;}
.eco-logo .Community .archo {background-position: -582px -264px;}
.eco-logo .Community .alche {background-position: 17px -331px;}
.eco-logo .Community .world {background-position: -280px -329px;}
.eco-logo .Community .lique {background-position: -584px -330px;}
.eco-logo .Community .coinp {background-position: 17px -401px;}
.eco-logo .Community .bridg {background-position: -279px -400px;}
.eco-logo .Community .mixma {background-position: -579px -401px;}
.eco-logo .Community .coz {background-position: 21px -461px;}


.eco-logo .Security .red4   {background-position: 25px 6px;}
.eco-logo .Security .cert   {background-position: -268px 9px;}
.eco-logo .Security .slow   {background-position: -575px 6px;}
.eco-logo .Security .beosin {background-position: 20px -62px;}
.eco-logo .Security .secbit {background-position: -269px -66px;}

.eco-modal .modal-title {
    width: 100%;
    max-width: 700px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

.eco-click {
    color: #478E0A;
    padding: 0 5px;
    font-weight: 500;
    border-bottom: 2px solid #478E0A;
}

.modal-content {
    padding: 1em 1.5em;
}

.modal-header {
    padding: 1em 0 1.5em 0;
}

.eco-modal .modal-body {
    padding: 1.5em 0 2em 0;
    line-height: 2.1;
}

.eco-modal .modal-body p {
    margin: 5px 0 10px;
}

.eco-modal .modal-body span {
    font-weight: 600;
}

@media only screen and (max-width : 1199px) {
    h2, .h2 {
        font-size: 40px;
    }

    .eco-tag li {
        padding: 5px 20px;
    }

    .eco-logo {
        padding: 30px 0;
    }

    .eco-logo li {
        margin: 10px 0;
        width: 32%;
    }
    .eco-logo li span {
        zoom:0.8;
    }
}

@media only screen and (max-width : 768px) {
    h2, .h2 {
        font-size: 34px;
    }

    .layout-container .container {
        padding: 60px 0;
    }

    .eco-t1 {
        font-size: 22px;
    }

    .eco-t2 {
        font-size: 12px;
    }

    .eco-intro li {
        width: 100%;
    }

    .eco-link {
        font-size: 16px;
    }

    .eco-tag li {
        padding: 5px 10px;
    }

    .eco-logo {
        padding: 15px 0;
    }

    .eco-logo li {
        margin: 8px 10px;
        width: 40%;
    }
    .eco-logo li span {
        zoom: 0.6;
    }
}
@media only screen and (max-width :378px) {
    .eco-logo li {
        margin: 5px 10px;
        width: 40%;
    }
    .eco-logo li span {
        zoom: 0.5;
    }
}

/*iframe样式*/
#EcoReg .modal-content,
#EcoReg .modal-header,
#EcoReg .modal-body {
    padding: 0;
}

#ecoForm {
    margin-top: -90px !important;
    margin-bottom: -135px !important;
}
