.event-item {
    position: relative;
    display: inline-block;
    margin: 9px 6px;
    padding: 5px;
    width: 265px;
    border-radius: 0;
    border: 1px solid #fff;
    border-style: none solid;
    font-size: 14px;
    text-align: center;
    word-break: normal;
    line-height: 1.5;
    background-color: #fff;
    overflow: hidden;
    transition: box-shadow .5s;
    vertical-align: top;
}

.event-item:hover {
    box-shadow: 0px 0px 0px 2px rgba(40,167,69,0.5)
}

.event-item small {
    color: #6c6c6c;
    font-size: 11px;
}

.event-item img {
    max-width: 100%;
}

.event-item img + div {
    border-top: 1px solid #28a745;
}
.event-item .org{
    margin: 20px 5px 0;
    line-height: 35px;
    border-top: 1px solid lightgray;
    text-align: left;
    color: gray;
}
.event-item .address, .event-item .date {
    color: gray;
}
.event-detail .type-img {
    border: 1px solid #28a745;
}
.event-detail {
    background-color: #fff;
    padding: 30px 50px;
}
.event-detail img {
    max-width:100%;
}
.type-div {
    width: 100%;
    background-color: #28a745;
    padding: 10px;
}
#eventCarousel img {
    max-height: 370px;
}