.event-item {
    position: relative;
    display: inline-block;
    margin: 9px 6px;
    padding: 5px;
    width: 265px;
    border-radius: 0;
    border: 1px solid #fff;
    border-style: none solid;
    font-size: 14px;
    text-align: center;
    word-break: normal;
    line-height: 1.5;
    background-color: #fff;
    overflow: hidden;
    transition: box-shadow .5s;
    vertical-align: top;
}

.event-item:hover {
    box-shadow: 0px 0px 0px 2px rgba(40,167,69,0.5)
}

.event-item small {
    color: #6c6c6c;
    font-size: 11px;
}

.event-item img {
    max-width: 100%;
    height: 126.5px;
}

.event-item img + div {
    border-top: 1px solid #28a745;
}

.event-item .org {
    margin: 20px 5px 0;
    line-height: 35px;
    border-top: 1px solid lightgray;
    text-align: left;
    color: gray;
}

.event-item .address, .event-item .date {
    color: gray;
}

.event-detail .type-img {
    border: 1px solid #28a745;
}

.event-detail {
    background-color: #fff;
    padding: 10px 20px;
}

.event-detail img {
    max-width: 100%;
}

.event-detail .line {
    border-top: 1px solid lightgray;
    margin: 5px 0;
}

.search-group {
    margin: auto;
    width: 95%;
}


#eventCarousel img {
    max-height: 370px;
}

/*日历*/
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.calender{
    display:inline-block;
    white-space: nowrap;
    width: 65%;
}
.calender ul{
    margin: auto;
    vertical-align:top;
}
.calender li{
    display: inline-block;
    width: 13%;
    vertical-align: top;
    text-align: center;
    white-space: normal;
    word-break: break-all;
    padding-bottom: 10px;
}
.calender .sss{
    border:1px solid #444;
}
.select-news {
    border: 1px solid #444444;
}
.news-list {
    display:inline-block;
    width:33%;
    vertical-align:top;
}
.news-li{
    max-width: 300px;
    width: 100%;
}
.news-li img{
    width: inherit;
}

.event-banner {
    background-image: url(/images/event/homepage_hero_banner.jpg);
    padding: 300px 0 50px;
    margin-bottom: 80px;
}

.event-banner .search-div {
    margin-bottom: -100px;
    background: linear-gradient( rgba(255, 255, 255, 0.9) 0%, white 25%);
    padding: 20px;
    border-radius: 3px;
    box-shadow: rgba(0,0,0,.3) 2px 2px 5px 0;
}

.event-banner .container h1 {
    color: #f86820
}

@media only screen and (min-width: 576px) {
    .search-group {
        width: 80%;
        margin: auto;
    }

    .event-banner .search-div {
        padding: 50px;
    }
}