h2, .give-info {
    margin: 30px 0;
}

.ico1 {
    padding: 80px 50px 60px;
    margin-bottom: 50px;
    background-color: #bbb;
}

.ico2 {
    padding: 80px 50px 60px;
    margin-bottom: 50px;
    background-color: #ccc;
}
.list1 {
    background-color: #fff;
}
.completed-content {
    text-align: center;
    letter-spacing: 1px;
    font-weight: 100;
    padding: 50px 0px 80px;
    font-size: 18px;
    line-height: 2;
}
.apply-title {
    color:#58bf00;
}