@import "basic.less";

@landing-height: 80vh;
@content-wrapper-margin: 120px;

@linear-black: linear-gradient(180deg, #0F1E32 0%, darken(#0F1E32, 40%) 100%);
@linear-green: linear-gradient(104deg, @green 0%, darken(@green, 10%) 100%);

.layout-container {
    max-width: none;
    margin: -65px 0 0 0;
    padding: 0;

    @media only screen and (max-width: 992px) {
        margin: -70px 0 0 0;
    }

    @media only screen and (min-width: 1600px) {
        max-width: none;
    }
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #fff;
}

html body {
    background: @linear-black;
}
@nav-color: #0F1E32 ;
.navbar&:not(.show):not(.scrolled-up) {
    background: transparent;

    #whitelogo {
        display: block;
    }

    #darklogo {
        display: none;
    }

    @media only screen and (min-width: 992px) {
        &:not(.scrolled-up) {
            a.nav-link, li.nav-item {
                color: white;

                &:hover {
                    color: white;
                }
            }
        }
    }

    .top, .bottom {
        background-color: white;
    }
}

.dual-row {
    margin: 0;
}

.horiz-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: @custom4;
}

.col-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
}

.col-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;

    @media only screen and (max-width: 767px) {
        padding: 2%;
    }
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.circle-arrow-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    font-size: 0.6rem;
    width: 0.875rem;
    height: 0.875rem;
    line-height: 1;
    background-color: @dark-blue;
    border-radius: 50%;
}

.square-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    padding: 3.125rem 2.25rem 3.125rem 0.5rem;
    border: 6px solid @green;

    .square-block-title {
        .work-sans-bold;
        font-size: 3.125rem;
        line-height: 1;
        margin-bottom: 1.125rem;
        .uppercase;

        @media only screen and (max-width: 1400px) {
            font-size: 1.875rem;
            margin-bottom: 0.625rem;
        }

        @media only screen and (max-width: 767.98px) {
            font-size: 2.375rem;
            line-height: 0.94;
            margin-bottom: 0.75rem;
        }
    }

    .square-block-subtitle {
        .nunito-sans-bold;
        .dark-blue;
        font-size: 1.25rem;
        line-height: 1.375;

        @media only screen and (max-width: 1400px) {
            font-size: 1.25rem;
            line-height: 1.2;
        }

        @media only screen and (max-width: 767.98px) {
            font-size: 1.5rem;
            line-height: 1.25;
        }
    }

    &.building-blocks {
        height: 26.25rem;
        width: 28.75rem;
    }

    &.blockchain {
        align-self: flex-end;
        width: 29.375rem;
        height: 18.25rem;
    }

    &.dual-tokens {
        margin-top: 1.75rem;
        padding-right: 2.375rem;
        padding-left: 4.5rem;
        width: 26.25rem;
        height: 19.875rem;
    }

    &.governance {
        align-items: flex-start;
        text-align: left;
        padding-left: 2.25rem;
        padding-right: 0.5rem;
        width: 30rem;
        height: 17.375rem;
    }

    &.contributors {
        padding-left: 0.5rem;
        padding-right: 2.5rem;
        width: 31.125rem;
        height: 18rem;

        .square-block-title {
            font-size: 3.125rem;
            line-height: 1;
        }
    }

    @media only screen and (max-width: 1400px) {
        padding: 1.5rem 0.5rem 1rem 0.5rem;
        border: 3px solid @green;

        &.building-blocks {
            width: 14.375rem;
            height: 13.125rem;
        }

        &.blockchain {
            margin-right: 12px;
            align-self: flex-end;
            align-items: flex-start;
            padding-left: 0.75rem;
            padding-right: 0.1rem;
            text-align: left;
            width: 14.375rem;
            height: 13.125rem;
        }

        &.dual-tokens {
            margin-top: 1.25rem;
            padding-right: 0.5rem;
            padding-left: 0.5rem;
            width: 14.375rem;
            height: 13.125rem;
        }

        &.governance {
            align-items: flex-start;
            text-align: left;
            padding-left: 0.625rem;
            padding-right: 0.1rem;
            width: 14.375rem;
            height: 11.875rem;
        }

        &.contributors {
            padding-left: 0.625rem;
            padding-right: 0.5rem;
            width: 14.375rem;
            height: 11.875rem;

            .square-block-title {
                font-size: 1.625rem;
                line-height: 0.92;
            }
        }
    }

    @media only screen and (max-width: 767.98px) {
        align-self: center;
        align-items: flex-start;
        text-align: left;
        border: 5px solid @green;
        width: 16.5rem;
        height: 18.125rem;

        &.building-blocks {
            padding: 1.875rem 0.5rem 1.25rem 0.875rem;
            width: 18.125rem;
            height: 16.5rem;
        }

        &.blockchain {
            align-self: center;
            padding: 1.875rem 0.5rem 1.25rem 0.875rem;
            width: 18.125rem;
            height: 16.5rem;
        }

        &.dual-tokens {
            padding: 1.875rem 0.5rem 1.25rem 0.875rem;
            width: 18.125rem;
            height: 16.875rem;
        }

        &.governance {
            padding: 1.875rem 0.5rem 1.25rem 0.5rem;
            width: 18.125rem;
            height: 16.75rem;
        }

        &.contributors {
            padding: 1.875rem 0.3rem 1.25rem 0.5rem;
            width: 18.125rem;
            height: 16.75rem;

            .square-block-title {
                font-size: 2rem;
                line-height: 0.94;
            }
        }
    }
}


// Landing
.landing-row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 80vh;
    min-height: 740px;

    @media only screen and (max-width: 1400px) {
        flex-direction: column;
        height: 100%;
    }

    .col-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        background: @linear-black;
        padding-top: 60px;
        padding-right: 12.875rem;
        width: 50%;

        .col-left-content {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            .green;
        }

        @media only screen and (max-width: 1400px) {
            width: 100%;
            align-items: center;
            padding-right: 0;
            height: 80vh;
            min-height: 700px;
        }

        @media only screen and (max-width: 767.98px) {
            height: 100vh;
        }
    }

    .col-right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
        padding-top: 60px;
        padding-left: 3.375rem;
        .dark-blue;
        background: @linear-green;

        @media only screen and (max-width: 1400px) {
            justify-content: center;
            align-items: center;
            padding-right: 0;
            width: 100%;
            padding: 2.5rem 0 2rem 0;
        }
    }
}

.logo-img {
    width: 400px;

    @media only screen and (max-width: 1400px) {
        width: 19.625rem;
    }

    @media only screen and (max-width: 767.98px) {
        width: 16.25rem;
    }
}

.sub-title {
    margin: 50px 0;
    max-width: 365px;
    text-align: center;
    color: @green;
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: 3px;
    word-wrap: normal;
    text-transform: uppercase;

    @media only screen and (max-width: 767.98px) {
        width: 90%;
    }
}

.tour-btn {
    .work-sans-semibold;

    &:hover {
        .dark-blue;
        opacity: 0.8;
    }
}

.landing-title-wrapper {
    justify-content: space-around;
    height: calc(100% - @content-wrapper-margin - @content-wrapper-margin);
}

.landing-title {
    .work-sans-bold;
    .uppercase;
    .dark-blue;
    font-size: 4.375rem;
    line-height: 1.03;
    width: 60%;
    margin-bottom: 8.5rem;


    @media only screen and (max-width: 1400px) {
        text-align: center;
        font-size: 3.125rem;
        margin-bottom: 1rem;
        width: 90%;
    }

    @media only screen and (max-width: 767.98px) {
        font-size: 2.25rem;
        line-height: 1.1;
    }
}

.news-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1rem;
    line-height: 1.25;

    @media only screen and (max-width: 1400px) {
        align-items: center;
    }
}

.latest-news-text {
    .work-sans-bold;
    .uppercase;
    letter-spacing: 0.125rem;
}

.news-link-wrapper {
    display: flex;
    align-items: center;

    
}

.news-link {
    .nunito-sans-semibold;
    .dark-blue;

    &:hover {
        color: fade(@dark-blue, 60%);
    }

    @media only screen and (max-width: 767.98px) {
        width: 90%;
    }
}


// All-in-One
.aio-row {
    padding: 2% 5%;

    @media only screen and (max-width: 767.98px) {
        display: none;
    }
}

.aio-title {
    margin: 46px 10px;
    font-size: 1.875rem;
    line-height: 0.7;
    letter-spacing: 0.3125rem;
    text-align: center;
}

.highlight-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 46px;
    column-gap: 28px;
    padding: 20px;
}

.highlight-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 134px;
}

.highlight-img {
    height: 108px;
}

.highlight-name {
    margin: 31px 0;
    font-size: 0.875rem;
    text-align: center;
}

.building-blocks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    max-width: 1200px;

    @media only screen and (max-width: 1200px) { // tablet
        max-width: 991px;
    }

    @media only screen and (max-width: 767.98px) { // mobile
        max-width: 100%;
        padding: 0 0.875rem;
    }
}


// Getting Started
.get-started-row {
    background-color: #ffffff;
    padding: 2.375rem 2.375rem 11.125rem 2.375rem;
    .work-sans-bold;

    @media only screen and (max-width: 1400px) {
        align-self: center;
        padding: 2.375rem 1rem 8.625rem 1rem;
        width: 767px;
    }

    @media only screen and (max-width: 767.98px) {
        padding: 2.125rem 1rem 6.125rem 1rem;
        width: 100%;
    }

    .col-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        height: 50.125rem;
        text-align: right;
        padding: 0 4.25rem 0 0rem;
        border-right: 3px solid @green;

        @media only screen and (max-width: 1400px) {
            padding: 0 2.875rem 0 0;
        }

        @media only screen and (max-width: 767.98px) {
            align-items: flex-start;
            padding: 5.125rem 0;
            height: 100%;
            width: 100%;
            border-right: none;
            text-align: left;
        }
    }

    .col-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        padding-left: 5.5rem;
        height: 50.125rem;

        @media only screen and (max-width: 1400px) {
            padding: 0 0 0 2.875rem;
        }

        @media only screen and (max-width: 767.98px) {
            height: 100%;
            padding-left: 15px;
            width: 100%;
        }
    }
}

.get-started-title {
    .work-sans-bold;
    .uppercase;
    font-size: 6.625rem;;
    margin-bottom: 0.5rem;
    line-height: 0.85;

    @media only screen and (max-width: 1400px) {
        font-size: 5.875rem;
        margin-bottom: 1.875rem;
        line-height: 0.92;
    }

    @media only screen and (max-width: 767.98px) {
        margin: 1.5rem 0;
        font-size: 5.5rem;
        line-height: 0.92;
    }
}

.explanation {
    .nunito-sans-bold;
    margin-bottom: 1.875rem;
    width: 36.25rem;
    font-size: 1.5rem;

    @media only screen and (max-width: 1400px) {
        width: 18.125rem;
    }

    @media only screen and (max-width: 767.98px) {
        width: 100%;
        margin: 1.875rem 0 3rem 0;
    }
}

.learn-more {
    margin-bottom: 22px;
    color: @dark-blue;
    font-size: 1.125rem;
}

.get-started-text {
    margin: 125px 0 56px 0;
    font-size: 1.5rem;
}

.get-started-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    column-gap: 22px;
    grid-gap: 22px;
    flex-wrap: wrap;

    @media only screen and (max-width: 767.98px) {
        align-items: center;
        width: 100%;
    }
}

.float-card {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 340px;
    height: 102px;
    background-color: #F0F5F6;
    border-radius: 4px;
    box-shadow: -30px 35px 30px 0px rgba(81, 94, 90, 0.26), -10px 17px 13px 0px rgba(0, 0, 0, 0.14);

    @media only screen and (max-width: 1400px) {
        width: 17.625rem;
    }

    @media only screen and (max-width: 767.98px) {
        width: 90%;
        min-width: 260px;
    }

    .card-text-wrapper {
        display: flex;
        height: 100%;
        width: 100%;
    }

    .green-vertline {
        height: 80%;
        width: 3px;
        background-color: @green;
        transform: translate(20px, 0);

        @media only screen and (max-width: 1400px) {
            transform: translate(15px, 0);
        }

        @media only screen and (max-width: 767.98px) {
            transform: translate(15px, 0);
        }
    }

    .card-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .nunito-sans-bold;
        max-width: 70%;
        font-size: 0.94rem;
        line-height: 1.25rem;
        z-index: 1;
        transform: translate(40px, 0);
        height: calc(100% - 1.25rem);

        @media only screen and (max-width: 1400px) {
            transform: translate(35px, 0);
        }

        @media only screen and (max-width: 767.98px) {
            transform: translate(35px, 0);
        }
    }

    .card-img {
        margin-right: 20px;
        height: 60%;
        width: auto;
    }
}


// Building Blocks
.building-blocks-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    height: 26.25rem;

    @media only screen and (max-width: 1400px) { // tablet
        max-width: 767px;
        height: 13.125rem;
    }

    @media only screen and (max-width: 767.98px) { // mobile
        max-width: 100%;
        padding: 0 0.875rem;
        flex-direction: column;
        height: 100%;
    }

    .col-left {
        padding: 0;
        height: 100%;

        @media only screen and (max-width: 1200px) { // tablet
        }

        @media only screen and (max-width: 767.98px) { // mobile
            padding: 0 2.375rem;
            margin-bottom: 3.5rem;
            height: 16.5rem;
        }
    }

    .col-right {
        justify-content: space-between;
        align-items: flex-start;
        padding: 2.375rem;
        height: 100%;

        @media only screen and (max-width: 1200px) {
            padding: 0 1rem;
        }

        @media only screen and (max-width: 767.98px) { // mobile
            padding: 0 2.375rem;
        }
    }
}

.building-blocks-subtitle {
    margin-bottom: 1rem;
    .nunito-sans-bold;
    font-size: 1.5rem;
    line-height: 1.375;

    @media only screen and (max-width: 1200px) {
        font-size: 1.375rem;
        line-height: 1.37;
    }
}

.building-blocks-body {
    .nunito-sans-semibold;
    font-size: 1.125rem;
    line-height: 1.83;

    @media only screen and (max-width: 1200px) {
        font-size: 1rem;
        line-height: 1.5;
    }
}

.building-blocks-btn {
    margin-top: 1.7rem;

    @media only screen and (max-width: 1200px) {
        margin-bottom: 1.25rem;
        z-index: 1;
    }

    @media only screen and (max-width: 767.98px) {
        display: none;
    }
}

.blocks-large-img {
    width: 100%;
    transform: translateY(144px);
    margin-bottom: 160px;

    @media only screen and (max-width: 1200px) {
        display: none;
    }
}

.blocks-medium-img {
    width: 95%;
    transform: translateY(32px);
    margin-bottom: 48px;

    @media only screen and (min-width: 1200px) {
        display: none;
    }

    @media only screen and (max-width: 767.98px) {
        display: none;
    }
}

.blocks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 2.25rem;
    margin: 3.625rem 0;

    @media only screen and (min-width: 767.98px) {
        display: none;
    }
}

.block-wrapper {
    display: flex;
    align-items: center;
    width: 80%;
    min-width: 18.375rem;
}

.block-icon {
    width: 70px;
}

.block-content-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.block-title {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    .work-sans-bold;
    .uppercase;
    color: @green;
    font-size: 1rem;
    line-height: 1.25rem;
}

.block-paragraph {
    .nunito-sans-bold;
    .dark-blue;
    font-size: 1rem;
    line-height: 1.25rem;
}

.code-square-headline {
    .work-sans-bold;
    .uppercase;
    font-size: 3.125rem;
    line-height: 1;

    @media only screen and (max-width: 767.98px) {
        font-size: 2.375rem;
        line-height: 1;
    }
}

.code-square-body {
    margin-top: 1.125rem;
    .nunito-sans-bold;
    .dark-blue;
    font-size: 1.5rem;
    line-height: 1.375;

    @media only screen and (max-width: 767.98px) {
        margin-top: 0.75rem;
        font-size: 1.5rem;
        line-height: 1.25;
    }
}

.code-learn-more {
    align-self: flex-end;
    margin-top: 28px;

    @media only screen and (max-width: 1400px) {
        margin-right: 2.5%;
    }

    @media only screen and (max-width: 1200px) {
        margin-right: 12px;
    }

    @media only screen and (max-width: 767.98px) {
        display: none;
    }
}

.code-learn-more-mobile {
    display: none;

    @media only screen and (max-width: 767.98px) {
        display: flex;
        align-self: center;
        margin: 3.75rem 0;
    }
}
// Code Example
.code-example-row {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 1400px;
    transform: translateY(-48px);
    margin-bottom: -24px;

    @media only screen and (max-width: 1400px) { // tablet
        padding: 0.5rem;
        width: 767px;
    }

    @media only screen and (max-width: 767.98px) { // mobile
        width: 100%;
        padding: 0 2.375rem;
        flex-direction: column;
        transform: none;
        margin-bottom: 0;
        margin-top: 2.375rem;
    }
}

.language-list {
    display: flex;
    align-items: center;
    column-gap: 1.25rem;

    @media only screen and (max-width: 767.98px) {
        width: 100%;
        flex-wrap: wrap;
        grid-gap: 1.5rem;
    }
}

.language-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.language-name {
    .work-sans-semibold;
    font-size: 1rem;
    line-height: 1.19;
    margin-bottom: 1.25rem;
    .uppercase;
    .dark-blue;
}

.language-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 118px;
    width: 118px;
    background: @custom4;
    border: none;
    box-shadow: -30px 35px 30px 0px rgba(81, 94, 90, 0.26), -10px 17px 13px 0px rgba(0, 0, 0, 0.14);
    cursor: pointer;

    @media only screen and (max-width: 1200px) {
        height: 88px;
        width: 88px;
    }

    &.python {
        .language-img {
            width: 64px;

            @media only screen and (max-width: 1200px) {
                width: 48px;
            }
        }
    }

    &.csharp {
        .language-img {
            width: 64px;

            @media only screen and (max-width: 1200px) {
                width: 48px;
            }
        }
    }

    &.go {
        .language-img {
            width: 86px;

            @media only screen and (max-width: 1200px) {
                width: 64px;
            }
        }
    }

    &.typescript {
        .language-img {
            width: 52px;

            @media only screen and (max-width: 1200px) {
                width: 40px;
            }
        }
    }

    &.java {
        .language-img {
            width: 54px;

            @media only screen and (max-width: 1200px) {
                width: 40px;
            }
        }
    }


    .language-img {
        position: absolute;

        &.dark {
            opacity: 0;
        }

        &.light {
            opacity: 1;
        }
    }

    &.selected {
        box-shadow: none;
        border: 1px solid @dark-blue;
        cursor: not-allowed;
        background: #ffffff;

        .language-img {
            position: absolute;

            &.dark {
                opacity: 1;
            }

            &.light {
                opacity: 0;
            }
        }
    }
}

.code-window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 24px 0;
    width: 90%;
    max-width: 1270px;
    height: 634px;
    background: @custom4;
    box-shadow: -24px 28px 24px 0px rgba(81, 94, 90, 0.26), -8px 14px 10px 0px rgba(0, 0, 0, 0.14);
    font-size: 0.75rem;
    line-height: 1.23;
    background-color: transparent;

    @media only screen and (max-width: 1400px) {
        width: 100%;
        height: 662px;
    }

    @media only screen and (max-width: 767.98px) {
        display: flex;
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 0;
        height: 100vh;
        background-color: #010135;
    }

    .top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 2.375rem;
        background-color: @custom4;

        @media only screen and (max-width: 767.98px) {
            display: none;
        }

        .top-bar-title {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 0 1.75rem 0 1.25rem;
            .work-sans-semibold;
            text-transform: uppercase;
            color: @dark-blue;
            font-size: 0.875rem;

            @media only screen and (max-width: 767.98px) {
                font-size: 1rem;
            }
        }
    }

    .top-bar-mobile {
        .top-bar;
        display: none;

        @media only screen and (max-width: 767.98px) {
            display: flex;
            padding: 0 1rem;
            font-size: 1rem;
        }

        .top-bar-title-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 3rem;
        }

        .top-bar-title-icon {
            height: 1.2rem;
        }

        .close-icon {
            transform: rotate(45deg);

            &:hover {
                cursor: pointer;
            }
        }
    }

    .code {
        margin: 0;
        padding: 0 1rem;
        color: @green;
        background-color: #010135;
        height: 100%;
        opacity: 0.9;

        @media only screen and (max-width: 767.98px) {
            opacity: 1;
        }
    }

    .bottom-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.625rem 1.375rem;
        height: 3.125rem;
        background-color: @custom4;

        @media only screen and (max-width: 767.98px) {
            flex-direction: column;
            align-items: flex-start;
            height: 13.875rem;
            margin: 0.375rem;
            padding: 0 0.375rem;
            opacity: 1;
        }

        .bottom-bar-title {
            .work-sans-semibold;
            text-transform: uppercase;
            color: @dark-blue;
            font-size: 1rem;
            cursor: pointer;

            @media only screen and (max-width: 767.98px) {
                padding: 1rem 0.875rem;
                font-size: 1rem;
                border-bottom: 2px solid @dark-blue;
                width: 100%;
            }
        }

        .bottom-bar-buttons {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;

            @media only screen and (max-width: 767.98px) {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                width: 100%;
            }
        }

        .bottom-bar-button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 0.625rem;
            padding: 0 3.125rem;
            color: @dark-blue;
            .nunito-sans-bold;
            font-size: 1rem;
            border-left: 1px solid @dark-blue;

            @media only screen and (max-width: 1400px) {
                padding: 0 2.25rem;
            }

            @media only screen and (max-width: 767.98px) {
                padding: 0.75rem 1rem;
                justify-content: flex-start;
                font-size: 1.125rem;
                margin: 0;
                border-left: none;
                border-bottom: 1px solid @dark-blue;
                width: 100%;
                height: 3rem;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .button-icon {
            margin-right: 0.5rem;
            height: 1rem;
        }
    }
}

.connection-line-row {
    align-self: center;
    width: 1400px;

    @media only screen and (max-width: 1400px) {
        width: 767px;
    }

    @media only screen and (max-width: 767.98px) {
        display: none;
    }

    .before-dual-tokens {
        width: 25%;
        height: 240px;
        border-right: 2px solid @green;
    }

    .before-governance {
        margin-bottom: 1.375rem;
        width: 80%;
        height: 10.25rem;
        border-right: 2px solid @green;

        @media only screen and (max-width: 1400px) {
            width: 90%;
        }
    }

    .before-contributors {
        width: 10%;
        margin-top: 1.5rem;
        margin-bottom: 1.25rem;
        height: 5.75rem;
        border-right: 2px solid @green;
    }
}


// Dual Tokens
.dual-tokens-row {
    display: flex;
    align-self: center;
    width: 1400px;
    column-gap: 7.375rem;
    margin-bottom: 80px;

    @media only screen and (max-width: 1400px) {
        width: 767px;
        column-gap: 2.5rem;
        margin-bottom: 36px;
    }

    @media only screen and (max-width: 767.98px) {
        grid-gap: 28px;
        flex-direction: column;
        width: 100%;
        margin-bottom: 2.875rem;
    }

    .col-left {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 0 0 0 2%;
        grid-gap: 3.5rem;
        text-align: right;
        width: 420px;

        @media only screen and (max-width: 1400px) {
            width: 230px;
            grid-gap: 2.175rem;
        }

        @media only screen and (max-width: 767.98px) {
            align-items: center;
            padding: 0 2%;
            grid-gap: 3.375rem;
            width: 100%;
        }
    }

    .col-right {
        display: flex;
        flex-direction: column;
        grid-gap: 3.5rem;
        padding: 0 2% 0 0;

        @media only screen and (max-width: 1400px) {
            grid-gap: 2.175rem;
            padding: 0;
        }

        @media only screen and (max-width: 767.98px) {
            align-items: center;
            padding: 0 2%;
            grid-gap: 3.375rem;
            width: 100%;
        }

        &.header-imgs {
            position: relative;
        }
    }
}

.dual-tokens-subtitle {
    margin-top: 1.125rem;
    .nunito-sans-bold;
    font-size: 1.5rem;
    line-height: 1.33;
    text-transform: initial;

    @media only screen and (max-width: 1400px) {
        margin-top: 1.125rem;
        font-size: 1.125rem;
    }

    @media only screen and (max-width: 767.98px) {
        margin-top: 0.75rem;
        font-size: 1.5rem;
        line-height: 1;
    }
}

.dual-tokens-paragraph {
    width: 100%;
    .nunito-sans-semibold;
    font-size: 1.125rem;
    line-height: 1.4;

    @media only screen and (max-width: 1400px) {
        font-size: 1rem;
        line-height: 1.5;
    }

    @media only screen and (max-width: 767.98px) {
        text-align: left;
        font-size: 1rem;
        line-height: 1.5;
    }
}

.dual-tokens-horizLine {
    width: 88px;
    height: 4px;
    background-color: @green;

    @media only screen and (max-width: 1400px) {
        width: 60px;
    }

    @media only screen and (max-width: 767.98px) {
        height: 5px;
    }
}

.dual-tokens-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    grid-gap: 24px;

    a {
        width: 14.625rem;
    }
}

.header-img-wrapper {
    margin-top: 1.5rem;
    height: 318px;
    width: 100%;

    @media only screen and (max-width: 1400px) {
        margin-top: 1.25rem;
        height: 13.125rem;
        width: 30rem;
        overflow: hidden;
    }

    @media only screen and (max-width: 767.98px) {
    }

    .header-token-wrapper {
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 14.625rem;
        width: 613px;

        @media only screen and (max-width: 1400px) {
            height: 13.125rem;
            width: 467px;
        }
    }

    .header-token {
        height: 80%;
        z-index: 1;
    }

    .dot-wall {
        position: absolute;
        height: 14.625rem;

        @media only screen and (max-width: 767.98px) {
            height: 13.125rem;
        }
    }
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 534px;
    background-color: @custom4;
    box-shadow: -30px 35px 30px 0px rgba(81, 94, 90, 0.26), -10px 17px 10px 0px rgba(0, 0, 0, 0.09);

    @media only screen and (max-width: 767.98px) {
        height: 100%;
    }
}

.calculator-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3.75rem;
}

.calculator-title {
    display: flex;
    align-items: center;
    padding: 0 2.375rem;
    .nunito-sans-bold;
    font-size: 1rem;
    min-width: 262px;
    width: 40%;
    color: @green;
    background-color: @dark-blue;
    height: 100%;
}

.calculator-title-empty {
    width: 100%;
    height: 100%;
    background-color: @green;
}

.slider-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 48px;
    margin: 1.25rem 2.75rem;

    @media only screen and (max-width: 1200px) {
        margin: 2rem 1.375rem;
    }

    @media only screen and (max-width: 767.98px) {
        flex-direction: column;
        grid-gap: 16px;
    }
}

.slider-before {
    .nunito-sans-bold;
    font-size: 1.5rem;
    min-width: 9.125rem;

    @media only screen and (max-width: 1200px) {
        font-size: 1.125rem;
        min-width: 6.25rem;
    }
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #ffffff;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 7.5px;
    outline: none;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 34px;
    height: 34px;
    background: @green;
    cursor: pointer;
    border-radius: 17px;
}

.slider-after {
    display: flex;
    align-items: center;
    .dark-blue;
    .work-sans-semibold;
    font-size: 2.5rem;

    @media only screen and (max-width: 1200px) {
        font-size: 1.75rem;
    }

    .slider-neo-icon {
        margin-right: 0.5rem;
        height: 2.875rem;
        width: 2.875rem;

        @media only screen and (max-width: 1200px) {
            margin-right: 0.25rem;
            height: 1.69rem;
            width: 1.5rem;
        }
    }

    #slider-current-value {
        width: 6.25rem;

        @media only screen and (max-width: 1200px) {
            width: 4.375rem;
        }
    }
}

.middle-text {
    .dark-blue;
    align-self: center;
    .nunito-sans-bold;
    font-size: 1.5rem;
}

.results-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2.125rem;

    @media only screen and (max-width: 767.98px) {
        display: none;
    }
}

.result-col {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: 767.98px) {
        display: none;
    }
}

.result-num {
    .work-sans-light;
    font-size: 5.75rem;
    .green;

    @media only screen and (max-width: 1200px) {
        font-size: 5rem;
    }
}

.gas-wrapper {
    font-size: 1rem;
    .work-sans-semibold;
    .uppercase;
    text-align: center;
    width: 13.75rem;

    @media only screen and (max-width: 1200px) {
        font-size: 0.75rem;
        width: 9rem;
    }

    img {
        margin-right: 12px;
        width: 25px;
        height: 28px;

        @media only screen and (max-width: 1200px) {
            margin-right: 0;
            width: 1.125rem;
            height: 1.25rem;
        }
    }

    .status-text {
        font-size: 1.125rem;

        @media only screen and (max-width: 1200px) {
            font-size: 0.875rem;
            line-height: 0.93;
        }
    }
}

.plug-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.25rem;
    width: 5.25rem;
    margin-top: 2rem;
    .nunito-sans-bold;
    font-size: 5.25rem;
    color: #ffffff;
    background-color: @green;
    border-radius: 2.625rem;
    line-height: 1;

    @media only screen and (max-width: 1200px) {
        width: 3.625rem;
        height: 3.625rem;
        font-size: 3.625rem;
        border-radius: 1.8125rem;
        margin-top: 2.125rem;
    }

    @media only screen and (max-width: 767.98px) {
        width: 2rem;
        height: 2rem;
        font-size: 2rem;
        border-radius: 1rem;
        margin: 24px 0;
    }
}

.foot-note {
    display: flex;
    justify-content: center;
    align-items: center;
    .nunito-sans-bold;
    font-size: 0.75rem;
    text-align: center;

    @media only screen and (max-width: 767.98px) {
        margin: 18px 0;
        font-size: 0.75rem;
        line-height: 0.5;
    }
}


.results-row-mobile {
    display: none;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: 767.98px) {
        display: flex;
    }
}
.result-row {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.result-num-mobile {
    .work-sans-light;
    font-size: 2.625rem;
    line-height: 1.19;
    .green;
}

.gas-wrapper-mobile {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    .work-sans-semibold;
    .uppercase;
    line-height: 1.17;
    height: 100%;

    img {
        width: 18px;
        height: 20px;
    }
}

.status-text-mobile {
    .work-sans-semibold;
    font-size: 0.875rem;
}


// Governance
.governance-section-pc {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 1380px;
    column-gap: 80px;

    @media only screen and (max-width: 1400px) {
        display: none;
    }

    .col-left {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        grid-gap: 4rem;
        padding: 0;
        height: 100%;
        width: 100%;
    }

    .col-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 4rem;
        padding: 0;
        width: 30rem;
        min-width: 30rem;
    }
}

.governance-section-tablet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    width: 767px;

    @media only screen and (max-width: 767.98px) {
        display: none;
    }

    @media only screen and (min-width: 1400px) {
        display: none;
    }

    .governance-top-row {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .col-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 1.75rem;
        margin: 0 2%;
        width: 14.375rem;
    }
}

.governance-section-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem 0;
    width: 100%;
    padding: 0 14px;

    @media only screen and (min-width: 767.98px) {
        display: none;
    }
}

.governance-paragraph {
    display: flex;
    flex-direction: column;
    text-align: left;
    .nunito-sans-semibold;

    &.bold {
        .nunito-sans-bold;
    }

    @media only screen and (max-width: 1400px) {
        width: 14.375rem;
    }

    @media only screen and (max-width: 767.98px) {
        width: 100%;
    }
}

.governance-green-horizline {
    height: 7px;
    width: 84px;
    background-color: @green;
    margin: 1.75rem 0;

    @media only screen and (max-width: 767.98px) {
        align-self: center;
    }
}

.governance-cards {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    grid-gap: 2.125rem;

    @media only screen and (max-width: 1400px) {
        grid-gap: 1.625rem;
        align-items: flex-start;
    }

    @media only screen and (max-width: 767.98px) {
        grid-gap: 2.25rem;
        align-items: center;
        width: 90%;
    }
}

.governance-learn-more {
    .work-sans-semibold;
    .uppercase;
    .dark-blue;
    font-size: 1.125rem;
    text-align: right;

    @media only screen and (max-width: 767.98px) {
        text-align: center;
    }
}

.governance-card-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 100%;
    grid-gap: 3.25rem;
    column-gap: 3.125rem;

    @media only screen and (max-width: 1400px) {
        flex-direction: row;
        column-gap: 2.625rem;
        grid-gap: 2.875rem;
    }

    @media only screen and (max-width: 767.98px) {
        flex-direction: column;
        align-items: center;
        column-gap: 2.625rem;
        grid-gap: 2.875rem;
        width: 100%;
    }
}

.governance-img-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 17.375rem;

    @media only screen and (max-width: 1400px) {
        height: 500px;
    }
}

.governance-img-horiz {
    display: flex;
    width: 100%;
    height: 9.5rem;

    @media only screen and (max-width: 1400px) {
        display: none;
    }
}

.governance-img-vert {
    display: none;

    @media only screen and (max-width: 1400px) {
        display: flex;
        width: 100%;
        height: 372px;
    }
}


// Contributors row
.contributors-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    width: 1400px;
    column-gap: 4.5rem;

    @media only screen and (max-width: 1400px) {
        column-gap: 2.235rem;
        width: 767px;
    }

    @media only screen and (max-width: 767.98px) {
        column-gap: 0;
        grid-gap: 2rem;
        padding: 0 0.875rem;
        width: 100%;
        flex-direction: column;
    }
}

.col-github {
    display: flex;
    align-items: center;
}

.github-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    grid-gap: 1rem;

    @media only screen and (max-width: 1400px) {
        grid-gap: 0.8rem;
    }

    @media only screen and (max-width: 767.98px) {
        grid-gap: 0.8rem;
        justify-content: space-between;
    }
}

.github-status {
    display: flex;
    align-items: flex-end;
    .work-sans-semibold;
    .dark-blue;
    .uppercase;
    font-size: 1rem;
    width: calc(50% - 10px);
}

.github-status-num {
    .green;
    .work-sans-light;
    line-height: 0.8;
    font-size: 6.75rem;

    @media only screen and (max-width: 1400px) {
        line-height: 0.85;
        font-size: 5rem;
    }

    @media only screen and (max-width: 767.98px) {
        line-height: 0.95;
        font-size: 3.5rem;
    }
}


// Global Contributors Img

.contributors-img-wrapper {
    margin-top: 7.875rem;
    align-self: center;
    width: 1400px;

    @media only screen and (max-width: 1400px) {
        width: 90%;
        overflow-x: scroll;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

.contributors-img {
    width: 1400px;
    align-self: center;

    @media only screen and (max-width: 1400px) {
        
    }
}

.scroll-buttons {
    display: none;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    width: 1400px;
    .bold;
    font-size: 2.25rem;

    @media only screen and (max-width: 1400px) {
        display: flex;
        width: 90%;
    }

    #scroll-left-btn, #scroll-right-btn {
        cursor: pointer;

        &.disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }
}

.additional-wrapper {
    display: flex;
    justify-content: space-around;
    width: 90%;

    @media only screen and (max-width: 1400px) {
        align-self: center;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        grid-gap: 3.125rem;
        margin-bottom: 3.125rem;
    }
}

.additional-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.additional-title {
    .work-sans-bold;
    .uppercase;
    .dark-blue;
    font-size: 1.25rem;
    line-height: 1.3;
    margin: 2.5rem 0;
}

.additional-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    grid-gap: 1.5rem;
}

.additional-icon {
    color: #585E6E;
    font-size: 1.875rem;
}

.additional-img {
    height: 1.875rem;
}


.latest-news-row {
    justify-content: center;
    align-items: flex-start;
    padding: 10%;
    height: 100%;
    background-color: white;

    @media only screen and (max-width: 1200px) {
        padding: 5%;
    }

    @media only screen and (max-width: 767px) {
        padding: 4%;
    }
}

.latest-news-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 62px;
}

.latest-news-title {
    margin-bottom: 41px;
    font-size: 4.375rem;
    line-height: 0.94;
    .work-sans-bold;
    color: @dark-blue;
    text-transform: uppercase;
}

.latest-news-subtitle {
    margin-bottom: 5.5rem;
    .nunito-sans-bold;
    color: @dark-blue;
    font-size: 1.5rem;
}

.view-all-btn {
    margin: auto;
}

.news-list {
    display: flex;
    align-items: center;
    column-gap: 40px;
    grid-gap: 40px;
    margin-bottom: 62px;
    flex-wrap: wrap;
    width: 100%;

    .news-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px;
        width: 456px;
        height: 403px;
        background-color: #e8f0f5;

        @media only screen and (max-width: 1200px) {
            width: 35%;
        }

        @media only screen and (max-width: 767px) {
            width: 100%;
        }

        .img {
            width: 100%;
            height: 206px;
        }

        .content-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px 8px 8px 8px;
            width: 100%;
            height: calc(100% - 206px);

            .content-title {
                margin-bottom: 0.5rem;
                line-height: 1.1;
                font-size: 1.25rem;
                width: 100%;
                .work-sans-bold;
                text-transform: uppercase;
                text-align: left;

                a {
                    color: @dark-blue;
                }
            }

            .content-body {
                margin: 8px 0 22px 0;
                max-height: 64px;
                .nunito-sans-bold;
                font-size: 1rem;
                color: @dark-blue;
                line-height: 1.3125;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .content-tags {
                display: flex;
                align-items: flex-start;
                column-gap: 9px;
                width: 100%;
            }
        }
    }
}
