@import "basic.less";
@import "site.less";

p{
    margin-bottom:0;
}

.content {
    padding-top: 115px;
    padding-bottom: 115px;

    @media only screen and (max-width: 768px) {
        padding-top: 75px;
        padding-bottom: 75px;
    }
}

#homeFri {
    position: relative;

    .content {
        .center;
        height: 66%;

        @media only screen and (max-width: 768px) {
            position: relative;
            height: auto;
            padding-top: 110px;

            .m2 {
                margin-top: 125px;
            }
        }
    }
}
