body {
    overflow-x:hidden;
    background-position: top left;
    background-size: cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
    min-height:100%;
}
.zindex {position:relative;z-index:10;}

/*loading页面*/
.load-page{
    width: 100%;
    height: 100%;
    background-color: #E4E4E4;
    position:fixed;
    z-index:1000;
}
.span{
    float: left;
    width: 50px;
    height: 50px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    vertical-align: middle;
    border-radius: 1px
}
.square{
    width: 20px;
    height: 40px;
    margin: 36px auto;
    position: relative;
    transform: skewY(26deg);
    border: 1px solid #5abc03;
    -webkit-animation: fill_color 4s linear infinite;
    -moz-animation: fill_color 4s linear infinite;
    animation: fill_color 4s linear infinite;
}
.square:after{
    width: 4px;
    height: 4px;
    position: absolute;
    content: "";
    background-color: #5abc03;
    transform: skewY(-26deg);
    top: -8px;
    left: 0px;
    -webkit-animation: square_check 1s ease-in-out infinite;
    -moz-animation: square_check 1s ease-in-out infinite;
    animation: square_check 1s ease-in-out infinite;
}

@-webkit-keyframes square_check{
    25%{ left: 22px; top: -8px;}
    50%{ left: 22px; top: 42px;}
    75%{ left: -9px; top: 42px;}
    100%{ left: -9px; top: -7px;}
}
@-moz-keyframes square_check{
    25%{ left: 22px; top: -8px;}
    50%{ left: 22px; top: 42px;}
    75%{ left: -9px; top: 42px;}
    100%{ left: -9px; top: -7px;}
}
@keyframes square_check{
    25%{ left: 22px; top: -8px;}
    50%{ left: 22px; top: 42px;}
    75%{ left: -9px; top: 42px;}
    100%{ left: -9px; top: -7px;}
}
@-webkit-keyframes fill_color{
    0%{ box-shadow: inset 0 0 0 0 rgba(90,188,0,0.2);}
    90%{ box-shadow: inset 0 -40px 0 0 rgba(90,188,0,1);}
    100%{ box-shadow: inset 0 -40px 0 0 rgba(90,188,0,1);}
}
@-moz-keyframes fill_color{
    0%{ box-shadow: inset 0 0 0 0 rgba(90,188,0,0.2);}
    90%{ box-shadow: inset 0 -40px 0 0 rgba(90,188,0,1);}
    100%{ box-shadow: inset 0 -40px 0 0 rgba(90,188,0,1);}
}
@keyframes fill_color{
    0%{ box-shadow: inset 0 0 0 0 rgba(90,188,0,0.2);}
    90%{ box-shadow: inset 0 -40px 0 0 rgba(90,188,0,1);}
    100%{ box-shadow: inset 0 -40px 0 0 rgba(90,188,0,1);}
}

.back-mask {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: url(../images/home-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.home-page-content {
    position:relative;
    text-align:center;
}
.home-text-fir {
    width:90%;
    height:60%;
}
.home-text-fir h1,
.home-text-fir h2{
    text-align:center;
    line-height:1.5;
}
/*首页固定背景滚动样式*/
.scroll-page {
    position:relative;
    position:initial;
    opacity:0.5;
}
.scroll-page div {
    position:absolute;
    z-index:1;
    top:0;
    left:0;
    width:100%;
    background-repeat:no-repeat;
    background-position: center;
    background-size:100%;
}
.scroll-page.city-back{
    position:fixed;
    z-index:-1;
    width:100%;
    height:100%;
    opacity:1;
}
.scroll-page.city-back .home-scroll {
    top:auto;
    bottom:0px;
    width:180%;
    height:50%;
}
.home-scroll {
    text-align:center;
}
.scroll-page.city-back .home-scroll {
    background-size: contain;
    background-position: center bottom;
}
.home-scroll.scroll-fri {
    background: url(../images/home-back-1.png) repeat-x;

}
.home-scroll.scroll-sec {
    background: url(../images/home-back-2.png) repeat-x;
}
.home-scroll.scroll-thr {
    background: url(../images/home-back-3.png) repeat-x;
}
.home-scroll.scroll-four {
    background: url(../images/home-back-4.png) repeat-x;
}
.home-scroll.scroll-five {
    background: url(../images/home-back-5.png) repeat-x;
}
/*.scroll-text-acr {
    color:#FFFFFF;
    font-size:100px;
    opacity:0.2;
    transform:rotateX(90deg);
}
.scroll-text-ver {
    color:#FFFFFF;
    font-size:100px;
}*/
.city-back .home-scroll.scroll-top {
    background: url(../images/home-back-top.png) repeat-x;
    background-size: contain;
    height:inherit;
}


/*什么是neo页面*/
.home-neo-intro {
    height:60%;
    line-height:2;
    padding:40px 0px;
    text-align:center;
}

.home-neo-intro .col-sm-6.p2{
    padding-top:0px;
    letter-spacing:1px;
}
.home-neo-intro .col-sm-8{
    background-image: linear-gradient(-177deg, rgba(244,244,244,0.8), rgb(188,188,188));
    float:none;
    margin:auto;
    color:#6C6C6C;
}

/*NEO技术特点*/
.tech-item {
    padding-top: 20px;
    padding-bottom: 20px;
}
@media only screen and (max-width: 991px) {
    .tech-item {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

/*客户端下载部分页面*/
.home-down {
    position:relative;
    z-index:15;
    min-height:600px;
    background:#E4E4E4;
    background-image:url("../images/home-down.png"),linear-gradient(144deg, #F4F4F4 0%, #E4E4E4 93%);
    background-repeat:no-repeat;
    background-position:top right;
    background-size: contain;
    box-shadow: 0 0 30px #666;
    box-shadow: 0 2px 4px 2px rgba(0,0,0,0.50);
}
.home-download {
    background-image: linear-gradient(0deg, #FFFFFF 0%, #E4E4E4 100%);
}
.home-download .container {
    background:#F2F2F2;
}
.home-download .p1{
    padding-bottom:0;
}

.home-down-tab {
    
}
.home-down-tab .iconfont {
    display:inline-block;
    width:20%;
    font-size:60px;
    color:#AAAAAA;
    cursor:pointer;
    text-decoration:none;
}
.home-down-tab .iconfont:hover{
    color:#58BF00;
    text-decoration:none;
}

/*技术详细介绍页面*/
.home-deve {
    position:relative;
    background:#E4E4E4;
    background:linear-gradient(98deg, #A5A5A5 1%, #6D6D6D 100%, #6C6C6C 100%);
    overflow:hidden;
}
.home-scroll img{
    width:100%;
}
.home-detail {
    padding:70px 0;
    line-height:1.8;
}
.home-detail:before,
.home-detail:after{
    content:" ";
    display:table;
}
.home-detail:after{
    clear:both;
}
.home-detail .detail-text {
    display:inline-block;
    width:52%;
    max-width:480px;
    padding:0px 60px;
    color:#FFFFFF;
    font-weight:100;
}
.home-detail img{
    display:inline-block;  
    width:48%;
}
.left-pic {
    float:left;
}
.right-pic {
    float:right;
}
/*开发者页面*/
.home-developer {
    background-image: url(../images/deve-bg-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -50px center;
    color: #FFFFFF;
    font-weight: 100;
}
.developer-text {
    padding-left:20%;
}

/*小屏样式适配*/
@media only screen and (max-width: 1400px) {
    .scroll-page.city-back .home-scroll {
        width:200%;
    }
}
@media only screen and (max-width: 1200px) {
    .scroll-page.city-back .home-scroll {
        width:250%;
    }
}
@media only screen and (max-width: 768px) {
    body {
        padding-top: 0;
    }
    .scroll-page.city-back {
        width:150%;
    }
    .home-page-content {
        overflow-x: hidden;
    }
    .home-neo-intro {
        position:static\0;
        height:75%;
        height:fit-content;
        padding:20px 10px;
        line-height:1.5;
    }
    .home-neo-intro .col-sm-8 {
        margin: auto 20px;
    }
    .home-detail {
        padding: 30px 30px;
    }
    .home-detail .detail-text {
        width:100%;
        max-width:350px;
        padding: 10px 0px;
    }
    .home-detail .left-pic,
    .home-detail .right-pic {
        width:100%;
        max-width:350px;
        float:none;
    }
    .home-down {
        background-position: 160px bottom,left top;
    }
    .home-down-tab .iconfont {
        font-size:40px;
    }
}
@media only screen and (max-width: 350px) {
    .home-text-fir {
        width: 85%;
        height: 60%;
    }
    .scroll-page.city-back .home-scroll {
        width:280%;
    }
    .home-neo-intro {
        height:100%;
    }
    .home-neo-intro .col-sm-8{
        padding:5px;
    }
    .home-down-tab .iconfont {
        width: 30%;
    }
}

