body {
    overflow-x:hidden;
    background-position:center 0px;
    background-size: cover;
    background-repeat: no-repeat;
    min-height:100%;
    padding-top:0;
    background-image:url(../images/home-bg.svg);
}
.zindex {
    position:relative;
    z-index:10;
}
.layout-container {
    max-width: none;
    padding: 0;
    margin: 0;
}

.home-page-content {
    position:relative;
    text-align:center;
    padding:50px 0;
}
#homeFri {
    height:100vh;
}
.home-text-fir {
    width:90%;
    height:30%;
    max-height:300px;
}

/*NEO intro*/
.home-intro {
    background:#FFFFFF;
    background:url(../images/home-intro-1.svg),url(../images/home-intro-1.svg),linear-gradient(206deg, transparent 6%,#FFFFFF 6%);
    background-repeat:no-repeat;
    background-position: -80% 150px,180% 180px,center;
}
.intro-img img{
    width:80%;
    max-width:500px;
    margin:30px auto;
}


/*NEO技术特点 - NEO Technical Features*/
html, body {
    position: relative;
    height: 100%;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    min-height:100px;
}
.swiper-slide img{
    width:50px;
    margin-bottom:25px;
}

/*客户端下载部分页面 - Client Download page*/
.home-client {
    position:relative;
    z-index:15;
    background:#E4E4E4;
    background-image:url(../images/client-1.svg),url(../images/client-2.svg),linear-gradient(-40deg,#EEF4EE,#FFFFFF 30%);
    background-repeat:no-repeat;
    background-position:left top,right top,bottom right;
}

.home-down-tab a {
    display:inline-block;
}
.home-down-tab img{
    width:100%;
    filter:grayscale(100%);
    transition:all 0.2s;
}
.home-down-tab a:hover img{
    display:inline-block;
    filter:grayscale(0%);
    transition:all 0.3s;
}

/*开发者页面-dev*/
.home-deve {
    position:relative;
    background:url(../images/home-dev-1.svg) no-repeat;
    background:url(../images/home-dev-2.svg),url(../images/home-dev-1.svg);
    background-repeat:no-repeat;
    background-position:center,center;
    background-size:cover,cover;
    overflow:hidden;
    padding-top:40px;
}

/*blog&event*/
.home-blog-event {
    background:url(../images/home-com-1.svg),url(../images/home-com-2.svg);
    background-repeat:no-repeat;
    background-position: 140% 40px, -40% bottom;
    background-size: 40%,40%;
}
.blog-con {
    min-height:240px;
}
.event-con {
    height:100%;
}
.event-con .border-static {
    min-height:492px;
}
.event-con img{
    max-height:211px;
}

/*community*/
.home-comm {
    margin-top:80px;
}
.comm-ul {
    padding:0;
}
.comm-ul li{
    display:inline-block;
    padding: 8px 20px;
    max-width:300px;
    min-width:100px;
}
.comm-ul li a{
    width:100%;
    display:inline-block;
}
.comm-ul li img{
    max-width:150px;
    max-height:60px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity:0.8;
    cursor:pointer;
    transition:all 1s;
}
.comm-ul li a:hover img{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity:1;
    transition:all 0.5s;
}

@media only screen and (max-width: 1368px) {
    .home-client {
        background-size: auto,15%,100%;
        background-position: -120px top,right bottom,center;
    }
}
@media only screen and (max-width: 968px) {
    .home-intro {
        background:linear-gradient(211deg, transparent 60px,#FFFFFF 60px);
    }
    .home-client {
        background-size: 70%,20%,100%;
        background-position: -115px top,right bottom,center;
    }
}
@media only screen and (max-width: 768px) {
    body {
        padding-top: 0;
    }
    .home-page-content {
        overflow-x: hidden;
    }
    .intro-img img {
        width:95%;
    }
    .home-client {
        background-size: 56%,25%,100%;
        background-position: -100px top,right bottom,center;
    }
    .home-down-tab a {
        width:15%;
        min-width:50px;
        max-width:80px;
    }
    .home-blog-event {
        background-position: 120% 20px, -60% bottom;
        background-size: 80%,80%;
    }
    .blog-con,
    .event-con .border-static {
        min-height:auto;
    }
}
@media only screen and (max-width: 350px) {
    .home-text-fir {
        width: 85%;
        height: 60%;
    }
    .home-client {
        background-size: 65%,36%,100%;
        background-position: -80px top,right bottom,center;
    }
}