body {
    overflow-x:hidden;
    background-position: top left;
    background-size: cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
    min-height:100%;
    padding-top:0;
}
.zindex {position:relative;z-index:10;}
.navbar-inverse {
    background: rgb(242,242,242);
    transition:background 1s;
}
footer {
    padding-top: 50px;
    background: #FFFFFF;
}
.main-footer {
    background: #FFFFFF;
    background-image: url('../images/home-developer.svg'),url('../images/home-developer.svg'),linear-gradient(rgba(255,255,255,0.95),rgba(255,255,255,0.5));
    background-position: top left,center right,center;
    background-size: 200px;
    background-repeat:no-repeat;
}
/*loading页面 - loading page*/
.load-page{
    width: 100%;
    height: 100%;
    background-color: #E4E4E4;
    position:fixed;
    z-index:1200;
}
.span{
    float: left;
    width: 50px;
    height: 50px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    vertical-align: middle;
    border-radius: 1px
}
.square{
    width: 20px;
    height: 40px;
    margin: 36px auto;
    position: relative;
    transform: skewY(26deg);
    border: 1px solid #5abc03;
    -webkit-animation: fill_color 4s linear infinite;
    -moz-animation: fill_color 4s linear infinite;
    animation: fill_color 4s linear infinite;
}
.square:after{
    width: 4px;
    height: 4px;
    position: absolute;
    content: "";
    background-color: #5abc03;
    transform: skewY(-26deg);
    top: -8px;
    left: 0px;
    -webkit-animation: square_check 1s ease-in-out infinite;
    -moz-animation: square_check 1s ease-in-out infinite;
    animation: square_check 1s ease-in-out infinite;
}

@-webkit-keyframes square_check{
    25%{ left: 22px; top: -8px;}
    50%{ left: 22px; top: 42px;}
    75%{ left: -9px; top: 42px;}
    100%{ left: -9px; top: -7px;}
}
@-moz-keyframes square_check{
    25%{ left: 22px; top: -8px;}
    50%{ left: 22px; top: 42px;}
    75%{ left: -9px; top: 42px;}
    100%{ left: -9px; top: -7px;}
}
@keyframes square_check{
    25%{ left: 22px; top: -8px;}
    50%{ left: 22px; top: 42px;}
    75%{ left: -9px; top: 42px;}
    100%{ left: -9px; top: -7px;}
}
@-webkit-keyframes fill_color{
    0%{ box-shadow: inset 0 0 0 0 rgba(90,188,0,0.2);}
    90%{ box-shadow: inset 0 -40px 0 0 rgba(90,188,0,1);}
    100%{ box-shadow: inset 0 -40px 0 0 rgba(90,188,0,1);}
}
@-moz-keyframes fill_color{
    0%{ box-shadow: inset 0 0 0 0 rgba(90,188,0,0.2);}
    90%{ box-shadow: inset 0 -40px 0 0 rgba(90,188,0,1);}
    100%{ box-shadow: inset 0 -40px 0 0 rgba(90,188,0,1);}
}
@keyframes fill_color{
    0%{ box-shadow: inset 0 0 0 0 rgba(90,188,0,0.2);}
    90%{ box-shadow: inset 0 -40px 0 0 rgba(90,188,0,1);}
    100%{ box-shadow: inset 0 -40px 0 0 rgba(90,188,0,1);}
}

.back-mask {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: url(../images/home-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.home-page-content {
    position:relative;
    text-align:center;
}
.home-text-fir {
    width:90%;
    height:60%;
}
.home-text-fir h1,
.home-text-fir h2{
    text-align:center;
    line-height:1.5;
}
/*首页固定背景滚动样式*/
.scroll-page {
    position:relative;
    position:initial;
}
.scroll-page div.home-scroll{
    position:absolute;
    z-index:1;
    top:100px;
    left:0;
    width:100%;
    background-position: center;
    background-size:100%;
}
.scroll-page.city-back{
    position:fixed;
    z-index:-1;
    width:100%;
    height:100%;
    overflow:hidden;
    opacity:1;
}
.scroll-page.city-back .home-scroll {
    top:auto;
    bottom:0px;
    width:180%;
    height:50%;
}
.home-scroll {
    text-align:center;
}
.scroll-page.city-back .home-scroll {
    background-size: contain;
    background-position: center bottom;
}
.home-scroll.scroll-fri {
    background: url(../images/home-back-1.png) repeat-x;
}
.home-scroll.scroll-sec {
    background: url(../images/home-back-2.png) repeat-x;
}
.home-scroll.scroll-thr {
    background: url(../images/home-back-3.png) repeat-x;
}
.home-scroll.scroll-four {
    background: url(../images/home-back-4.png) repeat-x;
}
.home-scroll.scroll-five {
    background: url(../images/home-back-5.png) repeat-x;
}
.scroll-acr,
.scroll-acr-en,
.scroll-ver-fri,
.scroll-ver-fri-en,
.scroll-ver-sec,
.scroll-ver-sec-en {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.scroll-page.city-back .scroll-acr {
    background-image:url(../images/home-bg-1.png);
    background-position: 40% center;
    background-position: center 5%;
}
.scroll-page.city-back .scroll-ver-fri {
    background-image:url(../images/home-bg-2.png);
    background-position: 40% center;
}
.scroll-page.city-back .scroll-ver-sec {
    background-image:url(../images/home-bg-3.png);
    background-position: 60% center;
}

.city-back .home-scroll.scroll-top {
    background: url(../images/home-back-top.png) repeat-x;
    background-size: contain;
    height:inherit;
}

.news {
    position: absolute;
    bottom: 20px;
    width: 100%;
    letter-spacing: 0.2em;
    padding-left: 0;
    font-size: 16px;
}
.news a {
    color: #333;
}

/*什么是neo页面 - About NEO page*/
.home-neo-intro {
    height:60%;
    line-height:2;
    padding:40px 0px;
    text-align:center;
}

.home-neo-intro .col-sm-6.p2{
    padding-top:0px;
    /*letter-spacing:1px;*/
}
.home-neo-intro .col-sm-9{
    background-image: linear-gradient(-177deg, rgba(244,244,244,0.8), rgb(188,188,188));
    float:none;
    margin:auto;
    color:#6C6C6C;
    padding-left:10px;
    padding-right:10px;
}
.formula h1, .formula h2{
    line-height: 1.6;
    font-weight: 400;
}
.formula span {
    padding: 0 10px;
    display:inline-block;
    white-space:nowrap;
}

/*NEO技术特点 - NEO Technical Features*/
.modal-content {
    border-radius: 0;
}
.tech-item {
    padding: 15px;
}
.tech-item img {
    max-width: 80px;
    margin-bottom: 5px;
}
@media only screen and (max-width: 991px) {
    .tech-item {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .tech-item img {
        max-width: 50px;
        margin-bottom: 0;
    }
}

/*客户端下载部分页面 - Client Download page*/
.home-down {
    position:relative;
    z-index:15;
    min-height:600px;
    background:#E4E4E4;
    background-image:url("../images/home-down.png"),linear-gradient(144deg, #F4F4F4 0%, #E4E4E4 93%);
    background-repeat:no-repeat;
    background-position:top right;
    background-size: contain;
    box-shadow: 0 0 30px #666;
    box-shadow: 0 2px 4px 2px rgba(0,0,0,0.50);
}

.home-down-tab .iconfont {
    display:inline-block;
    width:20%;
    font-size:60px;
    color:#AAAAAA;
    cursor:pointer;
    text-decoration:none;
}
.home-down-tab .iconfont:hover{
    color:#58BF00;
    text-decoration:none;
}

/*技术详细介绍页面 - Technical Details page*/
.home-deve {
    position:relative;
    background:#E4E4E4;
    background:linear-gradient(98deg, #A5A5A5 1%, #6D6D6D 100%, #6C6C6C 100%);
    overflow:hidden;
    padding-top:40px;
}
.home-scroll img{
    width:100%;
}
.home-detail {
    padding:50px 0;
    line-height:1.5;
}
.home-detail:before,
.home-detail:after{
    content:" ";
    display:table;
}
.home-detail:after{
    clear:both;
}
.home-detail .detail-text {
    display:inline-block;
    width:55%;
    padding:0px 60px;
    color:#FFFFFF;
    font-weight:100;
    vertical-align:middle;
}
.home-detail .detail-img{
    display:inline-block;  
    width:40%;
}
.home-detail .detail-img img{
    max-width: 100%;
}
/*开发者页面 - Developer page*/
.home-developer {
    background-image: url(../images/deve-bg-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -50px center;
    color: #FFFFFF;
    font-weight: 100;
}
.developer-text {
    padding-left:20%;
}

/*屏幕样式适配 - Scroll effect*/
@media only screen and (min-width: 1800px) {
    .scroll-page.city-back .scroll-ver-fri {
        background-position: 41% 100px;
    }
    .scroll-page.city-back .scroll-ver-sec {
        background-position: 57% center;
    }
}
@media only screen and (max-width: 1800px) {
    .scroll-page.city-back .scroll-ver-fri {
        background-position: 42% 100px;
    }
    .scroll-page.city-back .scroll-ver-sec {
        background-position: 60% center;
    }
}
@media only screen and (max-width: 1400px) {
    .scroll-page.city-back .home-scroll {
        width:200%;
    }
    .scroll-page.city-back .scroll-ver-fri {
        background-position: 43% center;
    }
    .scroll-page.city-back .scroll-ver-sec {
        background-position: 56% center;
    }
}
@media only screen and (max-width: 1200px) {
    .scroll-page.city-back .home-scroll {
        width:250%;
    }
    .scroll-page.city-back .scroll-ver-fri {
        background-position: 40% 40px;
    }
    .scroll-page.city-back .scroll-ver-sec {
        background-position: 59% center;
    }
}
@media only screen and (max-width: 768px) {
    body {
        padding-top: 0;
    }
    .main-footer {
        background: #FFFFFF;
    }
    .scroll-page.city-back .home-scroll {
        width:340%;
    }
    .home-page-content {
        overflow-x: hidden;
    }
    .home-neo-intro {
        position:static\0;
        height:75%;
        height:fit-content;
        padding:20px 0px;
        line-height:1.5;
    }
    .home-neo-intro .col-sm-9 {
        margin: auto 20px;
    }
    .home-detail {
        padding: 30px 30px;
    }
    .home-detail .detail-text {
        width:100%;
        max-width:350px;
        padding: 10px 0px;
    }
    .home-detail .detail-img{
        width:100%;
        max-width:350px;
    }
    .home-down {
        padding-top: 50%;
        background-image:url("../images/home-down-mobile.png"),linear-gradient(144deg, #F4F4F4 0%, #E4E4E4 93%);
        background-position: left -50px,left center;
    }
    .home-down-tab .iconfont {
        font-size:40px;
    }
    .news {
        bottom: 10px;
    }
}
@media only screen and (max-width: 350px) {
    .home-text-fir {
        width: 85%;
        height: 60%;
    }
    .scroll-page.city-back .home-scroll {
        width:420%;
    }
    .home-neo-intro {
        height:100%;
    }
    .home-neo-intro .col-sm-9{
        padding:5px;
    }
    .home-down-tab .iconfont {
        width: 30%;
    }
    .home-down {
        background-position: top left;
    }
}

