body {
    /*padding-top: 0px;*/
    overflow-x:hidden;
    background: url(../images/home-bg.png);
    background-position: top left;
    background-size: cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
    min-height:100%;
}
.posi-rela {
    height:100%;
}

.back-mask {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: url(../images/home-bg-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;

}
.home-page-content {
    position:relative;
    height:1200px;
    background:#E4E4E4;
}
.back-opacity {
    background:transparent;
}
.home-text-fir {
    width:90%;
    height:48%;
}
.home-text-fir h1,
.home-text-fir h2{
    text-align:center;
    line-height:1.5;
}

/*滚动元素样式调整*/
.scroll-page {
    position:relative;
}
.scroll-page div {
    position:absolute;
    z-index:1;
    top:0;
    left:0;
    width:100%;
    background-repeat:no-repeat;
    background-position: center;
    background-size:100%;
}
.scroll-page.city-back .home-scroll {
    top:auto;
    bottom:60px;
    width:180%;
}
.home-scroll {
    text-align:center;
}
.home-scroll img{
    width:100%;
}
.home-scroll .posi-fixed {

}
.home-scroll.posi-fixed div{
    z-index:1;
}
.home-scroll.scroll-fri {
    /*background:url(../images/home-back-5.png);*/
}
.home-scroll.scroll-sec {

}
.home-scroll.scroll-thr {

}
.home-scroll.scroll-four {

}
@media only screen and (max-width: 1400px) {
    .home-page-content {
        height:800px;
    }
}
@media only screen and (max-width: 1200px) {
    .home-page-content {
        height:600px;
    }
}
@media only screen and (max-width: 780px) {
    body {
        padding-top: 0;
    }
}
@media only screen and (max-width: 350px) {
    .home-text-fir {
        width: 85%;
        height: 60%;
    }
    .home-page-content {
        height:500px;
    }
}

