@import "basic.less";
.navbar {
    padding: 25px 20px;
    background-color: @white;
    user-select: none;
    text-align: center;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    z-index: 1;

    &.show {
        @media only screen and (max-width: 992px) {
            background-color: @green;
            color: @dark-text;
            height: calc(100vh);
        }

        .top, .bottom {
            @media only screen and (max-width: 992px) {
                background-color: @dark-text;
            }
        }

        .nav-item {
            a, span {
                @media only screen and (max-width: 992px) {
                    color: @dark-text;
                }
            }
        }
    }

    .container {
        @media only screen and (max-width: 992px) {
            max-width: none;
            padding: 0;
            margin: 0 0 auto;
        }
    }

    img {
        height: 37px;

        @media only screen and (max-width: 992px) {
            margin-left: 2rem;
        }
    }

    .nav-item {
        min-width: 50px;
        padding: 0 .5rem;

        @media only screen and (max-width: 992px) {
            line-height: 56px;
            padding: 0;
        }

        .nav-link {
            cursor: pointer;

            @media only screen and (max-width: 992px) {
                width: 100%;
                padding: 0 2rem;
            }
        }

        &.nav-lang .nav-link {
            @media only screen and (max-width: 992px) {
                width: auto;
                padding: 0;
            }

            &:first-child {
                @media only screen and (min-width: 992px) {
                    padding-left: 2rem;
                }
            }
        }




        a, span {
            display: inline-block;
            color: @text;

            &:hover {
                color: @green;
                text-shadow: 1px 0 1px @green;

                @media only screen and (max-width: 992px) {
                    color: @text;
                }
            }

            @media only screen and (max-width: 992px) {
                font-weight: bold;
                padding: 0 2rem;
            }
        }

        .nav-dropdown {
            display: none;
            position: absolute;
            padding: 0;
            border-radius: 0;
            box-shadow: @green 0 0 3px 1px;
            border: none;
            text-align: center;
            background-color: @white;

            @media only screen and (max-width: 992px) {
                position: static;
                box-shadow: none;
                text-align: left;
            }

            a, a:hover {
                text-decoration: none;
                line-height: 48px;
                padding: 0 1rem;
                display: block;

                @media only screen and (max-width: 992px) {
                    padding: 0 2rem;
                    display: block;
                    border-top: none;
                }
            }

            a:nth-child(n+2) {
                border-top: 1px solid @green;

                @media only screen and (max-width: 992px) {
                    border-top: none;
                }
            }

            &.show {
                @media only screen and (max-width: 992px) {
                    display: block;
                }
            }
        }
    }

    .navbar-toggler {
        position: relative;
        border: none;
        outline: none;
        padding: 0;
        transform: scale(0.72);
        -webkit-transform: scale(0.72);
        -moz-transform: scale(0.72);
        -ms-transform: scale(0.72);

        &:hover, &:active, &:focus {
            outline: none;
        }
    }

    .special-button {
        width: 50px;
        height: 50px;
        display: block;
    }

    .top,
    .bottom {
        pointer-events: none;
        width: 27px;
        background-color: @btn-text;
        height: 3px;
        border-radius: 3px;
        position: absolute;
        left: 12px;
        transition: transform 0.6s ease, top 0.6s ease;
    }

    .top {
        top: 15px;

        &.active {
            transform: rotate(45deg);
            top: 24px;
        }
    }

    .bottom {
        top: 34px;

        &.active {
            transform: rotate(-45deg);
            top: 24px;
        }
    }
}

.footer-fo {
    ul {
        padding: 0;
        font-size: 0;
    }

    li {
        display: inline-block;
        list-style: none;
        margin-right: 25px;
        position: relative;

        &:hover {

            img {
                position: absolute;
                display: block;
            }
        }

        img {
            display: none;
        }


        .iconfont {
            color: @dark-text;
            font-size: 2rem;
            transition: all .2s ease-in-out;
            text-decoration: none;
        }
    }
}

footer {
    padding-top: 25px;
    padding-bottom: 30px;

    a {
        color: @white;
    }

    hr.line {
        margin-top: 100px;
        margin-bottom: 25px;
    }

    ul {
        padding: 0;
        margin-top: 15px;
        margin-bottom: 0;

        li {
            list-style: none;
            opacity: .9;

            small {
                display: inline-block;
                min-width: 60px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    footer {
        padding-top: 0;

        .b-logo {
            display: none;
        }

        p {
            &.bold {
                padding: 15px 0;
                border-top: 1px solid @line;
                margin-bottom: 0;
            }
        }

        ul {
            display: none;
            margin-top: 0;
            line-height: 2;
            margin-bottom: 8px;
        }

        .row div:last-child ul {
            display: block !important;
        }
    }
}
