ul,li {
    list-style:none;
}
.navbar-brand {
    padding-top:20px;
    padding-bottom:20px;
    height:50px;
    margin-right:0;
}
.navbar-nav {
    position:relative;
}
.navbar-nav>li a:hover{
    background:transparent;
    color:#58bf00;
}
.navbar-nav a{
    white-space: nowrap;
}
.navbar {
    padding: 0;
    background:transparent;
    border:none;
}
.nav > li {
    display:inline-block;
}
#nav_container {
    display: flex;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    background:#FFFFFF;
    background:rgba(255,255,255,0.9);
}
.collapse {
    margin:8px 0;
}
.collapse li{
    line-height:2.5;
}
.fixed-top {
    top:35px;
}
.nav-item {
    margin: 0 5px;
}
.nav-item a {
    padding: 8px 10px;
}
.navbar-dark .navbar-toggler-icon {
    background-image:url(../images/drop.svg);
}
.navbar-toggler {
    height: 50px;
}
.navbar-toggler-icon {
    height: auto;
    color: #58bf00;
}

/*弹出框样式调整 - Pop-up box style adjustment*/
.navbar-nav .dropdown-menu {
    background:#FFFFFF;
    background:rgba(255,255,255,0);
    border: none;
    box-shadow:none;
    padding-top: 15px;
    margin-top: -2px;
}
.navbar-nav .dropdown-menu a{
    width:100%;
    background:#FFFFFF;
}
.navbar-nav .dropdown-menu a:hover {
    background:#F9F9F9;
}

.main-footer {
    position: relative;
    padding: 35px 0 0;  
    width:100%;
    text-align:center;
}
.main-footer .lang-select {
    position: absolute;
    bottom: 20px;
    left: 30px;
    text-align: left;
    z-index: 10;
}
.main-footer .lang-select a {
    margin-right: 10px;
}
.footer-link {
    padding:0;
    text-align:right;
}
.footer-link li {
    display:inline-block;
    width:16%;
    line-height:1.8;
}
.footer-link li i.iconfont{
    font-style: normal;
    vertical-align:middle;
    font-size:32px;
    color:#9A9A9A;
}
.footer-link li a:hover i.iconfont{
    color:#58bf00;
}
.footer-link li span{
    display: inline-block;
    width: 100px;
}
.footer-logo {
    text-align:left;
    letter-spacing:2px;
}
.footer-logo img{
    height:70px;
}
.navbar-nav ul.dropdown-menu {
    background-color: white;
}
  
.navbar-nav ul.dropdown-menu li.nav-item a {
    text-align:right;
    padding: 10px;
}
#more_list {
    position: absolute;
    right: 0;
    display: none;
    /*width: 200px;*/
    text-align:right;
    padding:0;
    margin-right:-12px;
}
#more_list a {
    padding: 10px 20px;
    white-space: nowrap;
}
#more_list li{
    background:#e4e4e4;
    background:rgba(228,228,228,0.95);
}
.navbar-brand {
    padding: 10px 15px;
}
.navbar-brand img {
    height: 100%;
    vertical-align:top;
}
.dropdown-toggle {

}
.dropdown-item {
    font-weight:100;
}
@media only screen and (max-width : 990px) {
    .fixed-top {
        top:10px;
    }
    .dropdown-menu {
        position:relative;
        float: none;
        display: block!important;
        padding-top: 0px;
        line-height: 1.8;
        margin-left: 15px;
    }
}
@media only screen and (max-width : 780px) {
    .navbar-brand {
        padding: 10px;
    }
    .main-footer {
        padding: 20px 0; 
    }
    .footer-link{
        text-align:center;
    }
    .footer-link li i.iconfont{
        font-size:24px;
    }
    .footer-logo {
        text-align:center;
    }
    .footer-logo img{
        height:50px;
    }
}
@media only screen and (max-width : 576px) {
    .fixed-top {
        top:0px;
    }
    .navbar-brand img {
        height:30px;
    }
}