body {
}
ul,li {
    list-style:none;
}
.navbar-brand {
    padding-top:20px;
    padding-bottom:20px;
    height:60px;
}
.nav.navbar-nav.pop-menu li a{
    padding-top:20px;
    padding-bottom:20px;
    color:#6C6C6C;
}
.nav.navbar-nav.pop-menu li a:hover{
    color:#58bf00;
}
.navbar-inverse {
    background:#e4e4e4;
    background:rgba(228,228,228,0.95);
    border:none;
}
.navbar-inverse .navbar-collapse {
    border:none;
}
.nav > li {
    display:inline-block;
}

/*弹出框样式调整*/
/*.navbar-brand {
    padding:20px 15px;
}
.navbar.navbar-inverse {
    height: 60px;
}
.navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
}
.pop-menu {

}
.navbar-nav > li > .dropdown-menu {
    margin-top: 10px;
    border-radius: 4px;
}
.pop-menu .dropdown-menu {
    padding: 0;

}
.pop-menu .dropdown-menu li{
    line-height:40px;
    height:40px;
    vertical-align:middle;
}
.pop-menu .dropdown-menu li:hover {
    background: #f5f5f5;
    cursor: pointer;
}
.pop-menu .dropdown-menu li a{
    display:inline-block;
}*/

.main-footer {
    background: #E4E4E4;
    padding: 35px 0; 
    color: #959595; 
    width:100%;

    text-align:center;
}
.footer-link {
    padding:0;
}
.footer-link li {
    display:inline-block;
    width:22%;
    line-height:2.5;
}
.footer-link li a{
    color:#9C9C9C;
}

[class*=footerLogo] {
    
}
.footerLogo-desk {

}
.footerLogo-mobile {
    display:none;
}
@media only screen and (max-width : 780px) {
    #backHome {
        float: none;
        display: block;
        margin: auto;
        width: 160px;
        text-align: center;
    }
    .nav.navbar-nav.pop-menu {
        text-align:center;
        margin:0 -15px;
    }
    .nav.navbar-nav.pop-menu li a{
        padding:5px 10px;
    }

    .main-footer {
        padding: 20px 0; 
    }

    .footer-link li {
        width:48%;
    }
    .footerLogo-desk {
        display:none;
    }
    .footerLogo-mobile {
        display:block;
    }

}
