ul,li {
    list-style:none;
}
.navbar-brand {
    padding-top:20px;
    padding-bottom:20px;
    height:60px;
}
.nav.navbar-nav.pop-menu>li a,
.nav.navbar-nav.pop-menu>li span{
    display:inline-block;
    padding: 20px 15px;
    color:#6C6C6C;
    line-height:20px;
    vertical-align:middle;
}
.nav.navbar-nav.pop-menu>li a:hover{
    background:transparent;
    color:#58bf00;
}
.navbar-inverse {
    background:#e4e4e4;
    background:rgba(228,228,228,0.95);
    border:none;
}
.navbar-inverse .navbar-collapse {
    border:none;
}
.nav > li {
    display:inline-block;
}

/*弹出框样式调整 - Pop-up box style adjustment*/
.dropdown-menu {
    background:transparent;
    border: none;
    box-shadow:none;
}
.dropdown-menu li a{
    width:100%;
}

.main-footer {
    position: relative;
    padding: 35px 0 0; 
    color: #6C6C6C; 
    width:100%;
    text-align:center;
}
.main-footer .lang-select {
    position: absolute;
    bottom: 20px;
    left: 30px;
    text-align: left;
    z-index: 10;
}
.main-footer .lang-select a {
    margin-right: 10px;
}
.footer-link {
    padding:0;
}
.footer-link li {
    display:inline-block;
    width:22%;
    line-height:2.5;
}
.footer-link li i.iconfont{
    font-style: normal;
    vertical-align:middle;
    font-size:40px;
}
.footer-link li span{
    display: inline-block;
    width: 100px;
}
.footer-logo{
    height:70px;
}
.footer-logo img{
    height:inherit;
}
.nav.navbar-nav.pop-menu ul.dropdown-menu {
    background-color: white;
}
  
.nav.navbar-nav.pop-menu ul.dropdown-menu li.menu-item a {
    text-align:right;
    padding: 10px;
}
#more_list {
    position: absolute;
    right: 0;
    display: none;
    /*width: 200px;*/
    text-align:right;
    padding:0;
}
#more_list a {
    padding: 10px 20px;
    white-space: nowrap;
}
#more_list li{
    background:#e4e4e4;
    background:rgba(228,228,228,0.95);
}
.navbar-brand {
    padding: 5px 15px;
}
.navbar-brand img {
    height: 100%;
}
@media only screen and (max-width : 780px) {
    .navbar-brand {
        padding: 5px 0;
    }
    .nav.navbar-nav.pop-menu {
        text-align:center;
        margin:0 -15px;
    }

    .main-footer {
        padding: 20px 0; 
    }


    .footer-link li {
        width:48%;
        line-height:1.8;
    }
    .footer-link li span.iconfont{
        font-size:30px;
    }

    .footer-logo{
        height:50px;
    }
}
