@import 'basic.less';
@import 'layout.less';

html {
    font-size: @font !important;
}

html body {
    font-size: @font;
    .font-family;
    line-height: 1.6;
    background: @body;
    color: @text;

    @media only screen and (max-width: 767px) {
        font-size: 15px;
    }
}

@media (min-width: 1600px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1417px;
    }
}

.bread-crumb {
    //深蓝色块
    .bg1-div {
        height: 90px;
        background-color: @text;
    }
    //绿色块
    .bg2-div {
        height: 90px;
        background-color: @green;
    }

    .text-div {
        position: relative;
        margin-top: -110px;
    }
}

a {
    color: @green;

    &.disabled {
        cursor: not-allowed
    }

    &:hover {
        color: @green-hover;
        text-decoration: none;
    }
}

ul.list-none {
    display: flex;
    justify-content: space-around;
    padding: 0;

    li {
        display: inline-block;
    }
}

/*字体*/
.font-family {
    font-family: WorkSans-Regular;
}

.font-family-bold {
    font-family: WorkSans-Bold;
    font-weight: bold;
}

.font-family-medium {
    font-family: WorkSans-Regular;
}

.font-family-light {
    font-family: WorkSans-Light
}

.font-family-semibold {
    font-family: WorkSans-SemiBold;
    font-weight: 600;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0px;
    vertical-align: middle;
}

h1, .h1 {
    .font-family-bold;
    font-size: @t1;
    line-height: 1.2;
    letter-spacing: -2px;

    @media only screen and (max-width: 767px) {
        font-size: @t2;
        letter-spacing: -1px;
    }
}

h2, .h2 {
    .font-family-bold;
    font-size: @t2;
    line-height: 1.3;
    letter-spacing: .8px;

    @media only screen and (max-width: 767px) {
        font-size: @t3;
        letter-spacing: -.6px;
    }
}

h3, .h3 {
    .font-family-bold;
    font-size: @t3;
    line-height: 1.3;
    letter-spacing: -.8px;

    @media only screen and (max-width: 767px) {
        font-size: @t4;
        letter-spacing: -.3px;
    }
}

h4, .h4 {
    .font-family-bold;
    font-size: @t4;
    line-height: 1.3;
    letter-spacing: -.6px;

    @media only screen and (max-width: 767px) {
        font-size: @t5;
        letter-spacing: -.3px;
    }
}

h5, .h5 {
    .font-family;
    font-size: @t4;
    line-height: 1.3;
    letter-spacing: -.8px;

    @media only screen and (max-width: 767px) {
        font-size: @t5;
        letter-spacing: -.2px;
    }
}

h6, .h6 {
    .font-family-bold;
    font-size: @t5;
    line-height: 1.5;

    @media only screen and (max-width: 767px) {
        letter-spacing: -.2px;
    }
}

/*字体*/
.bold {
    font-family: 'WorkSans-SemiBold';
}

.bolder {
    font-family: WorkSans-Bold;
    font-weight: bolder;
}

.lighter {
    font-family: WorkSans-Regular;
    font-weight: lighter;
}

small, .small {
    font-size: 80%;
}

/*button*/
a[class|=btn] {
}

.btn {
    .font-family;
    display: inline-block;
    font-weight: 600;
    background: @btn-back;
    color: @btn-text !important;
    border-radius: 0;
    min-width: 130px;
    padding: 12px 20px;
    border: none;
    opacity: 1;
    transition: opacity 0.2s;
    cursor: pointer;
    text-align: center;
    margin-bottom: 5px;

    &:hover {
        .b3;
        color: @white !important;
    }

    &:focus {
        box-shadow: none;
    }

    @media only screen and (max-width: 767px) {
        min-width: 100px;
        padding: 5px 12px;
    }
}

.b3, .bg1 {
    .btn:hover, .btn1:hover {
        background-color: @white !important;
        color: @dark !important;
    }
}

.btn1 {
    .btn;
    .b3;
    color: @white !important;

    &:hover {
        .b4;
    }
}

.btn2 {
    .green;
    float: right;
    display: inline-block;
    cursor: pointer;
    transition: color .2s;

    &:hover {
        color: @green-hover !important;
        text-shadow: 0 0 0.2px @green;
    }
}

.btn-focus, .btn-focus:hover, .btn-focus:focus, .btn-focus:active {
    .font-family;
    font-size: 1rem;
    display: inline-block;
    font-weight: 600;
    background: @btn-back;
    color: @btn-text !important;
    border-radius: 0;
    min-width: 130px;
    padding: 10px 20px;
    border: none;
    opacity: 1;
    transition: opacity 0.2s;
    cursor: pointer;
    text-align: center;
    background-color: @white !important;
    color: @btn-back !important;
    border: 1px solid @btn-back;
    vertical-align: middle;
    margin-bottom: 5px;

    @media only screen and (max-width: 767px) {
        min-width: 100px;
        padding: 3px 12px;
    }
}

/*颜色*/
.color-n {
    color: @dark !important;
}

.green {
    color: @green !important;
}

.green2 {
    color: @green2 !important;
}

.red {
    color: @red !important;
}

.gray {
    color: @gray !important;
}

/*背景*/
.b1 {
    background: @linear;
    color: @white !important;
}

.b2 {
    background: @green;
    color: @white !important;
}

.b3 {
    background: @dark;
    color: @dark-text !important;
}

.b4 {
    background: @green2;
    color: @white !important;
}

.b5 {
    background-color: @gray3;
}

/*文本*/
.tag {
    margin-right: 1rem;
    display: inline-block;
    color: @text2;

    span {
        display: block;
        color: @gray;
    }

    &:last-child {
        margin-right: 0;
    }

    @media only screen and (max-width: 767px) {
        min-width: 85px;
    }
}

hr {
    border-top: 1px solid rgba(150,150,150,.18);
}

hr.line {
    border-top: 1px solid @line;
}

.line-b {
    border-bottom: 1px solid @line2;
}

.w {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*border*/
.no-border {
    border: none !important;
}

/*透明度*/
.op-100 {
    opacity: 1;
}

.op-90 {
    opacity: .9;
}

.op-80 {
    opacity: .8;
}

.op-70 {
    opacity: .7;
}

.op-50 {
    opacity: .5;
}

.op-20 {
    opacity: .2;
}

@font-face {
    font-family: 'iconfont'; /* project id 2403071 */
    src: url('//at.alicdn.com/t/font_2403071_2f6xga5w95v.eot');
    src: url('//at.alicdn.com/t/font_2403071_2f6xga5w95v.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_2403071_2f6xga5w95v.woff2') format('woff2'), url('//at.alicdn.com/t/font_2403071_2f6xga5w95v.woff') format('woff'), url('//at.alicdn.com/t/font_2403071_2f6xga5w95v.ttf') format('truetype'), url('//at.alicdn.com/t/font_2403071_2f6xga5w95v.svg#iconfont') format('svg');
}

.iconfont {
    font-family: 'iconfont';
}

i.iconfont {
    font-style: normal;
}

.bg-img {
    display: block;
    width: 100%;
    background-position: center;
    background-size: cover;
    animation: back-out ease-out 0.15s;

    &::before {
        content: " ";
        display: block;
        padding-top: 56.25%;
    }

    &:hover {
        animation: back linear 0.25s;
        animation-fill-mode: forwards;
    }
}

.module {
    margin-top: 3rem;

    .module-img {
        float: right;
        width: 100%;
        max-width: 420px;
    }

    .module-text {
        display: inline-block;
        width: 600px;
        text-align: left;

        > * {
            margin-top: .5rem;
        }

        .btn, .btn1 {
            margin-top: .5rem;
        }
    }

    &.left {
        text-align: right;

        .module-img {
            float: left;
        }
    }

    &::after {
        display: block;
        clear: both;
        content: "";
    }

    @media only screen and (max-width: 1199px) {
        .module-img {
            max-width: 300px;
        }

        .module-text {
            width: 550px;
        }
    }

    @media only screen and (max-width: 990px) {

        .module-img {
            max-width: 300px;
        }

        .module-text {
            width: 330px;
        }
    }

    @media only screen and (max-width: 767px) {
        text-align: center;

        .module-img {
            float: none !important;
            margin-top: @length4;
            margin-bottom: @length7;
        }

        .module-text {
            text-align: center;
            width: 100%;
        }

        &.left {
            text-align: center;
        }
    }
}

table, .table {
    display: table;
    width: 100%;
    border-collapse: collapse;

    tr, .table-head {
        display: table-header-group;
        font-weight: 600;

        th, > li {
            display: table-cell;
            padding: .75rem;
            vertical-align: top;
            border: 1px solid #E6E6E6;
            border-bottom: 1px solid #999999;
        }
    }

    .table-row, tr {
        display: table-row;

        td, > li {
            display: table-cell;
            padding: .5rem;
            vertical-align: top;
            border: 1px solid #E6E6E6;
            font-weight: 300;
        }
    }
}

@keyframes back {
    0% {
        background-size: 100%;
    }

    100% {
        background-size: 105%;
    }
}

@keyframes back-out {
    0% {
        background-size: 105%;
    }

    100% {
        background-size: 100%;
    }
}

.typed-cursor {
    .h1;
    vertical-align: middle;
}

#homeFri .container {
    @media only screen and (max-width: 450px) {
        top: 50%;
        margin-top: -120px;
        position: absolute;
    }
}

.btn-n3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.15;
    .font-family;
    .bold;
    text-transform: uppercase;
    color: @black-theme;
    background-color: @green-theme;
    cursor: pointer;

    &.black {
        color: @green-theme;
        background-color: @black-theme;
    }
}

.btn-n3:hover {
    
}

.green-theme {
    color: @green-theme;
}
