::selection {
    color:#E8E8E8;
    background:#808080;
}

@font-face {
  font-family: 'iconfont';  /* project id 412214 */
  src: url('//at.alicdn.com/t/font_412214_73x44zxtitacerk9.eot');
  src: url('//at.alicdn.com/t/font_412214_73x44zxtitacerk9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_412214_73x44zxtitacerk9.woff') format('woff'),
  url('//at.alicdn.com/t/font_412214_73x44zxtitacerk9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_412214_73x44zxtitacerk9.svg#iconfont') format('svg');
}

.iconfont {
    font-family: 'iconfont';
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.blog-content img {
    max-width: 100%;
    height: auto;
}