@import 'basic.less';

html {
    font-size: 16px;
}

html body {
    font-size: @font-size-4;
    line-height: 1.6;
    color: @dark-blue;
    background-color: white;
    .nunito-sans-regular;

    @media only screen and (max-width: 767px) {
        font-size: 15px;
    }
}

@media (min-width: 1600px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1417px;
    }
}

a {
    color: @green;

    &.disabled {
        cursor: not-allowed
    }

    &:hover {
        color: @green;
        text-decoration: none;
    }
}

@font-face {
    font-family: 'iconfont'; /* project id 2403071 */
    src: url('//at.alicdn.com/t/font_2403071_owi9rsnurjf.eot');
    src: url('//at.alicdn.com/t/font_2403071_owi9rsnurjf.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_2403071_owi9rsnurjf.woff2') format('woff2'), url('//at.alicdn.com/t/font_2403071_owi9rsnurjf.woff') format('woff'), url('//at.alicdn.com/t/font_2403071_owi9rsnurjf.ttf') format('truetype'), url('//at.alicdn.com/t/font_2403071_owi9rsnurjf.svg#iconfont') format('svg');
}

.iconfont {
    font-family: 'iconfont';
    font-style: normal;
}

.form-control {
    .nunito-sans-bold;
}

table, .table {
    display: table;
    width: 100%;
    border-collapse: collapse;

    tr, .table-head {
        display: table-header-group;
        font-weight: 600;

        th, > li {
            display: table-cell;
            padding: .75rem;
            vertical-align: top;
            border: 1px solid #E6E6E6;
            border-bottom: 1px solid #999999;
        }
    }

    .table-row, tr {
        display: table-row;

        td, > li {
            display: table-cell;
            padding: .5rem;
            vertical-align: top;
            border: 1px solid #E6E6E6;
            font-weight: 300;
        }
    }
}

@keyframes back {
    0% {
        background-size: 100%;
    }

    100% {
        background-size: 105%;
    }
}

@keyframes back-out {
    0% {
        background-size: 105%;
    }

    100% {
        background-size: 100%;
    }
}

.typed-cursor {
    .h1;
    vertical-align: middle;
}

#homeFri .container {
    @media only screen and (max-width: 450px) {
        top: 50%;
        margin-top: -120px;
        position: absolute;
    }
}

.btn-n3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.15;
    text-transform: uppercase;
    color: @dark-blue;
    background-color: @green;
    cursor: pointer;

    &.dark-blue {
        color: @green;
        background-color: @dark-blue;
    }
}
//导航栏
.navbar {
    display: flex;
    align-items: center;
    background-color: white;
    user-select: none;
    text-align: center;
    align-items: normal;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    z-index: 1;

    & > a {
        padding: 6px 0;
    }

    &.show {
        @media only screen and (max-width: 991px) {
            height: calc(100vh);
        }

        & > a, .navbar-toggler {
            height: 50px;
        }

        .navbar-collapse {
            margin-top: -200px;
        }

        .nav-item {
            border-bottom: 1px solid @custom3;
        }
    }

    img {
        height: 37px;
    }

    .nav-item {
        min-width: 50px;
        padding: 0 .5rem;


        @media only screen and (max-width: 991px) {
            line-height: 3.5rem;
            padding: 0;
        }

        .nav-link {
            cursor: pointer;

            @media only screen and (max-width: 991px) {
                width: 100%;
                padding: 0 2rem;
            }
        }

        &.nav-lang .nav-link {
            @media only screen and (max-width: 991px) {
                width: auto;
                padding: 0;
            }

            &:first-child {
                @media only screen and (min-width: 992px) {
                    padding-left: 2rem;
                }
            }
        }




        a, span {
            display: inline-block;
            color: @dark-blue;

            &:hover {
                text-decoration: underline;

                @media only screen and (max-width: 991px) {
                    background-color: rgba(128, 128, 128, .1);
                }
            }

            @media only screen and (max-width: 991px) {
                padding: 0 2rem;
            }
        }
    }

    .navbar-toggler {
        position: relative;
        border: none;
        outline: none;
        padding: 0;
        transform: scale(0.72);
        -webkit-transform: scale(0.72);
        -moz-transform: scale(0.72);
        -ms-transform: scale(0.72);

        &:hover, &:active, &:focus {
            outline: none;
        }
    }

    .dropdown-menu {
        text-align: center;
        width: 100%;
        @media only screen and (max-width: 991px) {
            text-align: center;
        }

        a {
            &:hover, &:focus {
                background-color: rgba(128, 128, 128, .1);
            }
        }
    }

    .special-button {
        width: 50px;
        height: 50px;
        display: block;
    }

    .top,
    .bottom {
        pointer-events: none;
        width: 27px;
        background-color: @dark-blue;
        height: 3px;
        border-radius: 3px;
        position: absolute;
        left: 12px;
        transition: transform 0.6s ease, top 0.6s ease;
    }

    .top {
        top: 15px;

        &.active {
            transform: rotate(45deg);
            top: 24px;
        }
    }

    .bottom {
        top: 32px;

        &.active {
            transform: rotate(-45deg);
            top: 24px;
        }
    }
}

//面包屑导航条
.bread-crumb {
    //深蓝色块
    .bg1-div {
        height: 90px;
        background-color: @dark-blue;
    }
    //绿色块
    .bg2-div {
        height: 90px;
        background-color: @green;
    }

    .page-title {
        font-size: 18px;
    }

    .text-div {
        position: relative;
        margin-top: -101px;
    }
}
//页脚
footer {
    background-color: white;

    .container-fluid {
        background-color: @custom4;
        padding: .8rem 0 .5rem;
    }

    div.mce_inline_error {
        color: red !important;
        background-color: transparent !important;
        font-size: .8rem;
        position: absolute;
        top: 42px;
        .nunito-sans-regular;
    }

    input.form-control {
        border-radius: 0;
        height: 46px;
        margin-right: 1rem;
        width: calc(100% - 165px) !important;
    }

    #mc_embed_signup_scroll .btn-2 {
        min-width: 148px;
        line-height: 44px;
        height: 46px;
    }

    a {
        display: block;
        color: @dark-blue;
        font-size: 1rem;
        .work-sans-semibold;
    }
}
