.team {
    text-align: center;
}
.team .border-static.card {
    width: 100%;
    height: auto;
    padding: 20px;
}
.team .border-static .card-img-top {
    float: left;
    width: 15%;
}
.team .border-static .card-body {
    float: left;
    width: 85%;
    font-size: 14px;
    text-align: left;
    padding: 0 10px;
}
.team .border-static .card-body .card-title {
    font-size: 16px;
    margin-top: 0;
    line-height: 1.5;
}
.team .border-static .card-body .card-title a{
    float:right;
    margin: 0 5px;
}
.team .border-static .card-body .card-text {
    font-size: 14px;
}

.team .card {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    margin: 10px;
    height: 250px;
    border: none;
    border-radius: 0;
}
.card-img-top {
    border-radius: 0;
}

.team .card-body {
    padding: 5px 0;
}

.team .card-title {
    margin: 10px 0 5px;
    line-height: 1.3;
}
.team .card-text {
    margin: 5px 0;
    font-size: .7em;
}