body {
    padding-top: 0;
    text-align:center;
}
.layout-container {
    max-width: none;
    padding: 0;
    margin: 0;
}
.border-static {
    background:#FFFFFF;
}
.btn-static {
    min-width:180px;
    margin:10px;
}

/*banner*/
.dev-banner {
    background: url(../images/home-dev-1.svg) no-repeat;
    background: url(../images/home-dev-2.svg),url(../images/home-dev-1.svg);
    background-repeat: no-repeat;
    background-position: center,center;
    background-size: cover,cover;
    padding-top: 40px;
}
.dev-git {
    position:relative;
    bottom:-20px;
    background:#FFFFFF;
    background:linear-gradient(-30deg,transparent 2%,#FFFFFF 2%,#FFFFFF 98%,transparent 98%);
    text-align:left;
}
.dev-git img{
    padding:15px;
    max-width:80px;
    margin-left:15px;
}
.dev-git .flo-r{
    margin-top:20px;
    margin-right:30px;
}

/*公用*/
.dev-content {
    padding:60px 0 30px;
}
/*第一屏*/
.dev-intro {
    padding:0;
}
.dev-intro li{
    display: inline-block;
    width: 32%;
    margin-bottom: 10px;
    padding: 0px 50px;
}

/*testcoin*/
.form-group {
    margin-top:10px;
    margin-bottom:0;
}
.label {
    margin-bottom:5px;
}
.apply-content {
    padding-top:30px;
}
.form-control {
    border-radius:0;
}
.form-control:focus {
    border-color:#beeb00;
    box-shadow:none;
}
.btn-static .submit{
    border: none;
    background: none;
    color: #FFFFFF;
    letter-spacing: 2px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.submit:focus{
    border: none;
    background: none;
    color: #FFFFFF;
    letter-spacing: 2px;
    outline: none;
}

@media only screen and (max-width : 1200px) {

}
@media only screen and (max-width : 998px) {
    .dev-intro li{
        padding: 0px 15px;
    }
}
@media only screen and (max-width : 576px) {
    .dev-intro li{
        width:49%;
        padding: 0px 10px;
    }
}