html, body {
    background:#3f3f3f;
}
/*顶部样式*/
.navbar.navbar-fixed-top {
    background:#3F3F3F;
    background:rgba(63,63,63,0.9);
    border-top:none;
}
.nav.navbar-nav.pop-menu li a{
    color:#FFFFFF;
    font-weight:100;
}
.nav.navbar-nav.pop-menu li a:hover {
    color:#beeb00;
}
#more_list li {
    color:#FFFFFF;
    background: #3F3F3F;
    background: rgba(63,63,63,0.9);
}
.navbar-collapse {
    box-shadow:none;
}
.main-footer {
    background:#3F3F3F;
}

.content-border {
    margin: 30px auto 0;
    padding: 100px 50px;
    text-align: center;
    letter-spacing:1px;
    color:#FFFFFF;
}
.center-area {
    padding: 0 20px;
}
[class*=btneo] {
    margin:auto;
    height: 55px;
    line-height: 55px;
    vertical-align: middle;
    border-radius: 0;
    font-weight:100;
}

.btneo-fri {
    display: block;
    width:100%;
    max-width:300px;
    color: #333;
    background: #beeb00;
    border:none;
    padding:0 20px;
}
.btneo-fri:hover {
    color: #222222;
    background: #aedb00;
    border-radius: 0;
    text-decoration:none;
}
.btneo-fri:active {
    color: #222222;
    background: #beeb00;
    border-radius: 0;
    box-shadow: 0px 0px 8px rgb(150,200,0);
}

.btneo-sec {
    display: block;
    max-width: 300px;
    color: #F8F8F8;
    background: transparent;
    border: 1px solid #FFFFFF;
    cursor:pointer;
}
.btneo-sec:hover {
    color: #F8F8F8;
    background: rgba(22,22,22,0.2);
    border-radius: 0;
    text-decoration:none;
}

.btneo-sec:active {
    color: #F8F8F8;
    background: rgba(22,22,22,0.2);
    border-radius: 0;
    box-shadow: 0px 0px 8px rgb(150,200,0);
}

/*申请块*/
.link-apply {
    background-image: linear-gradient(140deg, #A5A5A5 0%, #6D6D6D 100%, #6C6C6C 100%);
    background-image: url(../images/deve-bg-1.png),linear-gradient(140deg, #A5A5A5 0%, #6D6D6D 100%, #6C6C6C 100%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -50px center,left center;
    color: #FFFFFF;
    font-weight: 100;
}
.link-apply .h1{
    color:#BEEB00;
    font-weight:100;
}
.link-apply .apply-intro {
    line-height: 2;
    padding: 0px 12px;
    text-align: left;
}
.github-back {
    background:url(../images/deve-git.jpg) no-repeat center;
    background-size:cover;
    color:#86E991;
}
.github-back .btneo-sec {
    border:1px solid #86E991;
    color:#86E991;
}
.github-back .btneo-sec:hover {
    color: #3F3F3F;
    background: rgba(134,233,145,.7);
    border: none;
}
.docu-back {
    background:url(../images/deve-docu.jpg) no-repeat center;
    background-size:cover;
    color:#73A2FF;
}
.docu-back .btneo-sec {
    border:1px solid #73A2FF;
    color:#73A2FF;
}
.docu-back .btneo-sec:hover {
    color: #3F3F3F;
    background: rgba(115,162,255,.75);
    border: none;
}
/*申请内部的表部分*/
.apply-content {
    background: #6c6c6c;
    color:#FFFFFF;
    text-align:center;
    letter-spacing:1px;
    font-weight:100;
    padding: 18px 0px;
}
.apply-title {
    color:#BEEB00;
}
.input-form {
    text-align:left;
}
.input-form ul{
    padding:0;
}
.input-form ul::before,
.input-form ul::after {
    content: " ";
    display: table;
}
.input-form ul::after {
    clear: both;
}
/*.input-form ul li {
    margin-bottom:20px;
}*/
.input-form ul label {
    margin-bottom: 10px;
    color:#d8d8d8;
    font-size:14px;
    font-weight:100;
}
.input-form ul input,
.input-form ul textarea {
    display:block;
    width:100%;
    padding:10px 15px;
    background:#d8d8d8;
    border:none;
    font-size:18px;
    font-weight:100;
    color:#4a4a4a;
}
.input-form ul textarea {
    width: 100% !important;
    min-height: 70px;
}
.apply-btn-p {
    margin-top:12px;
}
.pub-key-hint {
    margin-top:10px;
}

.input-validation-error {
    border:1px solid #D95B5B!important;
}
.text-danger {
    display: inline-block;
    margin-top: 10px;
    color: #D95B5B;
}
.completed-content {
    background: #6c6c6c;
    color: #ffffff;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 100;
    padding: 50px 0px 80px;
}

.alert-text {
    width: 80%;
    margin: 20px auto;
}
@media only screen and (max-width : 1200px) {
    .content-border {
        padding: 100px 40px;
        margin-top:15px;
    }
    .btneo-sec {
        max-width:200px;
    }
}
@media only screen and (max-width : 768px) {
    .link-apply {
        background-repeat: no-repeat;
        background-size: contain;
        background-size: 200px, 100%;
        background-position: center -160px,left top;
    }
    .content-border {
        padding: 100px 30px 60px;
        max-width: 355px;
    }
    .github-back,
    .docu-back{
        padding: 80px 30px;
    }
    [class*=btneo] {
        height: 45px;
        line-height: 45px;
    }
    .btneo-fri {
        max-width:200px;
    }
}