@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Completed";
    Layout = "_LayoutTestnet.cshtml";
}
<div class="container m1 p1">
    <h2 class="apply-title m2">@Localizer["The application has been submitted"]</h2>
    <div class="alert-text m3 w800">
        @Localizer["Your NEO/GAS application has been submitted, and if approved, we will send NEO/GAS to a multiple-signature address within 3 business days and notify you by email of how to add the address to the NEO wallet and how to use it. Please wait patiently."]
    </div>
</div>

