@model NeoWeb.Models.TestCoin

@{
    ViewData["Title"] = "备注";
}
@section Styles{
    <link rel="stylesheet" href="@Helper.ToCDN("/css/editor.min.css", true)" />
}
<div class="p1">
    <h1 class="w800">添加备注</h1>
</div>
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label>姓名</label> @Model.Name
    </div>
    <div class="form-group">
        <label asp-for="Remark"></label>
        <input type="text" class="form-control" asp-for="Remark"></input>
        <span asp-validation-for="Remark" class="text-danger"></span>
    </div>
    <div class="my-4">
        <input type="submit" value="保存" class="btn" />
    </div>
    <div class="my-4">
        <a href="javascript:" onclick="document.referrer === '' ?
          window.location.pathname = '/Testnet/list' :
          window.history.back();">返回上一页</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
