@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Index";
}
@section Styles{
    <link href="~/css/download.css" rel="stylesheet" />
}
<div class="container body-content">
    <div class="row download-container">
        <h1 class="m2 visible-lg">客户端下载</h1>
        <ul class="nav-download m3 t1" id="downTab">
            <li class="downtab-select"><img src="~/images/banner2.svg" />移动</li>
            <li><img src="~/images/banner2.svg" />桌面</li>
            <li><img src="~/images/banner2.svg" />网页</li>
        </ul>
        <ul class="download-ul download-mobile down-select">
            <li class="col-sm-4 m3">
                <div class="down-box">
                    <div class="down-pic"><img src="~/images/down-gui.jpg" /><span class="h2">NEOGUI</span></div>
                    <p class="m2 t1">
                        开发者: <a href="https://github.com/PeterLinX" target="_blank">PeterLinX</a><br />
                        版本: 1.0.1<br />
                        支持语言: 中文/English<br />
                        支持平台: Android 5 及以上
                    </p>
                    <p class="m2 t1 bold-font">
                        <a href="https://github.com/PeterLinX/AntSharesApp" target="_blank">查看源代码</a><br />
                        <a>下载离线同步数据</a>
                    </p>
                    <a class="down-btn" title="Google Play" href="https://play.google.com/store/apps/details?id=neo.app" target="_blank">下载</a>
                </div>
            </li>
        </ul>

        <ul class="download-ul download-desktop">
            <li class="col-sm-4 m3">
                <div class="down-box">
                    <div class="down-pic"><img src="~/images/down-gui.jpg" /><span class="h2">NEO-GUI</span></div>
                    <p class="m2 t1">
                        开发者: <a href="https://github.com/neo-project" target="_blank">NEO Project</a><br />
                        支持语言: 中文 / English<br />
                        支持平台: Windows 7 SP及以上
                    </p>
                    <p class="m2 t1 bold-font">
                        <a href="https://github.com/neo-project/neo-gui/" target="_blank">查看源代码</a><br />
                        <a href="/client/chain.acc.zip" target="_blank">下载离线同步数据</a>
                    </p>
                    <a class="down-btn" href="https://github.com/neo-project/neo-gui/releases" target="_blank">下载</a>
                </div>
            </li>
            <li class="col-sm-4 m3">
                <div class="down-box">
                    <div class="down-pic"><img src="~/images/down-cli.jpg" /><span class="h2">NEO-CLI</span></div>
                    <p class="m2 t1">
                        开发者: <a href="https://github.com/neo-project" target="_blank">NEO Project</a><br />
                        支持语言: English<br />
                        支持平台: Windows / Linux
                    </p>
                    <p class="m2 t1 bold-font">
                        <a href="https://github.com/neo-project/neo-cli/" target="_blank">查看源代码</a><br />
                        <a href="/client/chain.acc.zip" target="_blank">下载离线同步数据</a>
                    </p>
                    <a class="down-btn" href="https://github.com/neo-project/neo-cli/releases" target="_blank">下载</a>
                </div>
            </li>
            <li class="col-sm-4 m3">
                <div class="down-box">
                    <div class="down-pic"><img src="~/images/banner2.svg" /><span class="h2">NEON</span></div>
                    <p class="m2 t1">
                        开发者: <a href="https://cityofzion.io" target="_blank">City of Zion</a><br />
                        支持语言: English<br />
                        支持平台: OSX / Windows / Linux
                    </p>
                    <p class="m2 t1 bold-font">
                        <a href="https://github.com/CityOfZion/neon-wallet" target="_blank">查看源代码</a><br />
                        下载离线同步数据
                    </p>
                    <a class="down-btn" href="https://github.com/CityOfZion/neon-wallet/releases" target="_blank">下载</a>
                </div>
            </li>
        </ul>

        <ul class="download-ul download-web">
            <li class="col-sm-4 m3">
                <div class="down-box">
                    <div class="down-pic"><img src="~/images/banner2.svg" /><span class="h2">NT</span></div>
                    <p class="m2 t1">
                        开发者: <a href="https://github.com/neo-project" target="_blank">NEO Project</a><br />
                        支持语言: 中文 / English<br />
                        支持平台: Windows 7 SP及以上
                    </p>
                    <p class="m2 t1 bold-font">
                        <a href="https://github.com/neo-project/neo-gui/" target="_blank">查看源代码</a><br />
                        <a href="/client/chain.acc.zip" target="_blank">下载离线同步数据</a>
                    </p>
                    <a class="down-btn" href="https://github.com/neo-project/neo-gui/releases" target="_blank">下载</a>
                </div>
            </li>
            <li class="col-sm-4 m3">
                <div class="down-box">
                    <div class="down-pic"><img src="~/images/banner2.svg" /><span class="h2">NEO WALLET</span></div>
                    <p class="m2 t1">
                        开发者: <a href="https://github.com/neo-project" target="_blank">NEO Project</a><br>
                        支持语言: English<br>
                        支持平台: Windows/Linux
                    </p>
                    <p class="m2 t1 bold-font">
                        <a href="https://github.com/neo-project/neo-cli/" target="_blank">查看源代码</a><br />
                        <a href="/client/chain.acc.zip" target="_blank">下载离线同步数据</a>
                    </p>
                    <a class="down-btn" href="https://github.com/neo-project/neo-cli/releases" target="_blank">下载</a>
                </div>
            </li>
            <li class="col-sm-4 m3">
                <div class="down-box">
                    <div class="down-pic"><img src="~/images/banner2.svg" /><span class="h2">蓝鲸淘</span></div>
                    <p class="m2 t1">
                        开发者: <a href="https://cityofzion.io" target="_blank">City of Zion</a><br>
                        支持语言: English<br>
                        支持平台: OSX / Windows / Linux
                    </p>
                    <p class="m2 t1 bold-font">
                        <a href="https://github.com/CityOfZion/neon-wallet" target="_blank">查看源代码</a><br />
                        下载离线同步数据
                    </p>
                    <a class="down-btn">下载</a>
                </div>
            </li>
        </ul>
    </div>
</div>
    @section Scripts{
        <script>
            $(function () {
                $("#downTab li").click(function () {
                    $(".downtab-select").removeClass("downtab-select");
                    $(this).addClass("downtab-select");
                    $(".down-select").removeClass("down-select");
                    switch ($(this).index()) {
                        case 0: $(".download-mobile").addClass("down-select"); break;
                        case 1: $(".download-desktop").addClass("down-select"); break;
                        case 2: $(".download-web").addClass("down-select"); break;
                    }
                })
            })
        </script>
    }
