@model List<NewsViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<div class="neo-feature-item">
    <div class="block-wrapper">
        <div class="block-icon-wrapper">
            <img src="@Helper.ToCDN("/images/transparent.png")" data-original="@ViewData["imagePath"]" />
        </div>
        <div class="block-content-wrapper">
            <div class="block-title">
                <i class="iconfont circle-arrow-icon">&#xe6ab;</i>
                @ViewData["title"]
            </div>
            <div class="block-paragraph">
                @ViewData["blurb"]
            </div>
        </div>
    </div>
</div>
